<?xml version="1.0" encoding="utf-8"?>
<grid xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" metadataversion="6" createdBy="系+先生+" createdOn="2017-11-12T06:23:11Z" modifiedBy="系+先生+" modifiedOn="2017-11-27T15:11:46.5945678+08:00" metadataStatus="Product" name="产品列表" functionPageId="bbc73c4c-71c7-e711-a3c6-5c514f31c666" description="" gridId="06064cf4-71c7-e711-a3c6-5c514f31c666">
    <layout autoLoad="true" templateStyle="default" pageStyle="default" pageSize="20" showListHeader="true" showTitle="false" entityName="cl_DemoProduct" entityId="e57de2a4-71c7-e711-a3c6-5c514f31c666" globalUseDataRights="false" rowUseDataRights="false" rowButtonStyle="0" autoHeight="true" projectFilter="false" projectFilterType="1" projectDisplayType="5" projectFilterMethod="0" projectFilterInherit="0" projectAllowSearch="true" queryHandler="Mysoft.Clgyl.ProductMng.Handlers.DemoProductAppGridQueryHandler, Mysoft.Clgyl.ProductMng" fixedTableHead="false">
        <toolbars>
            <toolbar toolbarId="1" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items />
                    </group>
                    <group align="right">
                        <items>
                            <item itemId="02064cf4-71c7-e711-a3c6-5c514f31c666" title="新增" isHighlight="true" type="button" id="mAdd" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                <items />
                                <events />
                                <behavior target="self" type="page" url="/Clgyl/Demo/M02219903/ProductEdit.aspx" id="0f5ccb79-74c7-e711-a3c6-5c514f31c666">
                                    <options />
                                    <params />
                                </behavior>
                                <customProps />
                            </item>
                            <item itemId="03064cf4-71c7-e711-a3c6-5c514f31c666" title=" 更多操作" isHighlight="false" type="menu" iconClassUrl="" iconClass="" id="mMore" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                <items>
                                    <item itemId="04064cf4-71c7-e711-a3c6-5c514f31c666" title="打印" isHighlight="false" type="button" iconClassUrl="" iconClass="" id="mPrint" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                        <items />
                                        <events>
                                            <event name="onclick" functionName="Mysoft.Map6.UI.Template.Grid.print(e);" enabled="true" />
                                        </events>
                                        <customProps />
                                    </item>
                                    <item itemId="05064cf4-71c7-e711-a3c6-5c514f31c666" title="导出" isHighlight="false" type="button" iconClassUrl="" iconClass="" id="mExport" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                        <items />
                                        <events>
                                            <event name="onclick" functionName="Mysoft.Map6.UI.Template.Grid.exportExcel(e);" enabled="true" />
                                        </events>
                                        <customProps />
                                    </item>
                                </items>
                                <events />
                                <customProps />
                            </item>
                        </items>
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
            <toolbar toolbarId="2" type="row" templateStyle="row">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items />
                    </group>
                    <group align="right">
                        <items>
                            <item itemId="58cb36a9-a47e-4e6f-bc87-5777cdfc35e6" title="删除" isHighlight="false" type="button" id="mDelRow" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.UI.Template.Grid.deleteCurrentRow();" enabled="true" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events>
            <event name="onquery" functionName="Mysoft.Clgyl.M02219903.Demo_ProductMain._ProductAppGrid_query(e);" enabled="true" />
        </events>
        <filter filterId="0a064cf4-71c7-e711-a3c6-5c514f31c666" autoExpand="false">
            <style labelWidth="85" />
            <conditions />
            <events />
        </filter>
        <quickFinds />
        <langs />
        <rule>
            <configs />
            <groups />
        </rule>
        <views>
            <view viewId="07064cf4-71c7-e711-a3c6-5c514f31c666" name="所有数据" isDefault="false" templateStyle="default" entityId="e57de2a4-71c7-e711-a3c6-5c514f31c666" isLookup="false">
                <dataSource keyName="DemoProductGUID" entity="cl_DemoProduct" withNoLock="true" mode="0">
                    <command type="sql" queryDb=""><![CDATA[Select cl_DemoProduct.CreatedGUID as CreatedGUID,
cl_DemoProduct.CreatedName as CreatedName,
cl_DemoProduct.CreatedTime as CreatedTime,
cl_DemoProduct.DemoProductGUID as DemoProductGUID,
cl_DemoProduct.ModifiedGUID as ModifiedGUID,
cl_DemoProduct.ModifiedName as ModifiedName,
cl_DemoProduct.ModifiedTime as ModifiedTime,
cl_DemoProduct.Name as Name,
cl_DemoProduct.Code as Code,
cl_DemoProduct.CategoryGUID as CategoryGUID 
From cl_DemoProduct As cl_DemoProduct  
Where (1=1)]]></command>
                    <fields>
                        <field name="DemoProductGUID" allowPopulate="true" entity="cl_DemoProduct" field="DemoProductGUID" entityAlias="cl_DemoProduct">
                            <fields />
                        </field>
                        <field name="Name" allowPopulate="true" entity="cl_DemoProduct" field="Name" entityAlias="cl_DemoProduct">
                            <fields />
                        </field>
                        <field name="Code" allowPopulate="true" entity="cl_DemoProduct" field="Code" entityAlias="cl_DemoProduct">
                            <fields />
                        </field>
                        <field name="CreatedTime" allowPopulate="true" entity="cl_DemoProduct" field="CreatedTime" entityAlias="cl_DemoProduct">
                            <fields />
                        </field>
                    </fields>
                    <availableFields>
                        <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_DemoProduct" entityType="0" />
                        <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_DemoProduct" entityType="0" />
                        <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_DemoProduct" entityType="0" />
                        <availableField name="DemoProductGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="DemoProductGUID" entity="cl_DemoProduct" entityType="0" />
                        <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_DemoProduct" entityType="0" />
                        <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_DemoProduct" entityType="0" />
                        <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_DemoProduct" entityType="0" />
                        <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_DemoProduct" entityType="0" />
                        <availableField name="Name" isRedundance="false" isPrimaryAttribute="false" aliasName="Name" entity="cl_DemoProduct" entityType="0" />
                        <availableField name="Code" isRedundance="false" isPrimaryAttribute="false" aliasName="Code" entity="cl_DemoProduct" entityType="0" />
                        <availableField name="CategoryGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CategoryGUID" entity="cl_DemoProduct" entityType="0" />
                    </availableFields>
                    <fixedSortings />
                    <summaries />
                    <diagrams>
                        <diagram id="e57de2a4-71c7-e711-a3c6-5c514f31c666" name="cl_DemoProduct" primaryField="DemoProductGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0">
                            <conditions />
                        </diagram>
                    </diagrams>
                </dataSource>
                <layout rowToolbarWidth="0" multiSelect="false" showIndexColumn="true" fixedColumns="0" frozenToolbar="true" allowEdit="false" idField="DemoProductGUID" editMode="0" autoInsertRow="false">
                    <columns>
                        <column title="名称" width="120" field="Name" allowEdit="false" id="ce61a9ac-a180-45ff-9764-59256ac5977b" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false">
                            <customProps />
                            <textBox id="01f54c75-6ce2-40c5-a703-f6a77be4b1f5" field="Name" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" isBold="false" maxLength="128">
                                <customProps />
                                <events />
                            </textBox>
                        </column>
                        <column title="编码" width="120" field="Code" allowEdit="false" id="0b573389-744f-4b03-81f1-f2ce138defb3" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false">
                            <customProps />
                            <textBox id="1df9dd33-8c08-4616-b5a9-828d4c73d079" field="Code" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" isBold="false" maxLength="128">
                                <customProps />
                                <events />
                            </textBox>
                        </column>
                        <column title="创建时间" width="120" field="CreatedTime" allowEdit="false" id="bf2d11ea-7e5e-440e-861a-75497a889f53" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="date" align="center" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false">
                            <customProps />
                            <datePicker id="576039fd-dbf3-4425-8202-0b94752155f8" field="CreatedTime" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" format="yyyy-MM-dd">
                                <customProps />
                                <events />
                            </datePicker>
                        </column>
                    </columns>
                    <sorts />
                    <fixedFilterConditions />
                    <summaries />
                    <events />
                    <attributes />
                </layout>
            </view>
        </views>
    </layout>
</grid>