<?xml version="1.0" encoding="utf-8"?>
<EventConfig>
  <Events>
    <!-- *************************************** 实体订阅 ************************************************BEGIN**************************************************-->
      <!--实体变更前-->
     <Event Name="Entity.ChangingEvent.Sys_OrganizationDataBase" Remark="">
      <Subscribers>
        <Subscriber Url="" />
      </Subscribers>
    </Event>
    <!--实体变更后-->
    <Event Name="Entity.ChangedEvent.Sys_OrganizationDataBase" Remark="">
      <Subscribers>
        <Subscriber Url="" />
      </Subscribers>
    </Event>
  </Events>
</EventConfig>
