html, body, span, div, p, a, table, tbody, td, h1, h2, h3, h4, h5, h6, img, form, font, strong, b, i, dl, dt, dd, ol, ul, li, dl, dd, dt, iframe, label, blockquote, input, button {padding:0; margin:0;list-style: none;}
body {line-height:22px;font-size:12px;font-family:arial,"\5B8B\4F53";color:#666;background:#fff;-webkit-text-size-adjust:none;}

img {vertical-align:middle; border:none;}
a {color:#666;text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover, a:active, a:focus {color:#f60;}
input,button,select,textarea{outline:none}
textarea{resize:none}


/* 清理浮动 */
.clearfix:after {visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0;}
.clearfix {zoom:1;}
.clear,.line_dashed{ clear:both; font-size:0; height:0; line-height:0;}
.green {color:#5cac20!important;}
.fl{float:left;} 
.fr{float:right;}
.space_15{ height:15px; font-size:0; clear:both;}
.space_30{ height:30px; font-size:0; clear:both;}
.space_50{ height:50px; font-size:0; clear:both;}
.right_bar{ float:right; width:300px;}
.left_bar{ float:left; width:620px;}
.relative{ position:relative;}

.line_dashed{ border-bottom:1px dashed #dbdbdb;}
#navigation{ height:50px; width:100%; margin:0 auto;}

.ddsmoothmenu{ float:left; font-size:14px; color:#dbdbdb; width:100%; height:50px; line-height:30px;}

.ddsmoothmenu ul{margin: 0;padding: 0;list-style-type: none;}

/*Top level list items*/
.ddsmoothmenu ul li{position: relative;display: inline;float: left;}
.ddsmoothmenu ul li.sel{background:url(../images/navigation.jpg) no-repeat 50% 100%;}
.ddsmoothmenu ul li.sel>a{ color:#ff6600;}


/*Top level menu link items style*/
.ddsmoothmenu ul li a{display: block;color: #333;padding:11px 32px;font-weight:bold;color: #2d2b2b;text-decoration: none;}

* html .ddsmoothmenu ul li a{ display: inline-block;}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{}

.ddsmoothmenu ul li a.selected,.ddsmoothmenu ul li a:hover{ background:#f96706 url(../images/nav_a_hover.jpg) repeat-x 0 0;color: white;}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{position: absolute;left: 0;display: none;visibility: hidden;}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{display: list-item;float: none;}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{top: 0;}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{background:url(../images/navigationbg.png) repeat 0 0;border-top-width: 0;color: #fff;font-size: 12px;font-weight: normal;margin: 0;padding: 8px 14px;width: 104px;}
/* Sub level menu links style */
.ddsmoothmenu ul li ul li a.selected{
background:url(../images/navigationbg_sel.png) repeat 0 0;
}
.ddsmoothmenu ul li ul li a:hover{
background:url(../images/navigationbg_sel.png) repeat 0 0;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow ../images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{ /*shadow for NON CSS3 capable browsers*/
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: silver;
}

.toplevelshadow{ /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
opacity: 0.6;
}

/* -- 橙条 -- */
#hr{ height:2px; background:#f60; clear:both; font-size:0;}

/* -- 内容框架 -- */
.container_bg{ background:url(../images/container_bg.jpg) repeat-x 0 0;}
.container{ width:950px; margin:0 auto;}

/*--子导航--*/
.subnav {padding: 14px 0; height: 23px;overflow: hidden;}
.subnav ul {float: right;margin-top: 5px; display:none; line-height:15px;}
.subnav li {display: inline;padding-left: 12px;*padding-left:10px;_padding-left:10px;}
.subnav li.lj { width:5px; padding-left:15px; border-right:1px solid #dbdbdb; margin-right:-2px;}
.subnav .selected a {color: #f60;}


/* -- 圆角模块 -- */
.module .line{ height:1px; background:#d3d3d3;margin:0 1px; font-size:0; line-height:0;overflow:hidden;}
.module .c{ border-left:1px solid #d3d3d3; border-right:1px solid #d3d3d3; line-height:24px; background:#fff;}
.module .c:after {visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0;}
.module .cont_pad{ padding:15px; line-height:22px; }
