body,div,table,a,p,span,ul,li{ margin:0px;padding:0px; text-decoration:none; font-size:12px;}

.topTool { position:absolute;line-height:64px;text-align:right;width:60px;color:white; right:0px;margin-right:10px; }
.topTool a { color:white; }
.topTool a:hover { color:#FCD209; font-weight:bold; }

.removeFloatDiv { clear:both; }

/*菜单样式*/
.parentMenuMain { background-color:#0055AA; width:100%; }
.parentMenu{ line-height:64px; padding-right:60px; }
.parentMenu a{ color:white; display:block;float:left; padding:0px 15px 0px 15px; font-size:13px; }
.parentMenu a:hover{ background-color:rgb(154,218,246); font-weight:bold; }
.parentMenuChange{ background-color:rgb(154,218,246); color:black; font-weight:bold; }

.childMenu{ background-color:rgb(39,145,222);height:40px;line-height:40px;}
.childMenu a{ display:block;float:left;color:white;padding-left:10px;padding-right:10px;}
.childMenu a:hover{ color:black;font-weight:bold; background-color:rgb(154,218,246); }
.titlesDiv{ background-color:rgb(211,238,250);}
.title{ height:31px;line-height:31px;margin-top:2px;margin-bottom:2px; display:block; margin-left:10px; float:left; 
        background-color:white; padding-left:5px; padding-right:5px; cursor:pointer;}

/*弹出层样式*/
.layer,.locklayer{ position:absolute;top:0;margin:0 auto;background-color:white;}
.layer{ 
    border:1px solid #DEDEDE; box-shadow: 3px 3px 0px #E5E5E5;
    -webkit-border-radius: 0px;border-radius: 0px;overflow:visible;
}
.locklayer{ filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8; }
.layerTopBar{ height:36px;line-height:36px;padding-left:10px;font-weight:bold;background-color:#2791DE; }
.layerTopBar span { font-size:15px;color:white; }
.layerTopBar a{ color:white;display:block;float:right;font-size:20px;margin-right:6px; }
.layerTopBar a:hover{ color:Red; }