<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" metadataversion="6" createdBy="系+先生+" createdOn="2017-11-20T06:52:26Z" modifiedBy="系+先生+" modifiedOn="2017-11-20T15:52:26.6255963+08:00" metadataStatus="Product" formId="0ade2b5d-bfcd-e711-aa53-94c691050e22" name="产品分类_演示表单控件" entityId="5ba364f0-dac2-e711-9d40-5c514f31c666" functionPageId="fbdd2b5d-bfcd-e711-aa53-94c691050e22">
    <dataSource keyName="DemoProductCategoryGUID" entity="cl_DemoProductCategory" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select cl_DemoProductCategory.Code as Code,
cl_DemoProductCategory.Name as Name,
cl_DemoProductCategory.ParentGUID as ParentGUID,
cl_DemoProductCategory.CreatedGUID as CreatedGUID,
cl_DemoProductCategory.CreatedName as CreatedName,
cl_DemoProductCategory.CreatedTime as CreatedTime,
cl_DemoProductCategory.DemoProductCategoryGUID as DemoProductCategoryGUID,
cl_DemoProductCategory.ModifiedGUID as ModifiedGUID,
cl_DemoProductCategory.ModifiedName as ModifiedName,
cl_DemoProductCategory.ModifiedTime as ModifiedTime 
From cl_DemoProductCategory As cl_DemoProductCategory 
Where cl_DemoProductCategory.DemoProductCategoryGUID=@oid]]></command>
        <fields>
            <field name="Code" allowPopulate="true" entity="cl_DemoProductCategory" field="Code" entityAlias="cl_DemoProductCategory">
                <fields />
            </field>
            <field name="Name" allowPopulate="true" entity="cl_DemoProductCategory" field="Name" entityAlias="cl_DemoProductCategory">
                <fields />
            </field>
            <field name="ParentGUID" allowPopulate="true" entity="cl_DemoProductCategory" field="ParentGUID" entityAlias="cl_DemoProductCategory">
                <fields />
            </field>
            <field name="DemoProductCategoryGUID" allowPopulate="true" entity="cl_DemoProductCategory" field="DemoProductCategoryGUID" entityAlias="cl_DemoProductCategory">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="Code" isRedundance="false" isPrimaryAttribute="false" aliasName="Code" entity="cl_DemoProductCategory" entityType="0" />
            <availableField name="Name" isRedundance="false" isPrimaryAttribute="false" aliasName="Name" entity="cl_DemoProductCategory" entityType="0" />
            <availableField name="ParentGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ParentGUID" entity="cl_DemoProductCategory" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_DemoProductCategory" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_DemoProductCategory" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_DemoProductCategory" entityType="0" />
            <availableField name="DemoProductCategoryGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="DemoProductCategoryGUID" entity="cl_DemoProductCategory" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_DemoProductCategory" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_DemoProductCategory" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_DemoProductCategory" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_DemoProductCategory" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="5ba364f0-dac2-e711-9d40-5c514f31c666" name="cl_DemoProductCategory" primaryField="DemoProductCategoryGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0">
                <conditions />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" title="新分区" tabTitle="" disableStyle="true">
                <events />
                <groups>
                    <group title="新分组" disableStyle="true">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="1d89d1a0-07c9-4572-94a2-24350cbfee70" colSpan="1" rowSpan="1">
                                        <label title="编码" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="编码" field="Code" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false">
                                            <customProps />
                                            <textBox id="1a50b432-7237-4e98-8381-512f498ffdcc" field="Code" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                    <cell id="a33f38c4-833d-4266-aff8-c0210a279292" colSpan="1" rowSpan="1">
                                        <label title="名称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="名称" field="Name" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false">
                                            <customProps />
                                            <textBox id="00ab1d8c-b2cd-480c-843a-3badc983f653" field="Name" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="84be9a4a-7a70-44ee-93a8-2c40fb5fa057" colSpan="1" rowSpan="1">
                                        <label title="父级GUID" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="父级GUID" field="ParentGUID" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false">
                                            <customProps />
                                            <textBox id="3f5f93c4-58e0-4cfc-9a89-6505d93a7850" field="ParentGUID" errorMode="default" readonlyMode="none" defaultValue="[query:ParentGuid]" requirementLevel="none" isHidden="true" isBold="false" maxLength="0">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                    <cell id="cf8d5ceb-03fb-4b4f-8e50-37c17886a9ee" colSpan="1" rowSpan="1" />
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="0bde2b5d-bfcd-e711-aa53-94c691050e22" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="保存" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Clgyl.M02219910.cl_DemoProductCategoryEdit._appForm_mSave_click(e);" enabled="true" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="09de2b5d-bfcd-e711-aa53-94c691050e22" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.Utility.closeOwnerDialog();" enabled="true" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events />
        <attributes />
        <hiddens>
            <hidden id="608fcf49-1acd-40ed-a87f-f38d242d2eb6" field="" errorMode="default" readonlyMode="none" defaultValue="[query:]" requirementLevel="none" isHidden="false" allowPopulate="false" isCustomField="false">
                <customProps />
                <events />
            </hidden>
        </hiddens>
        <langs />
        <rule>
            <configs>
                <config id="2b554f34-4865-4765-b916-366845070c31" title="默认规则" controlId="eded6431-c6a3-411d-8f94-188c0610b3b9" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSave">
                    <handles>
                        <handle ruleId="df238172-aa64-4fe7-89c6-56e8cad9c5f9" action="hide" value="" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>