<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" metadataversion="6" createdBy="系+先生+" createdOn="2017-11-25T04:03:58Z" modifiedBy="系+先生+" modifiedOn="2017-12-13T10:34:12.3624932+08:00" metadataStatus="Product" formId="29193ca9-95d1-e711-be2e-4ccc6aeee2e4" name="材料税目设置表单控件" entityId="53e1f2aa-94d1-e711-be2e-4ccc6aeee2e4" functionPageId="1a193ca9-95d1-e711-be2e-4ccc6aeee2e4">
    <dataSource keyName="TaxItemGUID" entity="cl_TaxItem" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select cl_TaxItem.BUGUID as BUGUID,
cl_TaxItem.Obligation as Obligation,
cl_TaxItem.Range as Range,
cl_TaxItem.Remarks as Remarks,
cl_TaxItem.TaxItem as TaxItem,
cl_TaxItem.TaxRate as TaxRate,
cl_TaxItem.CreatedGUID as CreatedGUID,
cl_TaxItem.CreatedName as CreatedName,
cl_TaxItem.CreatedTime as CreatedTime,
cl_TaxItem.ModifiedGUID as ModifiedGUID,
cl_TaxItem.ModifiedName as ModifiedName,
cl_TaxItem.ModifiedTime as ModifiedTime,
cl_TaxItem.TaxItemGUID as TaxItemGUID 
From cl_TaxItem As cl_TaxItem 
Where cl_TaxItem.TaxItemGUID=@oid]]></command>
        <fields>
            <field name="TaxItem" allowPopulate="true" entity="cl_TaxItem" field="TaxItem" entityAlias="cl_TaxItem" metadataStatus="Product">
                <fields />
            </field>
            <field name="TaxRate" allowPopulate="true" entity="cl_TaxItem" field="TaxRate" entityAlias="cl_TaxItem" metadataStatus="Product">
                <fields />
            </field>
            <field name="Obligation" allowPopulate="true" entity="cl_TaxItem" field="Obligation" entityAlias="cl_TaxItem" metadataStatus="Product">
                <fields />
            </field>
            <field name="Range" allowPopulate="true" entity="cl_TaxItem" field="Range" entityAlias="cl_TaxItem" metadataStatus="Product">
                <fields />
            </field>
            <field name="Remarks" allowPopulate="true" entity="cl_TaxItem" field="Remarks" entityAlias="cl_TaxItem" metadataStatus="Product">
                <fields />
            </field>
            <field name="BUGUID" allowPopulate="true" entity="cl_TaxItem" field="BUGUID" entityAlias="cl_TaxItem" metadataStatus="Product">
                <fields />
            </field>
            <field name="TaxItemGUID" allowPopulate="true" entity="cl_TaxItem" field="TaxItemGUID" entityAlias="cl_TaxItem" metadataStatus="Product">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="BUGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="BUGUID" entity="cl_TaxItem" entityType="0" />
            <availableField name="Obligation" isRedundance="false" isPrimaryAttribute="false" aliasName="Obligation" entity="cl_TaxItem" entityType="0" />
            <availableField name="Range" isRedundance="false" isPrimaryAttribute="false" aliasName="Range" entity="cl_TaxItem" entityType="0" />
            <availableField name="Remarks" isRedundance="false" isPrimaryAttribute="false" aliasName="Remarks" entity="cl_TaxItem" entityType="0" />
            <availableField name="TaxItem" isRedundance="false" isPrimaryAttribute="false" aliasName="TaxItem" entity="cl_TaxItem" entityType="0" />
            <availableField name="TaxRate" isRedundance="false" isPrimaryAttribute="false" aliasName="TaxRate" entity="cl_TaxItem" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_TaxItem" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_TaxItem" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_TaxItem" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_TaxItem" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_TaxItem" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_TaxItem" entityType="0" />
            <availableField name="TaxItemGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="TaxItemGUID" entity="cl_TaxItem" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_TaxItem" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="53e1f2aa-94d1-e711-be2e-4ccc6aeee2e4" name="cl_TaxItem" primaryField="TaxItemGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0" metadataStatus="Product">
                <conditions />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" title="新分区" tabTitle="" disableStyle="true" metadataStatus="Product" key="表单ID-29193ca9-95d1-e711-be2e-4ccc6aeee2e4|tab索引0|分区索引0|分区名称">
                <events />
                <groups>
                    <group title="新分组" disableStyle="true" key="表单ID-29193ca9-95d1-e711-be2e-4ccc6aeee2e4|tab索引0|分区索引0|分组索引0|分组名称" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="0d5aedea-b1d0-4877-9af5-695e5fb8a8ca" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="税目" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="税目" field="TaxItem" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="e1110e4d-5742-47cd-a5bb-b74bd8e95099" field="TaxItem" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="required" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                    <cell id="2a729571-cf05-4b83-aac8-f08d9dd7ebdf" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="税率（%）" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="税率" field="TaxRate" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="number" align="right" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <spinner id="b8c395be-ece9-4993-b534-6127060927d8" field="TaxRate" errorMode="default" readonlyMode="none" defaultValue="0.00" requirementLevel="required" templateStyle="" isHidden="false" metadataStatus="Product" precision="2" precisionType="0" rounding="2" roundingType="0" showThousandths="true" isBold="false" allowZero="true" allowEmpty="false" showPercentage="false" unitText="" unitTextType="0" unitTextBizParam="" minValue="-99999999999.99" maxValue="99999999999.99" minOperatorType="ge" maxOperatorType="le">
                                                <customProps />
                                                <events />
                                            </spinner>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="0a003f5d-fbdd-4fe5-bc2a-c0b5fc507f38" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="纳税义务人" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="纳税义务人" field="Obligation" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="22763239-3e76-4d52-8256-32336a0aac6c" field="Obligation" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                    <cell id="c50daea9-fe95-4177-a278-018cb1241967" colSpan="1" rowSpan="1" metadataStatus="Product" />
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="7ccc4c58-bd75-484d-bf8d-8ad4bb794b51" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="范围" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="范围" field="Range" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textArea id="dff1277e-9a2d-4787-98ea-7a714dd583dc" field="Range" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" height="120" maxLength="2000">
                                                <customProps />
                                                <events />
                                            </textArea>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="0848aa37-360a-4faf-9408-2e84c588362d" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="说明" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="说明" field="Remarks" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textArea id="8e67536c-f69b-4792-8fb2-bd4719ab619a" field="Remarks" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" height="120" maxLength="2000">
                                                <customProps />
                                                <events />
                                            </textArea>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="2a193ca9-95d1-e711-be2e-4ccc6aeee2e4" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="d78fab03-208e-4d5d-86a3-026cc63e5520" title="保存&amp;新增" isHighlight="true" type="button" iconClassUrl="" iconClass="" id="button_SaveAndNew" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Clgyl.M02210104.TaxItemEdit._appForm_button_SaveAndNew_click(e);" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps>
                                    <props>isHidden</props>
                                </customProps>
                            </item>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="保存&amp;关闭" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Clgyl.M02210104.TaxItemEdit._appForm_mSave_click(e);" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="28193ca9-95d1-e711-be2e-4ccc6aeee2e4" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.Utility.closeOwnerDialog();" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events />
        <attributes />
        <hiddens>
            <hidden id="71a07ddf-94d1-e711-be2e-4ccc6aeee2e4" field="BUGUID" errorMode="default" readonlyMode="none" defaultValue="[query:buid]" requirementLevel="none" isHidden="true" metadataStatus="Product" allowPopulate="false" isCustomField="false">
                <customProps />
                <events />
            </hidden>
        </hiddens>
        <langs />
        <rule>
            <configs>
                <config id="e30a8577-769e-40af-ac76-59c418438902" title="默认规则" controlId="eded6431-c6a3-411d-8f94-188c0610b3b9" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSave" metadataStatus="Product">
                    <handles>
                        <handle handleId="5bfcd325-7dd9-45cd-b8fb-45039604caff" ruleId="df238172-aa64-4fe7-89c6-56e8cad9c5f9" action="hide" value="" metadataStatus="Product" />
                    </handles>
                </config>
                <config id="a2e77abf-f00c-4b68-a834-19f0be495c9f" title="新规则" controlId="d78fab03-208e-4d5d-86a3-026cc63e5520" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="button_SaveAndNew" metadataStatus="Product">
                    <handles>
                        <handle handleId="5b1611a3-00ec-4c06-bcf7-a30367290afc" ruleId="c8918ae7-5b08-481a-bb1b-d50ee3d891a1" action="hide" value="" metadataStatus="Product" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" metadataStatus="Product" />
                <group id="c8918ae7-5b08-481a-bb1b-d50ee3d891a1" title="保存并新增" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;not_equal&quot;,&quot;value&quot;:&quot;1&quot;}]}" metadataStatus="Product" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>