<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" metadataversion="6" createdBy="系+先生+" createdOn="2017-11-24T02:31:58Z" modifiedBy="系+先生+" modifiedOn="2017-12-13T10:34:47.4094932+08:00" metadataStatus="Product" formId="39059ea4-bfd0-e711-be2e-4ccc6aeee2e4" name="集团级合同类别表表单控件" entityId="e83ae40a-bfd0-e711-be2e-4ccc6aeee2e4" functionPageId="2a059ea4-bfd0-e711-be2e-4ccc6aeee2e4">
    <dataSource keyName="ContractTypeGUID" entity="cl_ContractType" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select cl_ContractType.ContractTypeCode as ContractTypeCode,
cl_ContractType.ContractTypeFullCode as ContractTypeFullCode,
cl_ContractType.ContractTypeName as ContractTypeName,
cl_ContractType.ContractTypeShortName as ContractTypeShortName,
cl_ContractType.IsEngineeringType as IsEngineeringType,
cl_ContractType.ParentContractTypeGUID as ParentContractTypeGUID,
cl_ContractType.Remarks as Remarks,
cl_ContractType.ContractTypeGUID as ContractTypeGUID,
cl_ContractType.CreatedGUID as CreatedGUID,
cl_ContractType.CreatedName as CreatedName,
cl_ContractType.CreatedTime as CreatedTime,
cl_ContractType.ModifiedGUID as ModifiedGUID,
cl_ContractType.ModifiedName as ModifiedName,
cl_ContractType.ModifiedTime as ModifiedTime 
From cl_ContractType As cl_ContractType 
Where cl_ContractType.ContractTypeGUID=@oid]]></command>
        <fields>
            <field name="ContractTypeName" allowPopulate="true" entity="cl_ContractType" field="ContractTypeName" entityAlias="cl_ContractType" metadataStatus="Product">
                <fields />
            </field>
            <field name="ContractTypeCode" allowPopulate="true" entity="cl_ContractType" field="ContractTypeCode" entityAlias="cl_ContractType" metadataStatus="Product">
                <fields />
            </field>
            <field name="IsEngineeringType" allowPopulate="true" entity="cl_ContractType" field="IsEngineeringType" entityAlias="cl_ContractType" metadataStatus="Product">
                <fields />
            </field>
            <field name="ParentContractTypeGUID" allowPopulate="true" entity="cl_ContractType" field="ParentContractTypeGUID" entityAlias="cl_ContractType" metadataStatus="Product">
                <fields />
            </field>
            <field name="ContractTypeGUID" allowPopulate="true" entity="cl_ContractType" field="ContractTypeGUID" entityAlias="cl_ContractType" metadataStatus="Product">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="ContractTypeCode" isRedundance="false" isPrimaryAttribute="false" aliasName="ContractTypeCode" entity="cl_ContractType" entityType="0" />
            <availableField name="ContractTypeFullCode" isRedundance="false" isPrimaryAttribute="false" aliasName="ContractTypeFullCode" entity="cl_ContractType" entityType="0" />
            <availableField name="ContractTypeName" isRedundance="false" isPrimaryAttribute="false" aliasName="ContractTypeName" entity="cl_ContractType" entityType="0" />
            <availableField name="ContractTypeShortName" isRedundance="false" isPrimaryAttribute="false" aliasName="ContractTypeShortName" entity="cl_ContractType" entityType="0" />
            <availableField name="IsEngineeringType" isRedundance="false" isPrimaryAttribute="false" aliasName="IsEngineeringType" entity="cl_ContractType" entityType="0" />
            <availableField name="ParentContractTypeGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ParentContractTypeGUID" entity="cl_ContractType" entityType="0" />
            <availableField name="Remarks" isRedundance="false" isPrimaryAttribute="false" aliasName="Remarks" entity="cl_ContractType" entityType="0" />
            <availableField name="ContractTypeGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ContractTypeGUID" entity="cl_ContractType" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_ContractType" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_ContractType" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_ContractType" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_ContractType" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_ContractType" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_ContractType" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_ContractType" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="e83ae40a-bfd0-e711-be2e-4ccc6aeee2e4" name="cl_ContractType" primaryField="ContractTypeGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0" metadataStatus="Product">
                <conditions />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" title="新分区" tabTitle="" disableStyle="true" metadataStatus="Product" key="表单ID-39059ea4-bfd0-e711-be2e-4ccc6aeee2e4|tab索引0|分区索引0|分区名称">
                <events />
                <groups>
                    <group title="新分组" disableStyle="true" key="表单ID-39059ea4-bfd0-e711-be2e-4ccc6aeee2e4|tab索引0|分区索引0|分组索引0|分组名称" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="150px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="f0fca27f-9337-4645-b9aa-e551e2609f1f" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="合同类别名称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="合同类别名称" field="ContractTypeName" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="bd8a87af-6d93-4f43-a017-947952d6a96d" field="ContractTypeName" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="required" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="d2afebfb-ddc6-42b1-8d8a-80cefe593fa8" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="合同类别代码" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="合同类别代码" field="ContractTypeCode" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="a40fd10d-4800-4743-8bfd-1577240db1a9" field="ContractTypeCode" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="required" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="f033d486-f41d-4f44-bd27-6d55048f78e9" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="是否工程类合同" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="是否工程类合同" field="IsEngineeringType" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <radioButtonList id="05050e67-0b39-4fb7-8670-dd453d197c38" field="IsEngineeringType" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" optionsType="options" redundancyField="" disableFolderSelect="false" showLongText="false" valueFromSelect="false" allowEmpty="false">
                                                <customProps />
                                                <events />
                                                <options>
                                                    <option value="1" text="是" isDefault="true" />
                                                    <option value="2" text="否" isDefault="false" />
                                                </options>
                                            </radioButtonList>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="a58b0386-d8bb-40bc-ac3c-feda12a32c0c" colSpan="1" rowSpan="1" metadataStatus="Product" />
                                    <cell id="016e1916-0f54-4540-ae1f-6b8872d731a5" colSpan="1" rowSpan="1" metadataStatus="Product" />
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="3a059ea4-bfd0-e711-be2e-4ccc6aeee2e4" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="880c2948-bafc-4131-83e0-030ff21b2581" title="保存&amp;新增" isHighlight="true" type="button" iconClassUrl="" iconClass="" id="mSaveAndAdd" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.UI.Template.Form.defaultSaveAndNew();" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="保存&amp;关闭" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.UI.Template.Form.defaultSaveAndClose();" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="38059ea4-bfd0-e711-be2e-4ccc6aeee2e4" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.Utility.closeOwnerDialog();" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events />
        <attributes />
        <hiddens>
            <hidden id="788ead34-bfd0-e711-be2e-4ccc6aeee2e4" field="ParentContractTypeGUID" errorMode="default" readonlyMode="none" defaultValue="[query:ParentContractTypeGUID]" requirementLevel="none" isHidden="true" metadataStatus="Product" allowPopulate="false" isCustomField="false">
                <customProps />
                <events />
            </hidden>
            <hidden id="d83ae40a-bfd0-e711-be2e-4ccc6aeee2e4" field="ContractTypeGUID" errorMode="default" readonlyMode="none" defaultValue="[query:oid]" requirementLevel="none" isHidden="true" metadataStatus="Product" allowPopulate="false" isCustomField="false">
                <customProps />
                <events />
            </hidden>
        </hiddens>
        <langs />
        <rule>
            <configs>
                <config id="2b554f34-4865-4765-b916-366845070c31" title="默认规则" controlId="eded6431-c6a3-411d-8f94-188c0610b3b9" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSave" metadataStatus="Product">
                    <handles>
                        <handle handleId="df546003-f574-4242-ba8d-c5740a384fa1" ruleId="df238172-aa64-4fe7-89c6-56e8cad9c5f9" action="hide" value="" metadataStatus="Product" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" metadataStatus="Product" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>