<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" metadataversion="6" createdBy="系+先生+" createdOn="2017-11-06T10:16:35Z" modifiedBy="系+先生+" modifiedOn="2017-11-06T18:35:18.959862+08:00" metadataStatus="Product" formId="412bde90-dbc2-e711-9d40-5c514f31c666" name="产品分类表单控件" entityId="5ba364f0-dac2-e711-9d40-5c514f31c666" functionPageId="322bde90-dbc2-e711-9d40-5c514f31c666">
    <dataSource keyName="DemoProductCategoryGUID" entity="cl_DemoProductCategory" withNoLock="true" mode="1">
        <command type="sql" queryDb="" fromSql="cl_DemoProductCategory   where (1=1) "><![CDATA[SELECT cl_DemoProductCategory.Name as [Name],cl_DemoProductCategory.Code as [Code],cl_DemoProductCategory.ParentGUID as [ParentGUID],cl_DemoProductCategory.DemoProductCategoryGUID as [DemoProductCategoryGUID] FROM cl_DemoProductCategory WITH ( NOLOCK )  WHERE  cl_DemoProductCategory.DemoProductCategoryGUID = @oid]]></command>
        <fields>
            <field name="Name" allowPopulate="true" entity="cl_DemoProductCategory" field="Name" entityAlias="cl_DemoProductCategory" />
            <field name="Code" allowPopulate="true" entity="cl_DemoProductCategory" field="Code" entityAlias="cl_DemoProductCategory">
                <fields />
            </field>
            <field name="ParentGUID" allowPopulate="true" entity="cl_DemoProductCategory" field="ParentGUID" entityAlias="cl_DemoProductCategory">
                <fields />
            </field>
            <field name="DemoProductCategoryGUID" allowPopulate="true" entity="cl_DemoProductCategory" field="DemoProductCategoryGUID" entityAlias="cl_DemoProductCategory" />
        </fields>
        <availableFields>
            <availableField name="CreatedGUID" id="4da364f0-dac2-e711-9d40-5c514f31c666" isRedundance="false" isPrimaryAttribute="false" clrType="System.Guid" clrTypeShortName="guid" length="0" aliasName="CreatedGUID" entity="cl_DemoProductCategory" entityType="0" />
            <availableField name="CreatedName" id="4ea364f0-dac2-e711-9d40-5c514f31c666" isRedundance="false" isPrimaryAttribute="false" clrType="System.String" clrTypeShortName="string" length="128" aliasName="CreatedName" entity="cl_DemoProductCategory" entityType="0" />
            <availableField name="CreatedTime" id="4ca364f0-dac2-e711-9d40-5c514f31c666" isRedundance="false" isPrimaryAttribute="false" clrType="System.DateTime" clrTypeShortName="datetime" length="0" aliasName="CreatedTime" entity="cl_DemoProductCategory" entityType="0" />
            <availableField name="DemoProductCategoryGUID" id="4ba364f0-dac2-e711-9d40-5c514f31c666" isRedundance="false" isPrimaryAttribute="false" clrType="System.Guid" clrTypeShortName="guid" length="0" aliasName="DemoProductCategoryGUID" entity="cl_DemoProductCategory" entityType="0" />
            <availableField name="ModifiedGUID" id="50a364f0-dac2-e711-9d40-5c514f31c666" isRedundance="false" isPrimaryAttribute="false" clrType="System.Guid" clrTypeShortName="guid" length="0" aliasName="ModifiedGUID" entity="cl_DemoProductCategory" entityType="0" />
            <availableField name="ModifiedName" id="51a364f0-dac2-e711-9d40-5c514f31c666" isRedundance="false" isPrimaryAttribute="false" clrType="System.String" clrTypeShortName="string" length="128" aliasName="ModifiedName" entity="cl_DemoProductCategory" entityType="0" />
            <availableField name="ModifiedTime" id="4fa364f0-dac2-e711-9d40-5c514f31c666" isRedundance="false" isPrimaryAttribute="false" clrType="System.DateTime" clrTypeShortName="datetime" length="0" aliasName="ModifiedTime" entity="cl_DemoProductCategory" entityType="0" />
            <availableField name="VersionNumber" id="52a364f0-dac2-e711-9d40-5c514f31c666" isRedundance="false" isPrimaryAttribute="false" clrType="System.Byte[]" clrTypeShortName="byte[]" length="0" aliasName="VersionNumber" entity="cl_DemoProductCategory" entityType="0" />
            <availableField name="Name" id="b42298fa-dac2-e711-9d40-5c514f31c666" isRedundance="false" isPrimaryAttribute="false" clrType="System.String" clrTypeShortName="string" length="128" aliasName="Name" entity="cl_DemoProductCategory" entityType="0" />
            <availableField name="ParentGUID" id="824abe0c-dbc2-e711-9d40-5c514f31c666" isRedundance="false" isPrimaryAttribute="false" clrType="System.Guid" clrTypeShortName="guid" length="0" aliasName="ParentGUID" entity="cl_DemoProductCategory" entityType="0" />
            <availableField name="Code" id="abf57614-dbc2-e711-9d40-5c514f31c666" isRedundance="false" isPrimaryAttribute="false" clrType="System.String" clrTypeShortName="string" length="128" aliasName="Code" entity="cl_DemoProductCategory" entityType="0" />
        </availableFields>
        <diagrams>
            <diagram id="5ba364f0-dac2-e711-9d40-5c514f31c666" primaryField="DemoProductCategoryGUID" projFilter="false" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0">
                <conditions />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" title="新分区" tabTitle="" disableStyle="true">
                <events />
                <groups>
                    <group title="新分组" disableStyle="true">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="100%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="0d34f24c-fdc2-488f-8dcc-861c5e2abe30" colSpan="1" rowSpan="1">
                                        <label title="名称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="名称" field="Name" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false">
                                            <customProps />
                                            <textBox id="9ee68cc7-05e6-407d-a2cd-87f9a01b7336" field="Name" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" isBold="false" maxLength="128">
                                                <customProps />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="3e001e2a-9e67-4f13-8e37-86f15018b377" colSpan="1" rowSpan="1">
                                        <label title="编码" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="编码" field="Code" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false">
                                            <customProps />
                                            <textBox id="7b74caaa-0c4b-45a8-a8ee-1ba54ab18365" field="Code" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" isBold="false" maxLength="128">
                                                <customProps />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="8ff67878-9211-4814-abcf-7a07519aecbd" colSpan="1" rowSpan="1">
                                        <label title="父级GUID" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="父级GUID" field="ParentGUID" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false">
                                            <customProps />
                                            <textBox id="6c32df76-2d10-4b3f-92ee-179341ed825d" field="ParentGUID" errorMode="default" readonlyMode="none" defaultValue="[query:parentGUID]" requirementLevel="none" isHidden="true" isBold="false" maxLength="0">
                                                <customProps />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="422bde90-dbc2-e711-9d40-5c514f31c666" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="保存" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.UI.Template.Form.defaultSaveAndClose();" enabled="true" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="402bde90-dbc2-e711-9d40-5c514f31c666" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.Utility.back();" enabled="true" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events />
        <attributes />
        <hiddens>
            <hidden id="b5789f4c-ebe4-4d75-ac9f-c62698f8bc1f" field="" errorMode="default" readonlyMode="none" defaultValue="[query:]" requirementLevel="none" isHidden="false" allowPopulate="false" isCustomField="false">
                <customProps />
                <events />
            </hidden>
        </hiddens>
        <langs />
        <rule>
            <configs>
                <config id="2b554f34-4865-4765-b916-366845070c31" title="默认规则" controlId="eded6431-c6a3-411d-8f94-188c0610b3b9" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSave">
                    <handles>
                        <handle ruleId="df238172-aa64-4fe7-89c6-56e8cad9c5f9" action="hide" value="" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>