<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" metadataversion="6" createdBy="系+先生+" createdOn="2017-11-23T08:10:51Z" modifiedBy="系+先生+" modifiedOn="2017-11-29T11:19:51.8393769+08:00" metadataStatus="Product" formId="41f899d1-25d0-e711-8855-54e1ad1cb095" name="驳回记录表单" entityId="fe4b15cd-5cce-e711-8855-54e1ad1cb095" functionPageId="3ef899d1-25d0-e711-8855-54e1ad1cb095">
    <dataSource keyName="RejectGUID" entity="cl_Reject" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select cl_Reject.CreatedGUID as CreatedGUID,
cl_Reject.CreatedName as CreatedName,
cl_Reject.CreatedTime as CreatedTime,
cl_Reject.ModifiedGUID as ModifiedGUID,
cl_Reject.ModifiedName as ModifiedName,
cl_Reject.ModifiedTime as ModifiedTime,
cl_Reject.RejectGUID as RejectGUID,
cl_Reject.Type as Type,
cl_Reject.SourceID as SourceID,
cl_Reject.Remark as Remark 
From cl_Reject As cl_Reject 
Where cl_Reject.RejectGUID=@oid]]></command>
        <fields>
            <field name="Remark" allowPopulate="true" entity="cl_Reject" field="Remark" entityAlias="cl_Reject">
                <fields />
            </field>
            <field name="SourceID" allowPopulate="true" entity="cl_Reject" field="SourceID" entityAlias="cl_Reject">
                <fields />
            </field>
            <field name="Type" allowPopulate="true" entity="cl_Reject" field="Type" entityAlias="cl_Reject">
                <fields />
            </field>
            <field name="RejectGUID" allowPopulate="true" entity="cl_Reject" field="RejectGUID" entityAlias="cl_Reject">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_Reject" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_Reject" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_Reject" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_Reject" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_Reject" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_Reject" entityType="0" />
            <availableField name="RejectGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="RejectGUID" entity="cl_Reject" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_Reject" entityType="0" />
            <availableField name="Type" isRedundance="false" isPrimaryAttribute="false" aliasName="Type" entity="cl_Reject" entityType="0" />
            <availableField name="SourceID" isRedundance="false" isPrimaryAttribute="false" aliasName="SourceID" entity="cl_Reject" entityType="0" />
            <availableField name="Remark" isRedundance="false" isPrimaryAttribute="false" aliasName="Remark" entity="cl_Reject" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="fe4b15cd-5cce-e711-8855-54e1ad1cb095" name="cl_Reject" primaryField="RejectGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0">
                <conditions />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" title="新分区" tabTitle="" disableStyle="true">
                <events />
                <groups>
                    <group title="新分组" disableStyle="true">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="0d5aedea-b1d0-4877-9af5-695e5fb8a8ca" colSpan="2" rowSpan="1">
                                        <label title="打回原因" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="备注" field="Remark" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false">
                                            <customProps />
                                            <textArea id="c38d3088-de2d-441e-ae51-49584f10b136" field="Remark" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="required" isHidden="false" height="60" maxLength="200">
                                                <customProps />
                                                <events />
                                            </textArea>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="3da6835b-84f1-445b-acba-3257b1028ba3" colSpan="1" rowSpan="1">
                                        <label title="来源ID" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="来源ID" field="SourceID" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false">
                                            <customProps />
                                            <textBox id="9c8c2a21-4aae-41dc-b1d5-32043c2eac6a" field="SourceID" errorMode="default" readonlyMode="none" defaultValue="[query:SourceID]" requirementLevel="none" isHidden="true" isBold="false" maxLength="0">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                    <cell id="b70444ad-5374-47b7-89d5-37445f6ac781" colSpan="1" rowSpan="1">
                                        <label title="类型" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="类型" field="Type" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false">
                                            <customProps />
                                            <textBox id="67740da5-c2cf-4e33-aa68-3e1b72f1e25b" field="Type" errorMode="default" readonlyMode="none" defaultValue="4" requirementLevel="none" isHidden="true" isBold="false" maxLength="0">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="42f899d1-25d0-e711-8855-54e1ad1cb095" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="打回" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Clgyl.M02210305.RejectEdit._appForm_mSave_click(e);" enabled="true" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="40f899d1-25d0-e711-8855-54e1ad1cb095" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.Utility.closeOwnerDialog();" enabled="true" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events />
        <attributes />
        <hiddens />
        <langs />
        <rule>
            <configs>
                <config id="e30a8577-769e-40af-ac76-59c418438902" title="默认规则" controlId="eded6431-c6a3-411d-8f94-188c0610b3b9" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSave">
                    <handles>
                        <handle ruleId="df238172-aa64-4fe7-89c6-56e8cad9c5f9" action="hide" value="" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>