<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" metadataversion="6" createdBy="系+先生+" createdOn="2017-11-27T10:21:10Z" modifiedBy="系+先生+" modifiedOn="2017-12-19T15:40:23.0486003+08:00" metadataStatus="Product" formId="444f98af-5cd3-e711-bd7f-94c69101ea32" name="工程公司表单控件" entityId="31afb576-56d3-e711-bd7f-94c69101ea32" functionPageId="414f98af-5cd3-e711-bd7f-94c69101ea32">
    <dataSource keyName="ServiceBusinessUnitGUID" entity="cl_ServiceBusinessUnit" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select cl_ServiceBusinessUnit.Code as Code,
cl_ServiceBusinessUnit.FullName as FullName,
cl_ServiceBusinessUnit.HierarchyCode as HierarchyCode,
cl_ServiceBusinessUnit.Name as Name,
cl_ServiceBusinessUnit.ParentGUID as ParentGUID,
cl_ServiceBusinessUnit.CreatedGUID as CreatedGUID,
cl_ServiceBusinessUnit.CreatedName as CreatedName,
cl_ServiceBusinessUnit.CreatedTime as CreatedTime,
cl_ServiceBusinessUnit.ModifiedGUID as ModifiedGUID,
cl_ServiceBusinessUnit.ModifiedName as ModifiedName,
cl_ServiceBusinessUnit.ModifiedTime as ModifiedTime,
cl_ServiceBusinessUnit.ServiceBusinessUnitGUID as ServiceBusinessUnitGUID,
cl_ServiceBusinessUnit.Level as Level,
cl_ServiceBusinessUnit.HierarchyName as HierarchyName 
From cl_ServiceBusinessUnit As cl_ServiceBusinessUnit 
Where cl_ServiceBusinessUnit.ServiceBusinessUnitGUID=@oid]]></command>
        <fields>
            <field name="Name" allowPopulate="true" entity="cl_ServiceBusinessUnit" field="Name" entityAlias="cl_ServiceBusinessUnit" metadataStatus="Product">
                <fields />
            </field>
            <field name="Code" allowPopulate="true" entity="cl_ServiceBusinessUnit" field="Code" entityAlias="cl_ServiceBusinessUnit" metadataStatus="Product">
                <fields />
            </field>
            <field name="FullName" allowPopulate="true" entity="cl_ServiceBusinessUnit" field="FullName" entityAlias="cl_ServiceBusinessUnit" metadataStatus="Product">
                <fields />
            </field>
            <field name="ParentGUID" allowPopulate="true" entity="cl_ServiceBusinessUnit" field="ParentGUID" entityAlias="cl_ServiceBusinessUnit" metadataStatus="Product">
                <fields />
            </field>
            <field name="ServiceBusinessUnitGUID" allowPopulate="true" entity="cl_ServiceBusinessUnit" field="ServiceBusinessUnitGUID" entityAlias="cl_ServiceBusinessUnit" metadataStatus="Product">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="Code" isRedundance="false" isPrimaryAttribute="false" aliasName="Code" entity="cl_ServiceBusinessUnit" entityType="0" />
            <availableField name="FullName" isRedundance="false" isPrimaryAttribute="false" aliasName="FullName" entity="cl_ServiceBusinessUnit" entityType="0" />
            <availableField name="HierarchyCode" isRedundance="false" isPrimaryAttribute="false" aliasName="HierarchyCode" entity="cl_ServiceBusinessUnit" entityType="0" />
            <availableField name="Name" isRedundance="false" isPrimaryAttribute="false" aliasName="Name" entity="cl_ServiceBusinessUnit" entityType="0" />
            <availableField name="ParentGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ParentGUID" entity="cl_ServiceBusinessUnit" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_ServiceBusinessUnit" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_ServiceBusinessUnit" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_ServiceBusinessUnit" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_ServiceBusinessUnit" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_ServiceBusinessUnit" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_ServiceBusinessUnit" entityType="0" />
            <availableField name="ServiceBusinessUnitGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ServiceBusinessUnitGUID" entity="cl_ServiceBusinessUnit" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_ServiceBusinessUnit" entityType="0" />
            <availableField name="Level" isRedundance="false" isPrimaryAttribute="false" aliasName="Level" entity="cl_ServiceBusinessUnit" entityType="0" />
            <availableField name="HierarchyName" isRedundance="false" isPrimaryAttribute="false" aliasName="HierarchyName" entity="cl_ServiceBusinessUnit" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="31afb576-56d3-e711-bd7f-94c69101ea32" name="cl_ServiceBusinessUnit" primaryField="ServiceBusinessUnitGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0" metadataStatus="Product">
                <conditions>
                    <condition field="cl_ServiceBusinessUnit.ServiceBusinessUnitGUID" operatorType="eq" id="e89904c9-2b9e-4e13-bdc3-dd6237b89d0b" dataType="string" valueType="1">
                        <Value xsi:type="xsd:string">[query:oid]</Value>
                    </condition>
                </conditions>
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" title="新分区" tabTitle="" disableStyle="true" metadataStatus="Product" key="表单ID-444f98af-5cd3-e711-bd7f-94c69101ea32|tab索引0|分区索引0|分区名称">
                <events />
                <groups>
                    <group title="新分组" disableStyle="true" key="表单ID-444f98af-5cd3-e711-bd7f-94c69101ea32|tab索引0|分区索引0|分组索引0|分组名称" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="0d5aedea-b1d0-4877-9af5-695e5fb8a8ca" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="公司简称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="简称" field="Name" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox field="Name" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="required" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="76ea731d-ac4a-42da-8d95-1b9c9a9bc6ae" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="公司编码" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="编码" field="Code" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox field="Code" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="required" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="3ae59501-64a4-4dd3-8615-703ed69d45a7" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="公司全称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="完整名称" field="FullName" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox field="FullName" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="required" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="454f98af-5cd3-e711-bd7f-94c69101ea32" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="保存" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="YK.M02210105.ServiceBusinessUnitEdit._appForm_mSave_click(e);" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="8e2842a5-cf13-4f1b-ab32-26940ad5b96c" title="保存&amp;新增" isHighlight="true" type="button" iconClassUrl="" iconClass="" id="mAddSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="YK.M02210105.ServiceBusinessUnitEdit._appForm_mAddSave_click(e);" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="434f98af-5cd3-e711-bd7f-94c69101ea32" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.Utility.closeOwnerDialog();" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events />
        <attributes />
        <hiddens>
            <hidden id="11d673e7-56d3-e711-bd7f-94c69101ea32" field="ParentGUID" errorMode="default" readonlyMode="none" defaultValue="[query:ParentGUID]" requirementLevel="none" isHidden="true" metadataStatus="Product" allowPopulate="false" isCustomField="false">
                <customProps />
                <events />
            </hidden>
        </hiddens>
        <langs />
        <rule>
            <configs>
                <config id="e30a8577-769e-40af-ac76-59c418438902" title="默认规则" controlId="eded6431-c6a3-411d-8f94-188c0610b3b9" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSave" metadataStatus="Product">
                    <handles>
                        <handle handleId="55851337-54c9-4b12-b813-c254868e8210" ruleId="df238172-aa64-4fe7-89c6-56e8cad9c5f9" action="hide" value="" metadataStatus="Product" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" metadataStatus="Product" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>