<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" metadataversion="6" createdBy="系+先生+" createdOn="2017-11-08T09:15:58Z" modifiedBy="系+先生+" modifiedOn="2017-11-28T16:35:25.6455106+08:00" metadataStatus="Product" formId="4a43386e-65c4-e711-9677-94c691050e22" name="材料分类属性值表单控件" entityId="b3add075-6fc3-e711-a7e0-5c514f31c666" functionPageId="4743386e-65c4-e711-9677-94c691050e22">
    <dataSource keyName="ProductCategoryAttributeValueGUID" entity="cl_ProductCategoryAttributeValue" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select cl_ProductCategoryAttributeValue.IsEnable as IsEnable,
cl_ProductCategoryAttributeValue.ProductCategoryAttributeGuid as ProductCategoryAttributeGuid,
cl_ProductCategoryAttributeValue.Value as Value,
cl_ProductCategoryAttributeValue.CreatedGUID as CreatedGUID,
cl_ProductCategoryAttributeValue.CreatedName as CreatedName,
cl_ProductCategoryAttributeValue.CreatedTime as CreatedTime,
cl_ProductCategoryAttributeValue.ModifiedGUID as ModifiedGUID,
cl_ProductCategoryAttributeValue.ModifiedName as ModifiedName,
cl_ProductCategoryAttributeValue.ModifiedTime as ModifiedTime,
cl_ProductCategoryAttributeValue.ProductCategoryAttributeValueGUID as ProductCategoryAttributeValueGUID 
From cl_ProductCategoryAttributeValue As cl_ProductCategoryAttributeValue 
Where cl_ProductCategoryAttributeValue.ProductCategoryAttributeValueGUID=@oid]]></command>
        <fields>
            <field name="ProductCategoryAttributeValueGUID" allowPopulate="true" entity="cl_ProductCategoryAttributeValue" field="ProductCategoryAttributeValueGUID" entityAlias="cl_ProductCategoryAttributeValue">
                <fields />
            </field>
            <field name="subGrid_cl_ProductCategoryAttributeValue_ProductCategoryAttributeValueGUID" allowPopulate="false" entity="cl_ProductCategoryAttributeValue" field="ProductCategoryAttributeValueGUID" entityAlias="cl_ProductCategoryAttributeValue">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="Value" isRedundance="false" isPrimaryAttribute="false" aliasName="Value" entity="cl_ProductCategoryAttributeValue" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_ProductCategoryAttributeValue" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_ProductCategoryAttributeValue" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_ProductCategoryAttributeValue" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_ProductCategoryAttributeValue" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_ProductCategoryAttributeValue" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_ProductCategoryAttributeValue" entityType="0" />
            <availableField name="ProductCategoryAttributeValueGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ProductCategoryAttributeValueGUID" entity="cl_ProductCategoryAttributeValue" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_ProductCategoryAttributeValue" entityType="0" />
            <availableField name="IsEnable" isRedundance="false" isPrimaryAttribute="false" aliasName="IsEnable" entity="cl_ProductCategoryAttributeValue" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="b3add075-6fc3-e711-a7e0-5c514f31c666" name="cl_ProductCategoryAttributeValue" primaryField="ProductCategoryAttributeValueGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0">
                <conditions />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" title="属性值" tabTitle="" disableStyle="true">
                <events />
                <groups>
                    <group title="指标属性" disableStyle="true">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="0d5aedea-b1d0-4877-9af5-695e5fb8a8ca" colSpan="1" rowSpan="1">
                                        <label title="指标属性" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="HTML文本" field="tmpllayout_vkwa" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Normal" allowSort="false" isSummaryColumn="false" isBold="false">
                                            <customProps />
                                            <tmplLayout field="tmpllayout_vkwa" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false">
                                                <customProps />
                                                <events />
                                                <html><![CDATA[<span id="ProductCategoryAttributeName"></span>]]></html>
                                            </tmplLayout>
                                        </column>
                                    </cell>
                                    <cell id="24c1b560-7ca5-4c6d-8e32-65cab4063e86" colSpan="1" rowSpan="1" />
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="35fe73d2-ace3-4672-a503-76fd0d350a9d" colSpan="2" rowSpan="1">
                                        <label title="属性值" visible="false" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="相关列表" field="subGrid_cl_ProductCategoryAttributeValue_ProductCategoryAttributeValueGUID" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false">
                                            <customProps />
                                            <subGrid field="subGrid_cl_ProductCategoryAttributeValue_ProductCategoryAttributeValueGUID" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" fullField="ProductCategoryAttributeValueGUID" height="300">
                                                <customProps />
                                                <events />
                                                <grid field="cl_ProductCategoryAttributeValue.ProductCategoryAttributeValueGUID" metadataId="fb8037f6-6dc4-e711-9677-94c691050e22" />
                                            </subGrid>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="4b43386e-65c4-e711-9677-94c691050e22" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items />
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events />
        <attributes />
        <hiddens />
        <langs />
        <rule>
            <configs />
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>