<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" metadataversion="6" createdBy="系+先生+" createdOn="2017-11-07T10:37:19Z" modifiedBy="周建荣" modifiedOn="2018-01-22T16:59:39.7084574+08:00" metadataStatus="Product" formId="5be709a1-a7c3-e711-b624-94c691050e22" name="材料分类表单控件" entityId="1d954c0e-d1b7-e711-9354-5c514f31c666" functionPageId="4ce709a1-a7c3-e711-b624-94c691050e22" isRevisedId="1">
    <dataSource keyName="ProductCategoryGUID" entity="cl_ProductCategory" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select cl_ProductCategory.AllCode as AllCode,
cl_ProductCategory.Code as Code,
cl_ProductCategory.Documents as Documents,
cl_ProductCategory.Name as Name,
cl_ProductCategory.ParentCode as ParentCode,
cl_ProductCategory.ParentGUID as ParentGUID,
cl_ProductCategory.ParentName as ParentName,
cl_ProductCategory.Remark as Remark,
cl_ProductCategory.Unit as Unit,
cl_ProductCategory.CreatedGUID as CreatedGUID,
cl_ProductCategory.CreatedName as CreatedName,
cl_ProductCategory.CreatedTime as CreatedTime,
cl_ProductCategory.ModifiedGUID as ModifiedGUID,
cl_ProductCategory.ModifiedName as ModifiedName,
cl_ProductCategory.ModifiedTime as ModifiedTime,
cl_ProductCategory.ProductCategoryGUID as ProductCategoryGUID 
From cl_ProductCategory As cl_ProductCategory 
Where cl_ProductCategory.ProductCategoryGUID=@oid]]></command>
        <fields>
            <field name="Code" allowPopulate="true" entity="cl_ProductCategory" field="Code" entityAlias="cl_ProductCategory" metadataStatus="Product">
                <fields />
            </field>
            <field name="AllCode" allowPopulate="true" entity="cl_ProductCategory" field="AllCode" entityAlias="cl_ProductCategory" metadataStatus="Product">
                <fields />
            </field>
            <field name="Name" allowPopulate="true" entity="cl_ProductCategory" field="Name" entityAlias="cl_ProductCategory" metadataStatus="Product">
                <fields />
            </field>
            <field name="ParentName" allowPopulate="true" entity="cl_ProductCategory" field="ParentName" entityAlias="cl_ProductCategory" metadataStatus="Product">
                <fields />
            </field>
            <field name="Unit" allowPopulate="true" entity="cl_ProductCategory" field="Unit" entityAlias="cl_ProductCategory" metadataStatus="Product">
                <fields />
            </field>
            <field name="Remark" allowPopulate="true" entity="cl_ProductCategory" field="Remark" entityAlias="cl_ProductCategory" metadataStatus="Product">
                <fields />
            </field>
            <field name="Documents" allowPopulate="true" entity="cl_ProductCategory" field="Documents" entityAlias="cl_ProductCategory" metadataStatus="Product">
                <fields />
            </field>
            <field name="ParentCode" allowPopulate="true" entity="cl_ProductCategory" field="ParentCode" entityAlias="cl_ProductCategory" metadataStatus="Product">
                <fields />
            </field>
            <field name="ParentGUID" allowPopulate="true" entity="cl_ProductCategory" field="ParentGUID" entityAlias="cl_ProductCategory" metadataStatus="Product">
                <fields />
            </field>
            <field name="ProductCategoryGUID" allowPopulate="true" entity="cl_ProductCategory" field="ProductCategoryGUID" entityAlias="cl_ProductCategory" metadataStatus="Product">
                <fields />
            </field>
            <field name="subGrid_cl_ProductCategoryAttribute_ProductCategoryGUID" allowPopulate="true" entity="cl_ProductCategory" field="ProductCategoryGUID" entityAlias="cl_ProductCategory" metadataStatus="Product">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="AllCode" isRedundance="false" isPrimaryAttribute="false" aliasName="AllCode" entity="cl_ProductCategory" entityType="0" />
            <availableField name="Code" isRedundance="false" isPrimaryAttribute="false" aliasName="Code" entity="cl_ProductCategory" entityType="0" />
            <availableField name="Documents" isRedundance="false" isPrimaryAttribute="false" aliasName="Documents" entity="cl_ProductCategory" entityType="0" />
            <availableField name="Name" isRedundance="false" isPrimaryAttribute="false" aliasName="Name" entity="cl_ProductCategory" entityType="0" />
            <availableField name="ParentCode" isRedundance="false" isPrimaryAttribute="false" aliasName="ParentCode" entity="cl_ProductCategory" entityType="0" />
            <availableField name="ParentGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ParentGUID" entity="cl_ProductCategory" entityType="0" />
            <availableField name="ParentName" isRedundance="false" isPrimaryAttribute="false" aliasName="ParentName" entity="cl_ProductCategory" entityType="0" />
            <availableField name="Remark" isRedundance="false" isPrimaryAttribute="false" aliasName="Remark" entity="cl_ProductCategory" entityType="0" />
            <availableField name="Unit" isRedundance="false" isPrimaryAttribute="false" aliasName="Unit" entity="cl_ProductCategory" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_ProductCategory" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_ProductCategory" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_ProductCategory" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_ProductCategory" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_ProductCategory" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_ProductCategory" entityType="0" />
            <availableField name="ProductCategoryGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ProductCategoryGUID" entity="cl_ProductCategory" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_ProductCategory" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="1d954c0e-d1b7-e711-9354-5c514f31c666" name="cl_ProductCategory" primaryField="ProductCategoryGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" logicFormula="" conditionType="0" metadataStatus="Product">
                <conditions />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" id="5be709a1-a7c3-e711-b724-94c691050e22" title="基本信息" tabTitle="mainTabId" disableStyle="true" isHidden="false" metadataStatus="Product">
                <events />
                <groups>
                    <group id="5be709a1-a7c3-e711-b924-94c691050e22" title="新分组" disableStyle="true" isHidden="false" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="eef0c780-ef56-46dc-8990-4852cd6de653" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="本级编码" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="编码" field="Code" allowEdit="false" id="5be709a1-a7c3-e711-bc24-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox field="Code" errorMode="default" readonlyMode="modify" defaultValue="" requirementLevel="required" isHidden="false" metadataStatus="Product" isBold="false" maxLength="20">
                                                <customProps />
                                                <events>
                                                    <event name="onvaluechanged" functionName="Mysoft.Clgyl.M02210601.ProductCategoryEdit._appForm_code_valueChanged(e);" enabled="true" metadataStatus="Product" />
                                                </events>
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                    <cell id="8b18682c-ebbb-456b-b43b-779738a003f2" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="编码" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="全编码" field="AllCode" allowEdit="false" id="5be709a1-a7c3-e711-c024-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="0650c48b-16bd-45b4-9223-403127709623" field="AllCode" errorMode="default" readonlyMode="all" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="1024">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="9409548d-2f87-4e89-bdfd-6c484d4bf733" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="分类名称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="名称" field="Name" allowEdit="false" id="5be709a1-a7c3-e711-c524-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox field="Name" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="required" isHidden="false" metadataStatus="Product" isBold="false" maxLength="100">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                    <cell id="2274b029-41f7-464b-9ef2-ca921a4a2727" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="父级分类名称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="父级分类名称" field="ParentName" allowEdit="false" id="5be709a1-a7c3-e711-cb24-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="17ccc751-fd54-422b-8650-321343d2a1dd" field="ParentName" errorMode="default" readonlyMode="all" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="3abc709e-d6e4-4169-abe9-85888a5058f7" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="计量单位" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="计量单位" field="Unit" allowEdit="false" id="1078e06b-0a9f-41ee-b239-9d08ebdd20fa" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <autoComplete id="fa685104-c184-475e-b91c-5800a1117c55" field="Unit" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" optionsType="bizParam" valueFromSelect="true" showLongText="false" disableFolderSelect="false" multiSelect="false" allowEmpty="false">
                                                <customProps />
                                                <events />
                                                <bizParam paramName="cl_Unit" optionsScope="group" optionsFilterType="context" />
                                            </autoComplete>
                                        </column>
                                    </cell>
                                    <cell id="7b3e31b1-4be2-4cfc-a20c-9bcc59d02c64" colSpan="1" rowSpan="1" metadataStatus="Product" />
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="a115fe45-e7a9-4539-a5bb-32bd9d0e250b" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="说明" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="说明" field="Remark" allowEdit="false" id="5be709a1-a7c3-e711-da24-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textArea field="Remark" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" height="60" maxLength="200">
                                                <customProps />
                                                <events />
                                            </textArea>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                    <group id="5be709a1-a7c3-e711-e324-94c691050e22" title="指标属性" disableStyle="true" isHidden="false" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="9c933683-306f-4db3-85aa-00e5a5ae17ec" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="指标属性" visible="false" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="相关列表" field="subGrid_cl_ProductCategoryAttribute_ProductCategoryGUID" allowEdit="false" id="5be709a1-a7c3-e711-ed24-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <subGrid field="subGrid_cl_ProductCategoryAttribute_ProductCategoryGUID" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" fullField="ProductCategoryGUID" height="300">
                                                <customProps />
                                                <events />
                                                <grid field="cl_ProductCategoryAttribute.ProductCategoryGUID" metadataId="841263a3-3fc5-e711-9677-94c691050e22" />
                                            </subGrid>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
            <region regionId="region2" id="5be709a1-a7c3-e711-f824-94c691050e22" title="相关附件" tabTitle="mainTabId" disableStyle="true" isHidden="false" metadataStatus="Product">
                <events />
                <groups>
                    <group id="5be709a1-a7c3-e711-0425-94c691050e22" title="新分组" disableStyle="true" isHidden="false" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="f7554c17-5bfe-42f0-9917-9a5256674f71" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="材料分类文件" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="相关文档" field="Documents" allowEdit="false" id="5be709a1-a7c3-e711-1125-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <fileUpload id="62b150db-6281-47be-8658-84d678331a5e" field="Documents" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" limitFileCount="10" limitSize="50">
                                                <customProps />
                                                <events />
                                                <rightsAddRule />
                                                <rightsDelRule />
                                            </fileUpload>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="5ce709a1-a7c3-e711-b624-94c691050e22" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="保存" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Clgyl.M02210601.ProductCategoryEdit._appForm_mSave_click(e);" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="5ae709a1-a7c3-e711-b624-94c691050e22" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.Utility.back();" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events />
        <attributes />
        <hiddens>
            <hidden id="b38a262f-d1b7-e711-9354-5c514f31c666" field="ParentCode" errorMode="default" readonlyMode="none" defaultValue="[query:ParentCode]" requirementLevel="none" isHidden="true" metadataStatus="Product" allowPopulate="false" isCustomField="false">
                <customProps />
                <events />
            </hidden>
            <hidden id="0a457fd1-59b9-e711-ac9c-5c514f31c666" field="ParentGUID" errorMode="default" readonlyMode="none" defaultValue="[query:ParentGUID]" requirementLevel="none" isHidden="true" metadataStatus="Product" allowPopulate="false" isCustomField="false">
                <customProps />
                <events />
            </hidden>
        </hiddens>
        <langs />
        <rule>
            <configs>
                <config id="2b554f34-4865-4765-b916-366845070c31" title="默认规则" controlId="eded6431-c6a3-411d-8f94-188c0610b3b9" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSave" metadataStatus="Product">
                    <handles>
                        <handle handleId="8b1ebe45-bf87-49d9-9c20-bf78d03318d5" ruleId="df238172-aa64-4fe7-89c6-56e8cad9c5f9" action="hide" value="" metadataStatus="Product" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" metadataStatus="Product" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>