<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" metadataversion="6" createdBy="系+先生+" createdOn="2017-11-12T06:41:40Z" modifiedBy="系+先生+" modifiedOn="2017-11-12T15:21:34.2267941+08:00" metadataStatus="Product" formId="5e855989-74c7-e711-a3c6-5c514f31c666" name="产品表_演示" entityId="e57de2a4-71c7-e711-a3c6-5c514f31c666" functionPageId="0e5ccb79-74c7-e711-a3c6-5c514f31c666">
    <dataSource keyName="DemoProductGUID" entity="cl_DemoProduct" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select cl_DemoProduct.CategoryGUID as CategoryGUID,
cl_DemoProduct.Code as Code,
cl_DemoProduct.Name as Name,
cl_DemoProduct.CreatedGUID as CreatedGUID,
cl_DemoProduct.CreatedName as CreatedName,
cl_DemoProduct.CreatedTime as CreatedTime,
cl_DemoProduct.DemoProductGUID as DemoProductGUID,
cl_DemoProduct.ModifiedGUID as ModifiedGUID,
cl_DemoProduct.ModifiedName as ModifiedName,
cl_DemoProduct.ModifiedTime as ModifiedTime 
From cl_DemoProduct As cl_DemoProduct 
Where cl_DemoProduct.DemoProductGUID=@oid]]></command>
        <fields>
            <field name="Name" allowPopulate="true" entity="cl_DemoProduct" field="Name" entityAlias="cl_DemoProduct">
                <fields />
            </field>
            <field name="Code" allowPopulate="true" entity="cl_DemoProduct" field="Code" entityAlias="cl_DemoProduct">
                <fields />
            </field>
            <field name="CategoryGUID" allowPopulate="true" entity="cl_DemoProduct" field="CategoryGUID" entityAlias="cl_DemoProduct">
                <fields>
                    <field allowPopulate="true" entity="cl_DemoProduct" storeType="value" sourceType="value" field="CategoryGUID" />
                </fields>
            </field>
            <field name="DemoProductGUID" allowPopulate="true" entity="cl_DemoProduct" field="DemoProductGUID" entityAlias="cl_DemoProduct">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_DemoProduct" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_DemoProduct" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_DemoProduct" entityType="0" />
            <availableField name="DemoProductGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="DemoProductGUID" entity="cl_DemoProduct" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_DemoProduct" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_DemoProduct" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_DemoProduct" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_DemoProduct" entityType="0" />
            <availableField name="Name" isRedundance="false" isPrimaryAttribute="false" aliasName="Name" entity="cl_DemoProduct" entityType="0" />
            <availableField name="Code" isRedundance="false" isPrimaryAttribute="false" aliasName="Code" entity="cl_DemoProduct" entityType="0" />
            <availableField name="CategoryGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CategoryGUID" entity="cl_DemoProduct" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="e57de2a4-71c7-e711-a3c6-5c514f31c666" name="cl_DemoProduct" primaryField="DemoProductGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0">
                <conditions />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" title="新分区" tabTitle="" disableStyle="true">
                <events />
                <groups>
                    <group title="新分组" disableStyle="true">
                        <cellStyles>
                            <cellStyle labelWidth="100px" width="100%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="cb62cfe6-27c1-43aa-b0cc-d8ad66652387" colSpan="1" rowSpan="1">
                                        <label title="名称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="名称" field="Name" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false">
                                            <customProps />
                                            <textBox id="d2b1c2ef-6121-4092-95ff-01aabf06f74c" field="Name" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="1e633893-a6b1-44a6-814e-920388fdc0eb" colSpan="1" rowSpan="1">
                                        <label title="编码" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="编码" field="Code" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false">
                                            <customProps />
                                            <textBox id="abbd516b-f1e5-46cc-ae52-3144224e2ec4" field="Code" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="b5fdbd9e-a243-4d1e-b292-434783b15f59" colSpan="1" rowSpan="1">
                                        <label title="分类" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="分类GUID" field="CategoryGUID" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false">
                                            <customProps />
                                            <treeSelect id="0b7f132d-0c51-4264-b023-d21eea3b3de9" field="CategoryGUID" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" optionsType="sql" redundancyField="" disableFolderSelect="false" showFolderCheckBox="false" multiSelect="false" popupHeight="200" showLongText="false" valueFromSelect="false" allowEmpty="false">
                                                <customProps />
                                                <events />
                                                <sql value="select Name as [text], DemoProductCategoryGUID as [value],Code as [code] ,ParentGUID AS [parent] from cl_DemoProductCategory" showNumber="10" orderBy="order by code asc" searchField="text" />
                                            </treeSelect>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="5f855989-74c7-e711-a3c6-5c514f31c666" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="保存" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.UI.Template.Form.defaultSave();" enabled="true" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="5d855989-74c7-e711-a3c6-5c514f31c666" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.Utility.back();" enabled="true" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events>
            <event name="onload" functionName="YK.M02219903.Demo_ProductEdit._ProductAppForm_load(e);" enabled="true" />
        </events>
        <attributes />
        <hiddens />
        <langs />
        <rule>
            <configs>
                <config id="1fb89136-7e77-4a42-9995-bfc0d2bebea2" title="默认规则" controlId="eded6431-c6a3-411d-8f94-188c0610b3b9" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSave">
                    <handles>
                        <handle ruleId="df238172-aa64-4fe7-89c6-56e8cad9c5f9" action="hide" value="" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>