<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" metadataversion="6" createdBy="系+先生+" createdOn="2017-11-14T08:41:58Z" modifiedBy="系+先生+" modifiedOn="2017-11-14T17:56:52.2915297+08:00" metadataStatus="Product" formId="64b475ac-17c9-e711-b71d-94c691050e22" name="材料分类表表单控件" entityId="1d954c0e-d1b7-e711-9354-5c514f31c666" functionPageId="61b475ac-17c9-e711-b71d-94c691050e22">
    <dataSource keyName="ProductCategoryGUID" entity="cl_ProductCategory" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select cl_ProductCategory.Code as Code,
cl_ProductCategory.Name as Name,
cl_ProductCategory.ParentCode as ParentCode,
cl_ProductCategory.ParentGUID as ParentGUID,
cl_ProductCategory.Remark as Remark,
cl_ProductCategory.Unit as Unit,
cl_ProductCategory.CreatedGUID as CreatedGUID,
cl_ProductCategory.CreatedName as CreatedName,
cl_ProductCategory.CreatedTime as CreatedTime,
cl_ProductCategory.ModifiedGUID as ModifiedGUID,
cl_ProductCategory.ModifiedName as ModifiedName,
cl_ProductCategory.ModifiedTime as ModifiedTime,
cl_ProductCategory.ProductCategoryGUID as ProductCategoryGUID,
cl_ProductCategory.AllCode as AllCode,
cl_ProductCategory.ParentName as ParentName,
cl_ProductCategory.Attachment as Attachment 
From cl_ProductCategory As cl_ProductCategory 
Where cl_ProductCategory.ProductCategoryGUID=@oid]]></command>
        <fields>
            <field name="Code" allowPopulate="true" entity="cl_ProductCategory" field="Code" entityAlias="cl_ProductCategory">
                <fields />
            </field>
            <field name="Name" allowPopulate="true" entity="cl_ProductCategory" field="Name" entityAlias="cl_ProductCategory">
                <fields />
            </field>
            <field name="Remark" allowPopulate="true" entity="cl_ProductCategory" field="Remark" entityAlias="cl_ProductCategory">
                <fields />
            </field>
            <field name="Unit" allowPopulate="true" entity="cl_ProductCategory" field="Unit" entityAlias="cl_ProductCategory">
                <fields />
            </field>
            <field name="ProductCategoryGUID" allowPopulate="true" entity="cl_ProductCategory" field="ProductCategoryGUID" entityAlias="cl_ProductCategory">
                <fields />
            </field>
            <field name="ProductCategoryAttributeGUID" allowPopulate="false" entity="cl_ProductCategoryAttribute" field="ProductCategoryAttributeGUID" entityAlias="cl_ProductCategoryAttribute">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="Code" isRedundance="false" isPrimaryAttribute="false" aliasName="Code" entity="cl_ProductCategory" entityType="0" />
            <availableField name="Name" isRedundance="false" isPrimaryAttribute="false" aliasName="Name" entity="cl_ProductCategory" entityType="0" />
            <availableField name="ParentCode" isRedundance="false" isPrimaryAttribute="false" aliasName="ParentCode" entity="cl_ProductCategory" entityType="0" />
            <availableField name="ParentGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ParentGUID" entity="cl_ProductCategory" entityType="0" />
            <availableField name="Remark" isRedundance="false" isPrimaryAttribute="false" aliasName="Remark" entity="cl_ProductCategory" entityType="0" />
            <availableField name="Unit" isRedundance="false" isPrimaryAttribute="false" aliasName="Unit" entity="cl_ProductCategory" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_ProductCategory" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_ProductCategory" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_ProductCategory" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_ProductCategory" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_ProductCategory" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_ProductCategory" entityType="0" />
            <availableField name="ProductCategoryGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ProductCategoryGUID" entity="cl_ProductCategory" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_ProductCategory" entityType="0" />
            <availableField name="AllCode" isRedundance="false" isPrimaryAttribute="false" aliasName="AllCode" entity="cl_ProductCategory" entityType="0" />
            <availableField name="ParentName" isRedundance="false" isPrimaryAttribute="false" aliasName="ParentName" entity="cl_ProductCategory" entityType="0" />
            <availableField name="Attachment" isRedundance="false" isPrimaryAttribute="false" aliasName="Attachment" entity="cl_ProductCategory" entityType="0" />
            <availableField name="Name" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_ProductCategoryAttribute_Name" entity="cl_ProductCategoryAttribute" entityType="0" />
            <availableField name="Type" isRedundance="false" isPrimaryAttribute="false" aliasName="Type" entity="cl_ProductCategoryAttribute" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_ProductCategoryAttribute_CreatedGUID" entity="cl_ProductCategoryAttribute" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_ProductCategoryAttribute_CreatedName" entity="cl_ProductCategoryAttribute" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_ProductCategoryAttribute_CreatedTime" entity="cl_ProductCategoryAttribute" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_ProductCategoryAttribute_ModifiedGUID" entity="cl_ProductCategoryAttribute" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_ProductCategoryAttribute_ModifiedName" entity="cl_ProductCategoryAttribute" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_ProductCategoryAttribute_ModifiedTime" entity="cl_ProductCategoryAttribute" entityType="0" />
            <availableField name="ProductCategoryAttributeGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ProductCategoryAttributeGUID" entity="cl_ProductCategoryAttribute" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_ProductCategoryAttribute_VersionNumber" entity="cl_ProductCategoryAttribute" entityType="0" />
            <availableField name="ProductCategoryGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_ProductCategoryAttribute_ProductCategoryGUID" entity="cl_ProductCategoryAttribute" entityType="0" />
            <availableField name="AttributeGuids" isRedundance="false" isPrimaryAttribute="false" aliasName="AttributeGuids" entity="cl_ProductCategoryAttribute" entityType="0" />
            <availableField name="AttributeTexts" isRedundance="false" isPrimaryAttribute="false" aliasName="AttributeTexts" entity="cl_ProductCategoryAttribute" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="1d954c0e-d1b7-e711-9354-5c514f31c666" name="cl_ProductCategory" primaryField="ProductCategoryGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0">
                <conditions />
            </diagram>
            <diagram id="e5f80450-d3ba-e711-ac9c-5c514f31c666" name="cl_ProductCategoryAttribute" primaryField="ProductCategoryAttributeGUID" parentId="1d954c0e-d1b7-e711-9354-5c514f31c666" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="false" joinType="1" conditionType="0">
                <conditions />
                <diagramRelation primaryEntityName="cl_ProductCategory" primaryFieldName="ProductCategoryGUID" entityName="cl_ProductCategoryAttribute" fieldName="ProductCategoryGUID" relation="cl_ProductCategory.ProductCategoryGUID = cl_ProductCategoryAttribute.ProductCategoryGUID" />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" title="新分区" tabTitle="" disableStyle="true">
                <events />
                <groups>
                    <group title="新分组" disableStyle="true">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="0d5aedea-b1d0-4877-9af5-695e5fb8a8ca" colSpan="1" rowSpan="1">
                                        <label title="编码" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="编码" field="Code" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false">
                                            <customProps />
                                            <textBox id="b224f91a-18d5-464f-987c-1208e496a8f3" field="Code" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                    <cell id="2a729571-cf05-4b83-aac8-f08d9dd7ebdf" colSpan="1" rowSpan="1">
                                        <label title="名称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="名称" field="Name" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false">
                                            <customProps />
                                            <textBox id="9e5da147-d201-4583-b708-e74d89ad3744" field="Name" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="5845bcd7-ad2b-4c83-9b32-d4c18044c061" colSpan="1" rowSpan="1">
                                        <label title="说明" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="说明" field="Remark" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false">
                                            <customProps />
                                            <textBox id="6d85f63c-a713-4b80-bd03-d7ab04213e9f" field="Remark" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" isBold="false" maxLength="0">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                    <cell id="076fda8b-d812-416a-b5ca-65ce156f779d" colSpan="1" rowSpan="1">
                                        <label title="计量单位" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="计量单位" field="Unit" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false">
                                            <customProps />
                                            <textBox id="6f76f0b4-13ed-4f8c-a6e8-fd4d7050b851" field="Unit" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                    <group title="新分组" disableStyle="true">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="0993aa31-fd35-4827-ad70-e976c087d18c" colSpan="2" rowSpan="1">
                                        <label title="相关列表" visible="false" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="相关列表" field="subGrid_cl_ProductCategoryAttribute_ProductCategoryGUID" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false">
                                            <customProps />
                                            <subGrid field="subGrid_cl_ProductCategoryAttribute_ProductCategoryGUID" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" height="300">
                                                <customProps />
                                                <events />
                                                <grid field="ProductCategoryGUID" metadataId="9590f9f8-17c9-e711-b71d-94c691050e22" />
                                            </subGrid>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="65b475ac-17c9-e711-b71d-94c691050e22" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="保存" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.UI.Template.Form.defaultSave();" enabled="true" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="63b475ac-17c9-e711-b71d-94c691050e22" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.Utility.back();" enabled="true" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events />
        <attributes />
        <hiddens />
        <langs />
        <rule>
            <configs>
                <config id="e30a8577-769e-40af-ac76-59c418438902" title="默认规则" controlId="eded6431-c6a3-411d-8f94-188c0610b3b9" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSave">
                    <handles>
                        <handle ruleId="df238172-aa64-4fe7-89c6-56e8cad9c5f9" action="hide" value="" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>