<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" metadataversion="6" createdBy="周建荣" createdOn="2018-01-05T07:27:08Z" modifiedBy="周建荣" modifiedOn="2018-01-24T19:31:34.0101856+08:00" metadataStatus="Product" formId="68daf3d5-e9f1-e711-b241-94c691050e22" name="材料合同表表单控件" entityId="a8bb85a2-18c8-e711-bc0a-4ccc6aeee2e4" functionPageId="65daf3d5-e9f1-e711-b241-94c691050e22" isRevisedId="1">
    <dataSource keyName="ContractGUID" entity="cl_Contract" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select cl_Contract.AdjustAmount_Bz as AdjustAmount_Bz,
cl_Contract.ApproveModel as ApproveModel,
cl_Contract.ApproveState as ApproveState,
cl_Contract.ApproveStateEnum as ApproveStateEnum,
cl_Contract.BUGUID as BUGUID,
cl_Contract.CodeFormatInfo as CodeFormatInfo,
cl_Contract.ContractCode as ContractCode,
cl_Contract.ContractName as ContractName,
cl_Contract.DeptGUID as DeptGUID,
cl_Contract.DeptName as DeptName,
cl_Contract.Documents as Documents,
cl_Contract.FormationMode as FormationMode,
cl_Contract.FormationModeGUID as FormationModeGUID,
cl_Contract.HtAmount as HtAmount,
cl_Contract.HtAmount_InputTax as HtAmount_InputTax,
cl_Contract.HtTypeGUID as HtTypeGUID,
cl_Contract.HtTypeName as HtTypeName,
cl_Contract.IsLogisticsResolution as IsLogisticsResolution,
cl_Contract.JbrGUID as JbrGUID,
cl_Contract.JbrName as JbrName,
cl_Contract.JfProviderGUID as JfProviderGUID,
cl_Contract.JfProviderName as JfProviderName,
cl_Contract.JsStateEnum as JsStateEnum,
cl_Contract.ProjGUID as ProjGUID,
cl_Contract.ProjGUIDs as ProjGUIDs,
cl_Contract.ProjNames as ProjNames,
cl_Contract.SignDate as SignDate,
cl_Contract.Status as Status,
cl_Contract.StrategicAgreement as StrategicAgreement,
cl_Contract.StrategicAgreementGUID as StrategicAgreementGUID,
cl_Contract.TotalAmount as TotalAmount,
cl_Contract.TotalApplyAmount_Bz as TotalApplyAmount_Bz,
cl_Contract.TotalDeductAmount_Bz as TotalDeductAmount_Bz,
cl_Contract.TotalJsAmount as TotalJsAmount,
cl_Contract.TotalPayAmount_Bz as TotalPayAmount_Bz,
cl_Contract.YfProviderGUID as YfProviderGUID,
cl_Contract.YfProviderName as YfProviderName,
cl_Contract.ContractGUID as ContractGUID,
cl_Contract.CreatedGUID as CreatedGUID,
cl_Contract.CreatedName as CreatedName,
cl_Contract.CreatedTime as CreatedTime,
cl_Contract.ModifiedGUID as ModifiedGUID,
cl_Contract.ModifiedName as ModifiedName,
cl_Contract.ModifiedTime as ModifiedTime,
cl_Contract.ApproverGUID as ApproverGUID,
cl_Contract.ApproverName as ApproverName,
cl_Contract.ApproveStatus as ApproveStatus,
cl_Contract.ApproveTime as ApproveTime 
From cl_Contract As cl_Contract 
Where cl_Contract.ContractGUID=@oid]]></command>
        <fields>
            <field name="ContractGUID" allowPopulate="true" entity="cl_Contract" field="ContractGUID" entityAlias="cl_Contract" metadataStatus="Product">
                <fields />
            </field>
            <field name="subGrid_cl_ContractBalance_ContractGUID" allowPopulate="false" entity="cl_Contract" field="ContractGUID" entityAlias="cl_Contract" metadataStatus="Product">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="AdjustAmount_Bz" isRedundance="false" isPrimaryAttribute="false" aliasName="AdjustAmount_Bz" entity="cl_Contract" entityType="0" />
            <availableField name="ApproveState" isRedundance="false" isPrimaryAttribute="false" aliasName="ApproveState" entity="cl_Contract" entityType="0" />
            <availableField name="ApproveStateEnum" isRedundance="false" isPrimaryAttribute="false" aliasName="ApproveStateEnum" entity="cl_Contract" entityType="0" />
            <availableField name="BUGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="BUGUID" entity="cl_Contract" entityType="0" />
            <availableField name="CodeFormatInfo" isRedundance="false" isPrimaryAttribute="false" aliasName="CodeFormatInfo" entity="cl_Contract" entityType="0" />
            <availableField name="ContractCode" isRedundance="false" isPrimaryAttribute="false" aliasName="ContractCode" entity="cl_Contract" entityType="0" />
            <availableField name="ContractName" isRedundance="false" isPrimaryAttribute="false" aliasName="ContractName" entity="cl_Contract" entityType="0" />
            <availableField name="DeptGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="DeptGUID" entity="cl_Contract" entityType="0" />
            <availableField name="DeptName" isRedundance="false" isPrimaryAttribute="false" aliasName="DeptName" entity="cl_Contract" entityType="0" />
            <availableField name="Documents" isRedundance="false" isPrimaryAttribute="false" aliasName="Documents" entity="cl_Contract" entityType="0" />
            <availableField name="FormationMode" isRedundance="false" isPrimaryAttribute="false" aliasName="FormationMode" entity="cl_Contract" entityType="0" />
            <availableField name="FormationModeGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="FormationModeGUID" entity="cl_Contract" entityType="0" />
            <availableField name="HtAmount" isRedundance="false" isPrimaryAttribute="false" aliasName="HtAmount" entity="cl_Contract" entityType="0" />
            <availableField name="HtAmount_InputTax" isRedundance="false" isPrimaryAttribute="false" aliasName="HtAmount_InputTax" entity="cl_Contract" entityType="0" />
            <availableField name="HtTypeGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="HtTypeGUID" entity="cl_Contract" entityType="0" />
            <availableField name="HtTypeName" isRedundance="false" isPrimaryAttribute="false" aliasName="HtTypeName" entity="cl_Contract" entityType="0" />
            <availableField name="IsLogisticsResolution" isRedundance="false" isPrimaryAttribute="false" aliasName="IsLogisticsResolution" entity="cl_Contract" entityType="0" />
            <availableField name="JbrGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="JbrGUID" entity="cl_Contract" entityType="0" />
            <availableField name="JbrName" isRedundance="false" isPrimaryAttribute="false" aliasName="JbrName" entity="cl_Contract" entityType="0" />
            <availableField name="JfProviderGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="JfProviderGUID" entity="cl_Contract" entityType="0" />
            <availableField name="JfProviderName" isRedundance="false" isPrimaryAttribute="false" aliasName="JfProviderName" entity="cl_Contract" entityType="0" />
            <availableField name="JsState" isRedundance="false" isPrimaryAttribute="false" aliasName="JsState" entity="cl_Contract" entityType="0" />
            <availableField name="JsStateEnum" isRedundance="false" isPrimaryAttribute="false" aliasName="JsStateEnum" entity="cl_Contract" entityType="0" />
            <availableField name="ProjGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ProjGUID" entity="cl_Contract" entityType="0" />
            <availableField name="ProjGUIDs" isRedundance="false" isPrimaryAttribute="false" aliasName="ProjGUIDs" entity="cl_Contract" entityType="0" />
            <availableField name="ProjNames" isRedundance="false" isPrimaryAttribute="false" aliasName="ProjNames" entity="cl_Contract" entityType="0" />
            <availableField name="SignDate" isRedundance="false" isPrimaryAttribute="false" aliasName="SignDate" entity="cl_Contract" entityType="0" />
            <availableField name="Status" isRedundance="false" isPrimaryAttribute="false" aliasName="Status" entity="cl_Contract" entityType="0" />
            <availableField name="StrategicAgreement" isRedundance="false" isPrimaryAttribute="false" aliasName="StrategicAgreement" entity="cl_Contract" entityType="0" />
            <availableField name="StrategicAgreementGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="StrategicAgreementGUID" entity="cl_Contract" entityType="0" />
            <availableField name="TotalAmount" isRedundance="false" isPrimaryAttribute="false" aliasName="TotalAmount" entity="cl_Contract" entityType="0" />
            <availableField name="TotalApplyAmount_Bz" isRedundance="false" isPrimaryAttribute="false" aliasName="TotalApplyAmount_Bz" entity="cl_Contract" entityType="0" />
            <availableField name="TotalDeductAmount_Bz" isRedundance="false" isPrimaryAttribute="false" aliasName="TotalDeductAmount_Bz" entity="cl_Contract" entityType="0" />
            <availableField name="TotalJsAmount" isRedundance="false" isPrimaryAttribute="false" aliasName="TotalJsAmount" entity="cl_Contract" entityType="0" />
            <availableField name="TotalPayAmount_Bz" isRedundance="false" isPrimaryAttribute="false" aliasName="TotalPayAmount_Bz" entity="cl_Contract" entityType="0" />
            <availableField name="YfProviderGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="YfProviderGUID" entity="cl_Contract" entityType="0" />
            <availableField name="YfProviderName" isRedundance="false" isPrimaryAttribute="false" aliasName="YfProviderName" entity="cl_Contract" entityType="0" />
            <availableField name="ContractGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ContractGUID" entity="cl_Contract" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_Contract" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_Contract" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_Contract" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_Contract" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_Contract" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_Contract" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_Contract" entityType="0" />
            <availableField name="ApproverGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ApproverGUID" entity="cl_Contract" entityType="0" />
            <availableField name="ApproverName" isRedundance="false" isPrimaryAttribute="false" aliasName="ApproverName" entity="cl_Contract" entityType="0" />
            <availableField name="ApproveStatus" isRedundance="false" isPrimaryAttribute="false" aliasName="ApproveStatus" entity="cl_Contract" entityType="0" />
            <availableField name="ApproveTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ApproveTime" entity="cl_Contract" entityType="0" />
            <availableField name="ApproveModel" isRedundance="false" isPrimaryAttribute="false" aliasName="ApproveModel" entity="cl_Contract" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="a8bb85a2-18c8-e711-bc0a-4ccc6aeee2e4" name="cl_Contract" primaryField="ContractGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0" metadataStatus="Product">
                <conditions />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" id="68daf3d5-e9f1-e711-b341-94c691050e22" title="新分区" tabTitle="" disableStyle="true" isHidden="false" metadataStatus="Product">
                <events />
                <groups>
                    <group id="68daf3d5-e9f1-e711-b541-94c691050e22" title="合同基本信息" disableStyle="false" isHidden="false" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="125px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="0d5aedea-b1d0-4877-9af5-695e5fb8a8ca" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="合同名称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="HTML文本" field="tmpllayout_gccn" allowEdit="false" id="68daf3d5-e9f1-e711-b841-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Normal" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <tmplLayout id="e0a1a622-5e82-42c8-b879-8db299b713f5" field="tmpllayout_gccn" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product">
                                                <customProps />
                                                <events />
                                                <html><![CDATA[${Mysoft.Map6.Utility.getUrlParams().ContractName}]]></html>
                                            </tmplLayout>
                                            <behaviors />
                                        </column>
                                    </cell>
                                    <cell id="2a729571-cf05-4b83-aac8-f08d9dd7ebdf" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="合同编号" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="HTML文本" field="tmpllayout_zdy9" allowEdit="false" id="68daf3d5-e9f1-e711-bc41-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Normal" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <tmplLayout id="49a92618-95fe-4a4b-bf0d-e0ea8a80b349" field="tmpllayout_zdy9" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product">
                                                <customProps />
                                                <events />
                                                <html><![CDATA[${Mysoft.Map6.Utility.getUrlParams().ContractCode}]]></html>
                                            </tmplLayout>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="bedff0ee-5153-4372-be64-12efbe33851d" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="乙方单位" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="HTML文本" field="tmpllayout_gbgc" allowEdit="false" id="68daf3d5-e9f1-e711-c141-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Normal" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <tmplLayout id="cf82fcae-77e6-49e7-99b3-e25852c088e2" field="tmpllayout_gbgc" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product">
                                                <customProps />
                                                <events />
                                                <html><![CDATA[${Mysoft.Map6.Utility.getUrlParams().YfProviderName}]]></html>
                                            </tmplLayout>
                                            <behaviors />
                                        </column>
                                    </cell>
                                    <cell id="50af9c22-01b2-4a92-ac4c-1dc089f5746a" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="调整后合同金额" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="HTML文本" field="tmpllayout_0nib" allowEdit="false" id="68daf3d5-e9f1-e711-c741-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Normal" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <tmplLayout id="c4d3202a-8c9c-4343-a689-a9b4eaa54e9d" field="tmpllayout_0nib" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product">
                                                <customProps />
                                                <events />
                                                <html><![CDATA[${Mysoft.Map6.Utility.formatNumber(Mysoft.Map6.Utility.getUrlParams().TotalAmount,'#,###.00')}]]></html>
                                            </tmplLayout>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                    <group id="68daf3d5-e9f1-e711-ce41-94c691050e22" title="合同结算明细" disableStyle="true" isHidden="false" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="44099dad-5d0e-4b5e-8b3d-707b336676af" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="相关列表" visible="false" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="相关列表" field="subGrid_cl_ContractBalance_ContractGUID" allowEdit="false" id="68daf3d5-e9f1-e711-d641-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <subGrid id="42e0395d-948a-4a9a-8f70-42bad7881bcb" field="subGrid_cl_ContractBalance_ContractGUID" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" fullField="ContractGUID" height="300">
                                                <customProps />
                                                <events />
                                                <grid field="cl_ContractBalance.ContractGUID" metadataId="4ab42cfc-e9f1-e711-b241-94c691050e22" />
                                            </subGrid>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="69daf3d5-e9f1-e711-b241-94c691050e22" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="保存" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.UI.Template.Form.defaultSave()" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="67daf3d5-e9f1-e711-b241-94c691050e22" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="true" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.Utility.back()" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events>
            <event name="oninit" functionName="_appForm_init(e)" enabled="true" metadataStatus="Product" />
        </events>
        <attributes />
        <hiddens />
        <langs />
        <rule>
            <configs>
                <config id="e30a8577-769e-40af-ac76-59c418438902" title="默认规则" controlId="eded6431-c6a3-411d-8f94-188c0610b3b9" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSave" metadataStatus="Product">
                    <handles>
                        <handle handleId="a0384143-884f-4e0b-a87a-81b53bb1f909" ruleId="df238172-aa64-4fe7-89c6-56e8cad9c5f9" action="hide" value="" metadataStatus="Product" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" metadataStatus="Product" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>