<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" metadataversion="6" createdBy="系+先生+" createdOn="2017-12-11T02:36:03Z" modifiedBy="系+先生+" modifiedOn="2017-12-14T18:42:44.6233046+08:00" metadataStatus="Product" formId="72fe6407-1cde-e711-ae7e-94c691050e22" name="材料分类表表单控件" entityId="1d954c0e-d1b7-e711-9354-5c514f31c666" functionPageId="6ffe6407-1cde-e711-ae7e-94c691050e22">
    <dataSource keyName="ProductCategoryGUID" entity="cl_ProductCategory" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select cl_ProductCategory.AllCode as AllCode,
cl_ProductCategory.Code as Code,
cl_ProductCategory.Documents as Documents,
cl_ProductCategory.Name as Name,
cl_ProductCategory.ParentCode as ParentCode,
cl_ProductCategory.ParentGUID as ParentGUID,
cl_ProductCategory.ParentName as ParentName,
cl_ProductCategory.Remark as Remark,
cl_ProductCategory.Unit as Unit,
cl_ProductCategory.CreatedGUID as CreatedGUID,
cl_ProductCategory.CreatedName as CreatedName,
cl_ProductCategory.CreatedTime as CreatedTime,
cl_ProductCategory.ModifiedGUID as ModifiedGUID,
cl_ProductCategory.ModifiedName as ModifiedName,
cl_ProductCategory.ModifiedTime as ModifiedTime,
cl_ProductCategory.ProductCategoryGUID as ProductCategoryGUID 
From cl_ProductCategory As cl_ProductCategory 
Where cl_ProductCategory.ProductCategoryGUID=@oid]]></command>
        <fields>
            <field name="Documents" allowPopulate="true" entity="cl_ProductCategory" field="Documents" entityAlias="cl_ProductCategory" metadataStatus="Product">
                <fields />
            </field>
            <field name="ProductCategoryGUID" allowPopulate="true" entity="cl_ProductCategory" field="ProductCategoryGUID" entityAlias="cl_ProductCategory" metadataStatus="Product">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="AllCode" isRedundance="false" isPrimaryAttribute="false" aliasName="AllCode" entity="cl_ProductCategory" entityType="0" />
            <availableField name="Code" isRedundance="false" isPrimaryAttribute="false" aliasName="Code" entity="cl_ProductCategory" entityType="0" />
            <availableField name="Documents" isRedundance="false" isPrimaryAttribute="false" aliasName="Documents" entity="cl_ProductCategory" entityType="0" />
            <availableField name="Name" isRedundance="false" isPrimaryAttribute="false" aliasName="Name" entity="cl_ProductCategory" entityType="0" />
            <availableField name="ParentCode" isRedundance="false" isPrimaryAttribute="false" aliasName="ParentCode" entity="cl_ProductCategory" entityType="0" />
            <availableField name="ParentGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ParentGUID" entity="cl_ProductCategory" entityType="0" />
            <availableField name="ParentName" isRedundance="false" isPrimaryAttribute="false" aliasName="ParentName" entity="cl_ProductCategory" entityType="0" />
            <availableField name="Remark" isRedundance="false" isPrimaryAttribute="false" aliasName="Remark" entity="cl_ProductCategory" entityType="0" />
            <availableField name="Unit" isRedundance="false" isPrimaryAttribute="false" aliasName="Unit" entity="cl_ProductCategory" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_ProductCategory" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_ProductCategory" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_ProductCategory" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_ProductCategory" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_ProductCategory" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_ProductCategory" entityType="0" />
            <availableField name="ProductCategoryGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ProductCategoryGUID" entity="cl_ProductCategory" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_ProductCategory" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="1d954c0e-d1b7-e711-9354-5c514f31c666" name="cl_ProductCategory" primaryField="ProductCategoryGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0" metadataStatus="Product">
                <conditions />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" title="新分区" tabTitle="" disableStyle="true" metadataStatus="Product" key="表单ID-72fe6407-1cde-e711-ae7e-94c691050e22|tab索引0|分区索引0|分区名称">
                <events />
                <groups>
                    <group title="新分组" disableStyle="true" key="表单ID-72fe6407-1cde-e711-ae7e-94c691050e22|tab索引0|分区索引0|分组索引0|分组名称" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="0d5aedea-b1d0-4877-9af5-695e5fb8a8ca" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="导入文件" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="相关文档" field="Documents" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <fileUpload id="a6b747c2-f86f-493c-90b9-960c413f8249" field="Documents" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="required" isHidden="false" metadataStatus="Product" limitSize="50" limitType="*.*">
                                                <customProps />
                                                <events />
                                                <rightsAddRule />
                                                <rightsDelRule />
                                            </fileUpload>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="73fe6407-1cde-e711-ae7e-94c691050e22" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="导入" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.UI.Template.Form.defaultSaveAndClose();" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="71fe6407-1cde-e711-ae7e-94c691050e22" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.Utility.closeOwnerDialog();" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events />
        <attributes />
        <hiddens />
        <langs />
        <rule>
            <configs>
                <config id="e30a8577-769e-40af-ac76-59c418438902" title="默认规则" controlId="eded6431-c6a3-411d-8f94-188c0610b3b9" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSave" metadataStatus="Product">
                    <handles>
                        <handle handleId="51a4240c-e265-45ce-83f1-67f14623b5ce" ruleId="df238172-aa64-4fe7-89c6-56e8cad9c5f9" action="hide" value="" metadataStatus="Product" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" metadataStatus="Product" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>