<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" metadataversion="6" createdBy="系+先生+" createdOn="2017-11-24T09:30:07Z" modifiedBy="系+先生+" modifiedOn="2017-12-13T10:42:19.827+08:00" metadataStatus="Product" formId="7a64820e-fad0-e711-a11d-c85b76ae04d4" name="款项名称表单控件" entityId="07aea5d1-e0d0-e711-a11d-c85b76ae04d4" functionPageId="7764820e-fad0-e711-a11d-c85b76ae04d4">
    <dataSource keyName="FundParamGUID" entity="cl_FundParam" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select cl_FundParam.BUGUID as BUGUID,
cl_FundParam.Classify as Classify,
cl_FundParam.ClassifyEnum as ClassifyEnum,
cl_FundParam.FundParamName as FundParamName,
cl_FundParam.ParentGUID as ParentGUID,
cl_FundParam.SequenceNumber as SequenceNumber,
cl_FundParam.CreatedGUID as CreatedGUID,
cl_FundParam.CreatedName as CreatedName,
cl_FundParam.CreatedTime as CreatedTime,
cl_FundParam.FundParamGUID as FundParamGUID,
cl_FundParam.ModifiedGUID as ModifiedGUID,
cl_FundParam.ModifiedName as ModifiedName,
cl_FundParam.ModifiedTime as ModifiedTime 
From cl_FundParam As cl_FundParam 
Where cl_FundParam.FundParamGUID=@oid]]></command>
        <fields>
            <field name="FundParamName" allowPopulate="true" entity="cl_FundParam" field="FundParamName" entityAlias="cl_FundParam" metadataStatus="Product">
                <fields />
            </field>
            <field name="ClassifyEnum" allowPopulate="true" entity="cl_FundParam" field="ClassifyEnum" entityAlias="cl_FundParam" metadataStatus="Product">
                <fields>
                    <field allowPopulate="true" entity="cl_FundParam" storeType="value" sourceType="value" field="ClassifyEnum" metadataStatus="Product">
                        <fields />
                    </field>
                    <field allowPopulate="true" entity="cl_FundParam" storeType="value" sourceType="text" field="Classify" metadataStatus="Product">
                        <fields />
                    </field>
                </fields>
            </field>
            <field name="BUGUID" allowPopulate="true" entity="cl_FundParam" field="BUGUID" entityAlias="cl_FundParam" metadataStatus="Product">
                <fields />
            </field>
            <field name="Classify" allowPopulate="true" entity="cl_FundParam" field="Classify" entityAlias="cl_FundParam" metadataStatus="Product">
                <fields />
            </field>
            <field name="ParentGUID" allowPopulate="true" entity="cl_FundParam" field="ParentGUID" entityAlias="cl_FundParam" metadataStatus="Product">
                <fields />
            </field>
            <field name="SequenceNumber" allowPopulate="true" entity="cl_FundParam" field="SequenceNumber" entityAlias="cl_FundParam" metadataStatus="Product">
                <fields />
            </field>
            <field name="FundParamGUID" allowPopulate="true" entity="cl_FundParam" field="FundParamGUID" entityAlias="cl_FundParam" metadataStatus="Product">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="BUGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="BUGUID" entity="cl_FundParam" entityType="0" />
            <availableField name="Classify" isRedundance="false" isPrimaryAttribute="false" aliasName="Classify" entity="cl_FundParam" entityType="0" />
            <availableField name="ClassifyEnum" isRedundance="false" isPrimaryAttribute="false" aliasName="ClassifyEnum" entity="cl_FundParam" entityType="0" />
            <availableField name="FundParamName" isRedundance="false" isPrimaryAttribute="false" aliasName="FundParamName" entity="cl_FundParam" entityType="0" />
            <availableField name="ParentGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ParentGUID" entity="cl_FundParam" entityType="0" />
            <availableField name="SequenceNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="SequenceNumber" entity="cl_FundParam" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_FundParam" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_FundParam" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_FundParam" entityType="0" />
            <availableField name="FundParamGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="FundParamGUID" entity="cl_FundParam" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_FundParam" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_FundParam" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_FundParam" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_FundParam" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="07aea5d1-e0d0-e711-a11d-c85b76ae04d4" name="cl_FundParam" primaryField="FundParamGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0" metadataStatus="Product">
                <conditions />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" title="新分区" tabTitle="" disableStyle="true" metadataStatus="Product" key="表单ID-7a64820e-fad0-e711-a11d-c85b76ae04d4|tab索引0|分区索引0|分区名称">
                <events />
                <groups>
                    <group title="新分组" disableStyle="true" key="表单ID-7a64820e-fad0-e711-a11d-c85b76ae04d4|tab索引0|分区索引0|分组索引0|分组名称" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="180px" width="25%" />
                            <cellStyle labelWidth="110px" width="25%" />
                            <cellStyle labelWidth="110px" width="25%" />
                            <cellStyle labelWidth="110px" width="25%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="0d5aedea-b1d0-4877-9af5-695e5fb8a8ca" colSpan="4" rowSpan="1" metadataStatus="Product">
                                        <label title="款项类型及款项名称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="款项名称" field="FundParamName" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox field="FundParamName" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="required" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="51a269f7-22a8-435a-905f-d393656c4901" colSpan="4" rowSpan="1" metadataStatus="Product">
                                        <label title="分类" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="分类" field="ClassifyEnum" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <radioButtonList field="ClassifyEnum" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" optionsType="enum" redundancyField="ClassifyEnum" disableFolderSelect="false" showLongText="false" valueFromSelect="false" allowEmpty="false">
                                                <customProps />
                                                <events />
                                                <options />
                                                <enum enumTypeName="Mysoft.Clgyl.ProjectPrep.Model.Enum.ClassifyEnum" defaultValue="0" />
                                            </radioButtonList>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="7b64820e-fad0-e711-a11d-c85b76ae04d4" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="d28a3f76-c9f9-46df-a257-fbfc55abb0ce" title="保存&amp;新增" isHighlight="true" type="button" iconClassUrl="" iconClass="" id="mSaveNew" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.UI.Template.Form.defaultSaveAndNew();" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps>
                                    <props>isHidden</props>
                                </customProps>
                            </item>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="保存&amp;关闭" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.UI.Template.Form.defaultSaveAndClose();" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="7964820e-fad0-e711-a11d-c85b76ae04d4" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.Utility.closeOwnerDialog();" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events>
            <event name="onload" functionName="Mysoft.Clgyl.M02210104.FundParamEdit._appForm_load(e);" enabled="true" metadataStatus="Product" />
        </events>
        <attributes />
        <hiddens>
            <hidden id="17ba9c7b-e1d0-e711-a11d-c85b76ae04d4" field="BUGUID" errorMode="default" readonlyMode="none" defaultValue="[query:ScopeId]" requirementLevel="none" isHidden="true" metadataStatus="Product" allowPopulate="false" isCustomField="false">
                <customProps />
                <events />
            </hidden>
            <hidden id="b7fff96a-e1d0-e711-a11d-c85b76ae04d4" field="Classify" errorMode="default" readonlyMode="none" defaultValue="[query:ClassifyEnum]" requirementLevel="none" isHidden="true" metadataStatus="Product" allowPopulate="false" isCustomField="false">
                <customProps />
                <events />
            </hidden>
            <hidden id="37c40773-e1d0-e711-a11d-c85b76ae04d4" field="ParentGUID" errorMode="default" readonlyMode="none" defaultValue="[query:FundParamGUID]" requirementLevel="none" isHidden="true" metadataStatus="Product" allowPopulate="false" isCustomField="false">
                <customProps />
                <events />
            </hidden>
            <hidden id="47b00baf-e1d0-e711-a11d-c85b76ae04d4" field="SequenceNumber" errorMode="default" readonlyMode="none" defaultValue="[query:SequenceNum]" requirementLevel="none" isHidden="true" metadataStatus="Product" allowPopulate="false" isCustomField="false">
                <customProps />
                <events />
            </hidden>
        </hiddens>
        <langs />
        <rule>
            <configs>
                <config id="e30a8577-769e-40af-ac76-59c418438902" title="默认规则" controlId="eded6431-c6a3-411d-8f94-188c0610b3b9" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSave" metadataStatus="Product">
                    <handles>
                        <handle handleId="1ca2379d-a609-402a-8fbc-af9665b109b0" ruleId="" action="hide" value="" metadataStatus="Product" />
                    </handles>
                </config>
                <config id="bc558f84-600c-48fa-9ee6-521ade054512" title="新规则" controlId="d28a3f76-c9f9-46df-a257-fbfc55abb0ce" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSaveNew" metadataStatus="Product">
                    <handles>
                        <handle handleId="ca505a8a-6749-464e-8437-7a69a5d2ea19" ruleId="4e2f9b46-5ecd-4ce7-9ebe-31a1dfe706b5" action="hide" value="" metadataStatus="Product" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="9d01944a-dabb-4b07-b746-e4ff8aebd185" title="查看" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" metadataStatus="Product" />
                <group id="4e2f9b46-5ecd-4ce7-9ebe-31a1dfe706b5" title="编辑" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;2&quot;}]}" metadataStatus="Product" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>