<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" metadataversion="6" createdBy="系+先生+" createdOn="2017-11-25T06:03:40Z" modifiedBy="肖成毅" modifiedOn="2018-01-12T16:20:44.2389357+08:00" metadataStatus="Product" formId="899fe661-a6d1-e711-be2e-4ccc6aeee2e4" name="材料供应商类别表表单控件" entityId="679d9d19-3ad0-e711-be2e-4ccc6aeee2e4" functionPageId="7a9fe661-a6d1-e711-be2e-4ccc6aeee2e4">
    <dataSource keyName="ProviderTypeGUID" entity="cl_ProviderType" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select cl_ProviderType.Code as Code,
cl_ProviderType.Name as Name,
cl_ProviderType.ParentProviderTypeGUID as ParentProviderTypeGUID,
cl_ProviderType.Remarks as Remarks,
cl_ProviderType.CreatedGUID as CreatedGUID,
cl_ProviderType.CreatedName as CreatedName,
cl_ProviderType.CreatedTime as CreatedTime,
cl_ProviderType.ModifiedGUID as ModifiedGUID,
cl_ProviderType.ModifiedName as ModifiedName,
cl_ProviderType.ModifiedTime as ModifiedTime,
cl_ProviderType.ProviderTypeGUID as ProviderTypeGUID 
From cl_ProviderType As cl_ProviderType 
Where cl_ProviderType.ProviderTypeGUID=@oid]]></command>
        <fields>
            <field name="Name" allowPopulate="true" entity="cl_ProviderType" field="Name" entityAlias="cl_ProviderType" metadataStatus="Product">
                <fields />
            </field>
            <field name="Code" allowPopulate="true" entity="cl_ProviderType" field="Code" entityAlias="cl_ProviderType" metadataStatus="Product">
                <fields />
            </field>
            <field name="Remarks" allowPopulate="true" entity="cl_ProviderType" field="Remarks" entityAlias="cl_ProviderType" metadataStatus="Product">
                <fields />
            </field>
            <field name="ParentProviderTypeGUID" allowPopulate="true" entity="cl_ProviderType" field="ParentProviderTypeGUID" entityAlias="cl_ProviderType" metadataStatus="Product">
                <fields />
            </field>
            <field name="ProviderTypeGUID" allowPopulate="true" entity="cl_ProviderType" field="ProviderTypeGUID" entityAlias="cl_ProviderType" metadataStatus="Product">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="Code" isRedundance="false" isPrimaryAttribute="false" aliasName="Code" entity="cl_ProviderType" entityType="0" />
            <availableField name="Name" isRedundance="false" isPrimaryAttribute="false" aliasName="Name" entity="cl_ProviderType" entityType="0" />
            <availableField name="ParentProviderTypeGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ParentProviderTypeGUID" entity="cl_ProviderType" entityType="0" />
            <availableField name="Remarks" isRedundance="false" isPrimaryAttribute="false" aliasName="Remarks" entity="cl_ProviderType" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_ProviderType" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_ProviderType" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_ProviderType" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_ProviderType" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_ProviderType" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_ProviderType" entityType="0" />
            <availableField name="ProviderTypeGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ProviderTypeGUID" entity="cl_ProviderType" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_ProviderType" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="679d9d19-3ad0-e711-be2e-4ccc6aeee2e4" name="cl_ProviderType" primaryField="ProviderTypeGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0" metadataStatus="Product">
                <conditions />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" title="新分区" tabTitle="" disableStyle="true" metadataStatus="Product" key="表单ID-899fe661-a6d1-e711-be2e-4ccc6aeee2e4|tab索引0|分区索引0|分区名称">
                <events />
                <groups>
                    <group title="新分组" disableStyle="true" key="表单ID-899fe661-a6d1-e711-be2e-4ccc6aeee2e4|tab索引0|分区索引0|分组索引0|分组名称" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="140px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="9d01461f-a7d3-402f-a179-1a961e043650" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="供应商类别名称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="供应商类别名称" field="Name" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="6f53f1de-958c-4bf7-8411-f4b0637a162a" field="Name" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="required" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="7dfb8e60-ad92-4d4e-b920-e6b8ee2412a5" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="供应商类别编码" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="供应商类别编码" field="Code" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="422e7b8e-8b01-4bb8-9c02-77a36c079925" field="Code" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="required" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="72de7699-f0f1-48a0-a370-d7c57590ebbe" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="备注" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="备注" field="Remarks" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textArea id="081f9817-fc5c-4c2a-b67a-639108ad24fc" field="Remarks" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" height="120" maxLength="2000">
                                                <customProps />
                                                <events />
                                            </textArea>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="8a9fe661-a6d1-e711-be2e-4ccc6aeee2e4" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="05a2d3b7-7d18-4c7b-b3c2-6957ab74f479" title="保存&amp;新增" isHighlight="true" type="button" iconClassUrl="" iconClass="" id="mSaveAdd" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.UI.Template.Form.defaultSaveAndNew()" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="保存&amp;关闭" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.UI.Template.Form.defaultSaveAndClose()" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="889fe661-a6d1-e711-be2e-4ccc6aeee2e4" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.Utility.closeOwnerDialog();" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events />
        <attributes />
        <hiddens>
            <hidden id="8cbe6e4a-3ad0-e711-be2e-4ccc6aeee2e4" field="ParentProviderTypeGUID" errorMode="default" readonlyMode="none" defaultValue="[query:ProviderTypeGUID]" requirementLevel="none" isHidden="true" metadataStatus="Product" allowPopulate="false" isCustomField="false">
                <customProps />
                <events />
            </hidden>
        </hiddens>
        <langs />
        <rule>
            <configs>
                <config id="2b554f34-4865-4765-b916-366845070c31" title="默认规则" controlId="eded6431-c6a3-411d-8f94-188c0610b3b9" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSave" metadataStatus="Product">
                    <handles>
                        <handle handleId="e253b55c-bcb3-43c1-9ed5-714c26ed363e" ruleId="df238172-aa64-4fe7-89c6-56e8cad9c5f9" action="hide" value="" metadataStatus="Product" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" metadataStatus="Product" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>