<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" metadataversion="6" createdBy="系+先生+" createdOn="2017-11-27T06:52:57Z" modifiedBy="肖成毅" modifiedOn="2018-01-22T22:23:42.5731917+08:00" metadataStatus="Product" formId="929cfc98-3fd3-e711-a6b6-c85b76ae04d4" name="付款申请详情" entityId="a8bb85a2-18c8-e711-bc0a-4ccc6aeee2e4" functionPageId="8f9cfc98-3fd3-e711-a6b6-c85b76ae04d4" isRevisedId="1">
    <dataSource keyName="ContractGUID" entity="cl_Contract" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select cl_Contract.AdjustAmount_Bz as AdjustAmount_Bz,
cl_Contract.ApproveModel as ApproveModel,
cl_Contract.ApproveState as ApproveState,
cl_Contract.ApproveStateEnum as ApproveStateEnum,
cl_Contract.BUGUID as BUGUID,
cl_Contract.CodeFormatInfo as CodeFormatInfo,
cl_Contract.ContractCode as ContractCode,
cl_Contract.ContractName as ContractName,
cl_Contract.DeptGUID as DeptGUID,
cl_Contract.DeptName as DeptName,
cl_Contract.Documents as Documents,
cl_Contract.FormationMode as FormationMode,
cl_Contract.FormationModeGUID as FormationModeGUID,
cl_Contract.HtAmount as HtAmount,
cl_Contract.HtAmount_InputTax as HtAmount_InputTax,
cl_Contract.HtTypeGUID as HtTypeGUID,
cl_Contract.HtTypeName as HtTypeName,
cl_Contract.IsLogisticsResolution as IsLogisticsResolution,
cl_Contract.JbrGUID as JbrGUID,
cl_Contract.JbrName as JbrName,
cl_Contract.JfProviderGUID as JfProviderGUID,
cl_Contract.JfProviderName as JfProviderName,
cl_Contract.JsStateEnum as JsStateEnum,
cl_Contract.ProjGUID as ProjGUID,
cl_Contract.ProjGUIDs as ProjGUIDs,
cl_Contract.ProjNames as ProjNames,
cl_Contract.SignDate as SignDate,
cl_Contract.Status as Status,
cl_Contract.StrategicAgreement as StrategicAgreement,
cl_Contract.StrategicAgreementGUID as StrategicAgreementGUID,
cl_Contract.TotalAmount as TotalAmount,
cl_Contract.TotalApplyAmount_Bz as TotalApplyAmount_Bz,
cl_Contract.TotalDeductAmount_Bz as TotalDeductAmount_Bz,
cl_Contract.TotalJsAmount as TotalJsAmount,
cl_Contract.TotalPayAmount_Bz as TotalPayAmount_Bz,
cl_Contract.YfProviderGUID as YfProviderGUID,
cl_Contract.YfProviderName as YfProviderName,
cl_Contract.ContractGUID as ContractGUID,
cl_Contract.CreatedGUID as CreatedGUID,
cl_Contract.CreatedName as CreatedName,
cl_Contract.CreatedTime as CreatedTime,
cl_Contract.ModifiedGUID as ModifiedGUID,
cl_Contract.ModifiedName as ModifiedName,
cl_Contract.ModifiedTime as ModifiedTime,
cl_Contract.ApproverGUID as ApproverGUID,
cl_Contract.ApproverName as ApproverName,
cl_Contract.ApproveStatus as ApproveStatus,
cl_Contract.ApproveTime as ApproveTime 
From cl_Contract As cl_Contract 
Where cl_Contract.ContractGUID=@oid]]></command>
        <fields>
            <field name="ContractName" allowPopulate="true" entity="cl_Contract" field="ContractName" entityAlias="cl_Contract" metadataStatus="Product">
                <fields />
            </field>
            <field name="ContractCode" allowPopulate="true" entity="cl_Contract" field="ContractCode" entityAlias="cl_Contract" metadataStatus="Product">
                <fields />
            </field>
            <field name="YfProviderName" allowPopulate="true" entity="cl_Contract" field="YfProviderName" entityAlias="cl_Contract" metadataStatus="Product">
                <fields />
            </field>
            <field name="TotalApplyAmount_Bz" allowPopulate="true" entity="cl_Contract" field="TotalApplyAmount_Bz" entityAlias="cl_Contract" metadataStatus="Product">
                <fields />
            </field>
            <field name="TotalPayAmount_Bz" allowPopulate="true" entity="cl_Contract" field="TotalPayAmount_Bz" entityAlias="cl_Contract" metadataStatus="Product">
                <fields />
            </field>
            <field name="HtTypeGUID" allowPopulate="true" entity="cl_Contract" field="HtTypeGUID" entityAlias="cl_Contract" metadataStatus="Product">
                <fields />
            </field>
            <field name="ProjGUIDs" allowPopulate="true" entity="cl_Contract" field="ProjGUIDs" entityAlias="cl_Contract" metadataStatus="Product">
                <fields />
            </field>
            <field name="JfProviderGUID" allowPopulate="true" entity="cl_Contract" field="JfProviderGUID" entityAlias="cl_Contract" metadataStatus="Product">
                <fields />
            </field>
            <field name="JfProviderName" allowPopulate="true" entity="cl_Contract" field="JfProviderName" entityAlias="cl_Contract" metadataStatus="Product">
                <fields />
            </field>
            <field name="YfProviderGUID" allowPopulate="true" entity="cl_Contract" field="YfProviderGUID" entityAlias="cl_Contract" metadataStatus="Product">
                <fields />
            </field>
            <field name="ContractGUID" allowPopulate="true" entity="cl_Contract" field="ContractGUID" entityAlias="cl_Contract" metadataStatus="Product">
                <fields />
            </field>
            <field name="JsStateEnum" allowPopulate="false" entity="cl_Contract" field="JsStateEnum" entityAlias="cl_Contract" metadataStatus="Product">
                <fields />
            </field>
            <field name="TotalJsAmount" allowPopulate="false" entity="cl_Contract" field="TotalJsAmount" entityAlias="cl_Contract" metadataStatus="Product">
                <fields />
            </field>
            <field name="AdjustAmount_Bz" allowPopulate="false" entity="cl_Contract" field="AdjustAmount_Bz" entityAlias="cl_Contract" metadataStatus="Product">
                <fields />
            </field>
            <field name="subGrid_cl_HTFKApply_ContractGUID_vxqw" allowPopulate="true" entity="cl_Contract" field="ContractGUID" entityAlias="cl_Contract" metadataStatus="Product">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="AdjustAmount_Bz" isRedundance="false" isPrimaryAttribute="false" aliasName="AdjustAmount_Bz" entity="cl_Contract" entityType="0" />
            <availableField name="ApproveModel" isRedundance="false" isPrimaryAttribute="false" aliasName="ApproveModel" entity="cl_Contract" entityType="0" />
            <availableField name="ApproveState" isRedundance="false" isPrimaryAttribute="false" aliasName="ApproveState" entity="cl_Contract" entityType="0" />
            <availableField name="ApproveStateEnum" isRedundance="false" isPrimaryAttribute="false" aliasName="ApproveStateEnum" entity="cl_Contract" entityType="0" />
            <availableField name="BUGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="BUGUID" entity="cl_Contract" entityType="0" />
            <availableField name="CodeFormatInfo" isRedundance="false" isPrimaryAttribute="false" aliasName="CodeFormatInfo" entity="cl_Contract" entityType="0" />
            <availableField name="ContractCode" isRedundance="false" isPrimaryAttribute="false" aliasName="ContractCode" entity="cl_Contract" entityType="0" />
            <availableField name="ContractName" isRedundance="false" isPrimaryAttribute="false" aliasName="ContractName" entity="cl_Contract" entityType="0" />
            <availableField name="DeptGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="DeptGUID" entity="cl_Contract" entityType="0" />
            <availableField name="DeptName" isRedundance="false" isPrimaryAttribute="false" aliasName="DeptName" entity="cl_Contract" entityType="0" />
            <availableField name="Documents" isRedundance="false" isPrimaryAttribute="false" aliasName="Documents" entity="cl_Contract" entityType="0" />
            <availableField name="FormationMode" isRedundance="false" isPrimaryAttribute="false" aliasName="FormationMode" entity="cl_Contract" entityType="0" />
            <availableField name="FormationModeGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="FormationModeGUID" entity="cl_Contract" entityType="0" />
            <availableField name="HtAmount" isRedundance="false" isPrimaryAttribute="false" aliasName="HtAmount" entity="cl_Contract" entityType="0" />
            <availableField name="HtAmount_InputTax" isRedundance="false" isPrimaryAttribute="false" aliasName="HtAmount_InputTax" entity="cl_Contract" entityType="0" />
            <availableField name="HtTypeGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="HtTypeGUID" entity="cl_Contract" entityType="0" />
            <availableField name="HtTypeName" isRedundance="false" isPrimaryAttribute="false" aliasName="HtTypeName" entity="cl_Contract" entityType="0" />
            <availableField name="IsLogisticsResolution" isRedundance="false" isPrimaryAttribute="false" aliasName="IsLogisticsResolution" entity="cl_Contract" entityType="0" />
            <availableField name="JbrGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="JbrGUID" entity="cl_Contract" entityType="0" />
            <availableField name="JbrName" isRedundance="false" isPrimaryAttribute="false" aliasName="JbrName" entity="cl_Contract" entityType="0" />
            <availableField name="JfProviderGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="JfProviderGUID" entity="cl_Contract" entityType="0" />
            <availableField name="JfProviderName" isRedundance="false" isPrimaryAttribute="false" aliasName="JfProviderName" entity="cl_Contract" entityType="0" />
            <availableField name="JsStateEnum" isRedundance="false" isPrimaryAttribute="false" aliasName="JsStateEnum" entity="cl_Contract" entityType="0" />
            <availableField name="ProjGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ProjGUID" entity="cl_Contract" entityType="0" />
            <availableField name="ProjGUIDs" isRedundance="false" isPrimaryAttribute="false" aliasName="ProjGUIDs" entity="cl_Contract" entityType="0" />
            <availableField name="ProjNames" isRedundance="false" isPrimaryAttribute="false" aliasName="ProjNames" entity="cl_Contract" entityType="0" />
            <availableField name="SignDate" isRedundance="false" isPrimaryAttribute="false" aliasName="SignDate" entity="cl_Contract" entityType="0" />
            <availableField name="Status" isRedundance="false" isPrimaryAttribute="false" aliasName="Status" entity="cl_Contract" entityType="0" />
            <availableField name="StrategicAgreement" isRedundance="false" isPrimaryAttribute="false" aliasName="StrategicAgreement" entity="cl_Contract" entityType="0" />
            <availableField name="StrategicAgreementGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="StrategicAgreementGUID" entity="cl_Contract" entityType="0" />
            <availableField name="TotalAmount" isRedundance="false" isPrimaryAttribute="false" aliasName="TotalAmount" entity="cl_Contract" entityType="0" />
            <availableField name="TotalApplyAmount_Bz" isRedundance="false" isPrimaryAttribute="false" aliasName="TotalApplyAmount_Bz" entity="cl_Contract" entityType="0" />
            <availableField name="TotalDeductAmount_Bz" isRedundance="false" isPrimaryAttribute="false" aliasName="TotalDeductAmount_Bz" entity="cl_Contract" entityType="0" />
            <availableField name="TotalJsAmount" isRedundance="false" isPrimaryAttribute="false" aliasName="TotalJsAmount" entity="cl_Contract" entityType="0" />
            <availableField name="TotalPayAmount_Bz" isRedundance="false" isPrimaryAttribute="false" aliasName="TotalPayAmount_Bz" entity="cl_Contract" entityType="0" />
            <availableField name="YfProviderGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="YfProviderGUID" entity="cl_Contract" entityType="0" />
            <availableField name="YfProviderName" isRedundance="false" isPrimaryAttribute="false" aliasName="YfProviderName" entity="cl_Contract" entityType="0" />
            <availableField name="ContractGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ContractGUID" entity="cl_Contract" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_Contract" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_Contract" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_Contract" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_Contract" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_Contract" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_Contract" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_Contract" entityType="0" />
            <availableField name="ApproverGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ApproverGUID" entity="cl_Contract" entityType="0" />
            <availableField name="ApproverName" isRedundance="false" isPrimaryAttribute="false" aliasName="ApproverName" entity="cl_Contract" entityType="0" />
            <availableField name="ApproveStatus" isRedundance="false" isPrimaryAttribute="false" aliasName="ApproveStatus" entity="cl_Contract" entityType="0" />
            <availableField name="ApproveTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ApproveTime" entity="cl_Contract" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="a8bb85a2-18c8-e711-bc0a-4ccc6aeee2e4" name="cl_Contract" primaryField="ContractGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0" metadataStatus="Product">
                <conditions />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" id="929cfc98-3fd3-e711-a7b6-c85b76ae04d4" title="合同基本信息" tabTitle="" disableStyle="true" isHidden="false" metadataStatus="Product">
                <events />
                <groups>
                    <group id="929cfc98-3fd3-e711-a9b6-c85b76ae04d4" title="合同基本信息" disableStyle="false" isHidden="false" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="118px" width="50%" />
                            <cellStyle labelWidth="128px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="0d5aedea-b1d0-4877-9af5-695e5fb8a8ca" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="合同名称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="合同名称" field="ContractName" allowEdit="false" id="929cfc98-3fd3-e711-acb6-c85b76ae04d4" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox field="ContractName" errorMode="default" readonlyMode="all" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                    <cell id="2a729571-cf05-4b83-aac8-f08d9dd7ebdf" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="合同编号" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="合同编号" field="ContractCode" allowEdit="false" id="929cfc98-3fd3-e711-b0b6-c85b76ae04d4" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox field="ContractCode" errorMode="default" readonlyMode="all" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="512">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="338d59ba-a923-4cab-acc4-2501f047744f" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="乙方单位" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="乙方单位名称" field="YfProviderName" allowEdit="false" id="929cfc98-3fd3-e711-b5b6-c85b76ae04d4" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox field="YfProviderName" errorMode="default" readonlyMode="all" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                    <cell id="620877e4-fe5d-4ec6-bef9-6c4d286d83c9" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="调整后合同金额" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="调整后合同金额_合同币" field="AdjustAmount_Bz" allowEdit="false" id="929cfc98-3fd3-e711-bbb6-c85b76ae04d4" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="number" align="right" dataSourceType="CalculateColumn" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <spinner field="AdjustAmount_Bz" errorMode="default" readonlyMode="all" defaultValue="0.00" requirementLevel="none" templateStyle="" isHidden="false" metadataStatus="Product" precision="2" precisionType="0" rounding="2" roundingType="0" showThousandths="true" isBold="false" allowZero="true" allowEmpty="false" showPercentage="false" unitText="" unitTextType="0" unitTextBizParam="" minValue="-99999999999.99" maxValue="99999999999.99" minOperatorType="ge" maxOperatorType="le">
                                                <customProps />
                                                <events />
                                            </spinner>
                                            <subControlFormula text="CASE(cl_Contract.JsStateEnum,3,cl_Contract.TotalJsAmount,cl_Contract.AdjustAmount_Bz)" category="Simple" originalSqlExpression="CASE cl_Contract.JsStateEnum  WHEN 3 THEN cl_Contract.TotalJsAmount ELSE cl_Contract.AdjustAmount_Bz END " fieldSqlExpression="CASE cl_Contract.JsStateEnum  WHEN 3 THEN cl_Contract.TotalJsAmount ELSE cl_Contract.AdjustAmount_Bz END " fontExpression="f.case(JsStateEnum,3,TotalJsAmount,AdjustAmount_Bz)" tableName="cl_Contract" expressionValueClrType="System.Decimal" fieldName="AdjustAmount_Bz">
                                                <Id>813a0073-57ff-e711-a81c-4ccc6aeee2e4</Id>
                                                <RelationTables>
                                                    <RelationTable name="cl_Contract" id="a8bb85a2-18c8-e711-bc0a-4ccc6aeee2e4">
                                                        <RelationFields>
                                                            <RelationField name="JsStateEnum" id="7818e4b4-2ed0-e711-be2e-4ccc6aeee2e4" entityId="7818e4b4-2ed0-e711-be2e-4ccc6aeee2e4" aliasName="JsStateEnum" type="int32" />
                                                            <RelationField name="TotalJsAmount" id="93e9f607-41f7-e711-889c-94c691050e22" entityId="93e9f607-41f7-e711-889c-94c691050e22" aliasName="TotalJsAmount" type="decimal" />
                                                            <RelationField name="AdjustAmount_Bz" id="983e2c90-1ac8-e711-bc0a-4ccc6aeee2e4" entityId="983e2c90-1ac8-e711-bc0a-4ccc6aeee2e4" aliasName="AdjustAmount_Bz" type="decimal" />
                                                        </RelationFields>
                                                    </RelationTable>
                                                </RelationTables>
                                            </subControlFormula>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="cd7ac493-3db4-4073-b273-a729ba1eb320" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="累计申请金额" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="累计申请金额（原币）" field="TotalApplyAmount_Bz" allowEdit="false" id="929cfc98-3fd3-e711-c2b6-c85b76ae04d4" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="number" align="right" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <spinner field="TotalApplyAmount_Bz" errorMode="default" readonlyMode="all" defaultValue="0.00" requirementLevel="none" templateStyle="" isHidden="false" metadataStatus="Product" precision="2" precisionType="0" rounding="2" roundingType="0" showThousandths="true" isBold="false" allowZero="true" allowEmpty="false" showPercentage="false" unitText="" unitTextType="0" unitTextBizParam="" minValue="-99999999999.99" maxValue="99999999999.99" minOperatorType="ge" maxOperatorType="le">
                                                <customProps />
                                                <events />
                                            </spinner>
                                            <behaviors />
                                        </column>
                                    </cell>
                                    <cell id="d8ab671b-cafa-40ef-95a0-4102b67893d7" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="累计实付金额" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="累计实付金额（原币）" field="TotalPayAmount_Bz" allowEdit="false" id="929cfc98-3fd3-e711-cab6-c85b76ae04d4" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="number" align="right" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <spinner field="TotalPayAmount_Bz" errorMode="default" readonlyMode="all" defaultValue="0.00" requirementLevel="none" templateStyle="" isHidden="false" metadataStatus="Product" precision="2" precisionType="0" rounding="2" roundingType="0" showThousandths="true" isBold="false" allowZero="true" allowEmpty="false" showPercentage="false" unitText="" unitTextType="0" unitTextBizParam="" minValue="-99999999999.99" maxValue="99999999999.99" minOperatorType="ge" maxOperatorType="le">
                                                <customProps />
                                                <events />
                                            </spinner>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="6d1aaa7c-9331-4728-a579-806867ed1ccf" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="合同类别GUID" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="合同类别GUID" field="HtTypeGUID" allowEdit="false" id="929cfc98-3fd3-e711-d3b6-c85b76ae04d4" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="fd4bfe97-0017-47fc-9298-ae63f109b6b7" field="HtTypeGUID" errorMode="default" readonlyMode="all" defaultValue="" requirementLevel="none" isHidden="true" metadataStatus="Product" isBold="false" maxLength="0">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                    <cell id="30396db0-9585-4171-b6e1-87dc5798456f" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="工程项目GUIDs" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="工程项目GUIDs" field="ProjGUIDs" allowEdit="false" id="929cfc98-3fd3-e711-ddb6-c85b76ae04d4" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="0eaf7bd2-579e-41f1-84bf-1f76dd2767f4" field="ProjGUIDs" errorMode="default" readonlyMode="all" defaultValue="" requirementLevel="none" isHidden="true" metadataStatus="Product" isBold="false" maxLength="0">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="b8466ee6-e937-4bbd-b5d9-2916fa5bf7a0" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="甲方单位GUID" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="甲方单位GUID" field="JfProviderGUID" allowEdit="false" id="929cfc98-3fd3-e711-e8b6-c85b76ae04d4" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="0b178b0d-ccb4-4fb4-b484-f066526c49ba" field="JfProviderGUID" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="true" metadataStatus="Product" isBold="false" maxLength="0">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                    <cell id="f774922b-7fb1-4aee-80b2-5fb447a48c4c" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="甲方单位名称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="甲方单位名称" field="JfProviderName" allowEdit="false" id="929cfc98-3fd3-e711-f4b6-c85b76ae04d4" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="3a8c8052-328c-4de8-afac-b0482667e51c" field="JfProviderName" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="true" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="f4ad4d29-9a7d-4572-a339-eeb3936f0e13" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="乙方单位GUID" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="乙方单位GUID" field="YfProviderGUID" allowEdit="false" id="929cfc98-3fd3-e711-01b7-c85b76ae04d4" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="6d306885-e3ad-402c-8aa8-c01e3d012ee4" field="YfProviderGUID" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="true" metadataStatus="Product" isBold="false" maxLength="0">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                    <cell id="2d22b613-7da8-4703-9936-1746af750b61" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="材料合同表主键" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="材料合同表主键" field="ContractGUID" allowEdit="false" id="a3ef5c80-5811-409a-a2b9-2382dfa54e39" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="0f2bd9d4-5d21-462e-bb53-80aaa76bb13c" field="ContractGUID" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="true" metadataStatus="Product" isBold="false" maxLength="0">
                                                <customProps />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                    <group id="929cfc98-3fd3-e711-0fb7-c85b76ae04d4" title="付款申请明细" disableStyle="true" isHidden="false" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="ff96fb94-ee6b-4f3b-89a8-faf45fe59ba5" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="内嵌列表" visible="false" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="相关列表" field="subGrid_cl_HTFKApply_ContractGUID_vxqw" allowEdit="false" id="929cfc98-3fd3-e711-1eb7-c85b76ae04d4" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <subGrid field="subGrid_cl_HTFKApply_ContractGUID_vxqw" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" fullField="ContractGUID" height="300">
                                                <customProps />
                                                <events />
                                                <grid field="cl_HTFKApply.ContractGUID" metadataId="c49c0db8-4dd3-e711-a6b6-c85b76ae04d4" />
                                            </subGrid>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="939cfc98-3fd3-e711-a6b6-c85b76ae04d4" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items />
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events />
        <attributes />
        <hiddens />
        <langs />
        <rule>
            <configs />
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="取消" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" metadataStatus="Product" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>