<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" metadataversion="6" createdBy="系+先生+" createdOn="2017-11-28T09:58:37Z" modifiedBy="系+先生+" modifiedOn="2017-12-22T15:21:31.4905572+08:00" metadataStatus="Product" formId="b35057b3-22d4-e711-a5c7-94c69101ea32" name="工程项目表单控件" entityId="d1350e24-57d3-e711-bd7f-94c69101ea32" functionPageId="b05057b3-22d4-e711-a5c7-94c69101ea32">
    <dataSource keyName="ServiceProjectGUID" entity="cl_ServiceProject" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select cl_ServiceProject.Address as Address,
cl_ServiceProject.BUGUID as BUGUID,
cl_ServiceProject.Code as Code,
cl_ServiceProject.HierarchyCode as HierarchyCode,
cl_ServiceProject.Level as Level,
cl_ServiceProject.Name as Name,
cl_ServiceProject.ParentGUID as ParentGUID,
cl_ServiceProject.Remark as Remark,
cl_ServiceProject.Status as Status,
cl_ServiceProject.CreatedGUID as CreatedGUID,
cl_ServiceProject.CreatedName as CreatedName,
cl_ServiceProject.CreatedTime as CreatedTime,
cl_ServiceProject.ModifiedGUID as ModifiedGUID,
cl_ServiceProject.ModifiedName as ModifiedName,
cl_ServiceProject.ModifiedTime as ModifiedTime,
cl_ServiceProject.ServiceProjectGUID as ServiceProjectGUID,
cl_ServiceProject.HierarchyName as HierarchyName 
From cl_ServiceProject As cl_ServiceProject 
Where cl_ServiceProject.ServiceProjectGUID=@oid]]></command>
        <fields>
            <field name="Code" allowPopulate="true" entity="cl_ServiceProject" field="Code" entityAlias="cl_ServiceProject" metadataStatus="Product">
                <fields />
            </field>
            <field name="Name" allowPopulate="true" entity="cl_ServiceProject" field="Name" entityAlias="cl_ServiceProject" metadataStatus="Product">
                <fields />
            </field>
            <field name="Address" allowPopulate="true" entity="cl_ServiceProject" field="Address" entityAlias="cl_ServiceProject" metadataStatus="Product">
                <fields />
            </field>
            <field name="Status" allowPopulate="true" entity="cl_ServiceProject" field="Status" entityAlias="cl_ServiceProject" metadataStatus="Product">
                <fields />
            </field>
            <field name="Remark" allowPopulate="true" entity="cl_ServiceProject" field="Remark" entityAlias="cl_ServiceProject" metadataStatus="Product">
                <fields />
            </field>
            <field name="BUGUID" allowPopulate="true" entity="cl_ServiceProject" field="BUGUID" entityAlias="cl_ServiceProject" metadataStatus="Product">
                <fields />
            </field>
            <field name="ParentGUID" allowPopulate="true" entity="cl_ServiceProject" field="ParentGUID" entityAlias="cl_ServiceProject" metadataStatus="Product">
                <fields />
            </field>
            <field name="ServiceProjectGUID" allowPopulate="true" entity="cl_ServiceProject" field="ServiceProjectGUID" entityAlias="cl_ServiceProject" metadataStatus="Product">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="Address" isRedundance="false" isPrimaryAttribute="false" aliasName="Address" entity="cl_ServiceProject" entityType="0" />
            <availableField name="BUGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="BUGUID" entity="cl_ServiceProject" entityType="0" />
            <availableField name="Code" isRedundance="false" isPrimaryAttribute="false" aliasName="Code" entity="cl_ServiceProject" entityType="0" />
            <availableField name="HierarchyCode" isRedundance="false" isPrimaryAttribute="false" aliasName="HierarchyCode" entity="cl_ServiceProject" entityType="0" />
            <availableField name="Level" isRedundance="false" isPrimaryAttribute="false" aliasName="Level" entity="cl_ServiceProject" entityType="0" />
            <availableField name="Name" isRedundance="false" isPrimaryAttribute="false" aliasName="Name" entity="cl_ServiceProject" entityType="0" />
            <availableField name="ParentGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ParentGUID" entity="cl_ServiceProject" entityType="0" />
            <availableField name="Remark" isRedundance="false" isPrimaryAttribute="false" aliasName="Remark" entity="cl_ServiceProject" entityType="0" />
            <availableField name="Status" isRedundance="false" isPrimaryAttribute="false" aliasName="Status" entity="cl_ServiceProject" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_ServiceProject" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_ServiceProject" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_ServiceProject" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_ServiceProject" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_ServiceProject" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_ServiceProject" entityType="0" />
            <availableField name="ServiceProjectGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ServiceProjectGUID" entity="cl_ServiceProject" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_ServiceProject" entityType="0" />
            <availableField name="HierarchyName" isRedundance="false" isPrimaryAttribute="false" aliasName="HierarchyName" entity="cl_ServiceProject" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="d1350e24-57d3-e711-bd7f-94c69101ea32" name="cl_ServiceProject" primaryField="ServiceProjectGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0" metadataStatus="Product">
                <conditions>
                    <condition field="cl_ServiceProject.ServiceProjectGUID" operatorType="eq" id="b27d7fdb-0d4d-4352-9b41-90ccf4eef3be" dataType="string" valueType="1">
                        <Value xsi:type="xsd:string">[query:oid]</Value>
                    </condition>
                </conditions>
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" title="新分区" tabTitle="" disableStyle="true" metadataStatus="Product" key="表单ID-b35057b3-22d4-e711-a5c7-94c69101ea32|tab索引0|分区索引0|分区名称">
                <events />
                <groups>
                    <group title="新分组" disableStyle="true" key="表单ID-b35057b3-22d4-e711-a5c7-94c69101ea32|tab索引0|分区索引0|分组索引0|分组名称" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="0d5aedea-b1d0-4877-9af5-695e5fb8a8ca" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="项目编码" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="编码" field="Code" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox field="Code" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="required" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                    <cell id="2a729571-cf05-4b83-aac8-f08d9dd7ebdf" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="名称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="名称" field="Name" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox field="Name" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="required" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="c5b5d036-99cb-4f58-a9cc-c0adf4e8e4d5" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="工程公司名称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="单行文本" field="BusinessServiceUnitName" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Normal" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox field="BusinessServiceUnitName" errorMode="default" readonlyMode="all" defaultValue="[query:BUName]" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="0">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                    <cell id="10a9538e-4c5b-493d-a995-2dc51947c789" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="项目地址" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="项目地址" field="Address" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox field="Address" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="1024">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="5eb00d69-fc78-4d4f-9298-d4a86afd3a90" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="项目状态" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="项目状态" field="Status" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox field="Status" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                    <cell id="0e8480df-22af-4bd7-b44e-11638208a7d7" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="说明" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="说明" field="Remark" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox field="Remark" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="1024">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="b45057b3-22d4-e711-a5c7-94c69101ea32" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="保存" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Clgyl.M02210105.ServiceProjectEdit._appForm_mSave_click(e);" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="b25057b3-22d4-e711-a5c7-94c69101ea32" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.Utility.back();" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events />
        <attributes />
        <hiddens>
            <hidden id="a113f434-57d3-e711-bd7f-94c69101ea32" field="BUGUID" errorMode="default" readonlyMode="none" defaultValue="[query:BUGUID]" requirementLevel="none" isHidden="true" metadataStatus="Product" allowPopulate="false" isCustomField="false">
                <customProps />
                <events />
            </hidden>
            <hidden id="a114a253-57d3-e711-bd7f-94c69101ea32" field="ParentGUID" errorMode="default" readonlyMode="none" defaultValue="[query:ParentProjectGUID]" requirementLevel="none" isHidden="true" metadataStatus="Product" allowPopulate="false" isCustomField="false">
                <customProps />
                <events />
            </hidden>
        </hiddens>
        <langs />
        <rule>
            <configs>
                <config id="e30a8577-769e-40af-ac76-59c418438902" title="默认规则" controlId="eded6431-c6a3-411d-8f94-188c0610b3b9" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSave" metadataStatus="Product">
                    <handles>
                        <handle handleId="52b9d8f9-0a5f-4c95-9435-d0ef2e80bf14" ruleId="df238172-aa64-4fe7-89c6-56e8cad9c5f9" action="hide" value="" metadataStatus="Product" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" metadataStatus="Product" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>