<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" metadataversion="6" createdBy="系+先生+" createdOn="2017-11-21T10:11:30Z" modifiedBy="周建荣" modifiedOn="2018-01-19T11:41:37.516+08:00" metadataStatus="Product" formId="b6953e57-a4ce-e711-aa53-94c691050e22" name="发货单表单控件" entityId="8607d53c-63ce-e711-aa53-94c691050e22" functionPageId="b3953e57-a4ce-e711-aa53-94c691050e22" isRevisedId="1">
    <dataSource keyName="InvoiceGUID" entity="cl_Invoice" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select cl_Invoice.Consignor as Consignor,
cl_Invoice.ConsignorPhone as ConsignorPhone,
cl_Invoice.Documents as Documents,
cl_Invoice.InvoiceDate as InvoiceDate,
cl_Invoice.InvoiceName as InvoiceName,
cl_Invoice.InvoiceNo as InvoiceNo,
cl_Invoice.InvoiceUnit as InvoiceUnit,
cl_Invoice.Operator as Operator,
cl_Invoice.OperatorDate as OperatorDate,
cl_Invoice.OperatorPhone as OperatorPhone,
cl_Invoice.OrderGUID as OrderGUID,
cl_Invoice.ProjectOwned as ProjectOwned,
cl_Invoice.ProjGUID as ProjGUID,
cl_Invoice.ReceivedDate as ReceivedDate,
cl_Invoice.Receiver as Receiver,
cl_Invoice.ReceiverPhone as ReceiverPhone,
cl_Invoice.ReceiveUnit as ReceiveUnit,
cl_Invoice.Remark as Remark,
cl_Invoice.Status as Status,
cl_Invoice.CreatedGUID as CreatedGUID,
cl_Invoice.CreatedName as CreatedName,
cl_Invoice.CreatedTime as CreatedTime,
cl_Invoice.InvoiceGUID as InvoiceGUID,
cl_Invoice.ModifiedGUID as ModifiedGUID,
cl_Invoice.ModifiedName as ModifiedName,
cl_Invoice.ModifiedTime as ModifiedTime 
From cl_Invoice As cl_Invoice 
Where cl_Invoice.InvoiceGUID=@oid]]></command>
        <fields>
            <field name="Name" allowPopulate="false" entity="cl_Order" field="Name" entityAlias="cl_Order" metadataStatus="Product">
                <fields />
            </field>
            <field name="OrderDate" allowPopulate="false" entity="cl_Order" field="OrderDate" entityAlias="cl_Order" metadataStatus="Product">
                <fields />
            </field>
            <field name="EnginContractName" allowPopulate="false" entity="cl_Order" field="EnginContractName" entityAlias="cl_Order" metadataStatus="Product">
                <fields />
            </field>
            <field name="SupplyContractGUID" allowPopulate="false" entity="cl_Order" field="SupplyContractGUID" entityAlias="cl_Order" metadataStatus="Product">
                <fields />
            </field>
            <field name="SupplyContractName" allowPopulate="false" entity="cl_Order" field="SupplyContractName" entityAlias="cl_Order" metadataStatus="Product">
                <fields />
            </field>
            <field name="ReceiveUnitName" allowPopulate="false" entity="cl_Order" field="ReceiveUnitName" entityAlias="cl_Order" metadataStatus="Product">
                <fields />
            </field>
            <field name="SupplyUnit" allowPopulate="false" entity="cl_Order" field="SupplyUnit" entityAlias="cl_Order" metadataStatus="Product">
                <fields />
            </field>
            <field name="cl_Order_ProjectOwned" allowPopulate="false" entity="cl_Order" field="ProjectOwned" entityAlias="cl_Order" metadataStatus="Product">
                <fields />
            </field>
            <field name="ConsigneeAddress" allowPopulate="false" entity="cl_Order" field="ConsigneeAddress" entityAlias="cl_Order" metadataStatus="Product">
                <fields />
            </field>
            <field name="InvoiceName" allowPopulate="true" entity="cl_Invoice" field="InvoiceName" entityAlias="cl_Invoice" metadataStatus="Product">
                <fields />
            </field>
            <field name="InvoiceNo" allowPopulate="true" entity="cl_Invoice" field="InvoiceNo" entityAlias="cl_Invoice" metadataStatus="Product">
                <fields />
            </field>
            <field name="InvoiceDate" allowPopulate="true" entity="cl_Invoice" field="InvoiceDate" entityAlias="cl_Invoice" metadataStatus="Product">
                <fields />
            </field>
            <field name="Status" allowPopulate="true" entity="cl_Invoice" field="Status" entityAlias="cl_Invoice" metadataStatus="Product">
                <fields />
            </field>
            <field name="Consignor" allowPopulate="true" entity="cl_Invoice" field="Consignor" entityAlias="cl_Invoice" metadataStatus="Product">
                <fields />
            </field>
            <field name="ConsignorPhone" allowPopulate="true" entity="cl_Invoice" field="ConsignorPhone" entityAlias="cl_Invoice" metadataStatus="Product">
                <fields />
            </field>
            <field name="Remark" allowPopulate="true" entity="cl_Invoice" field="Remark" entityAlias="cl_Invoice" metadataStatus="Product">
                <fields />
            </field>
            <field name="Documents" allowPopulate="true" entity="cl_Invoice" field="Documents" entityAlias="cl_Invoice" metadataStatus="Product">
                <fields />
            </field>
            <field name="InvoiceGUID" allowPopulate="true" entity="cl_Invoice" field="InvoiceGUID" entityAlias="cl_Invoice" metadataStatus="Product">
                <fields />
            </field>
            <field name="OrderGUID" allowPopulate="false" entity="cl_Invoice" field="OrderGUID" entityAlias="cl_Invoice" metadataStatus="Product">
                <fields />
            </field>
            <field name="Consignee" allowPopulate="false" entity="cl_Order" field="Consignee" entityAlias="cl_Order" metadataStatus="Product">
                <fields />
            </field>
            <field name="ConsigneePhone" allowPopulate="false" entity="cl_Order" field="ConsigneePhone" entityAlias="cl_Order" metadataStatus="Product">
                <fields />
            </field>
            <field name="subGrid_cl_InvoiceDetail_InvoiceGUID" allowPopulate="false" entity="cl_Invoice" field="InvoiceGUID" entityAlias="cl_Invoice" metadataStatus="Product">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="Consignor" isRedundance="false" isPrimaryAttribute="false" aliasName="Consignor" entity="cl_Invoice" entityType="0" />
            <availableField name="ConsignorPhone" isRedundance="false" isPrimaryAttribute="false" aliasName="ConsignorPhone" entity="cl_Invoice" entityType="0" />
            <availableField name="Documents" isRedundance="false" isPrimaryAttribute="false" aliasName="Documents" entity="cl_Invoice" entityType="0" />
            <availableField name="InvoiceDate" isRedundance="false" isPrimaryAttribute="false" aliasName="InvoiceDate" entity="cl_Invoice" entityType="0" />
            <availableField name="InvoiceName" isRedundance="false" isPrimaryAttribute="false" aliasName="InvoiceName" entity="cl_Invoice" entityType="0" />
            <availableField name="InvoiceNo" isRedundance="false" isPrimaryAttribute="false" aliasName="InvoiceNo" entity="cl_Invoice" entityType="0" />
            <availableField name="InvoiceUnit" isRedundance="false" isPrimaryAttribute="false" aliasName="InvoiceUnit" entity="cl_Invoice" entityType="0" />
            <availableField name="Operator" isRedundance="false" isPrimaryAttribute="false" aliasName="Operator" entity="cl_Invoice" entityType="0" />
            <availableField name="OperatorDate" isRedundance="false" isPrimaryAttribute="false" aliasName="OperatorDate" entity="cl_Invoice" entityType="0" />
            <availableField name="OperatorPhone" isRedundance="false" isPrimaryAttribute="false" aliasName="OperatorPhone" entity="cl_Invoice" entityType="0" />
            <availableField name="OrderGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="OrderGUID" entity="cl_Invoice" entityType="0" />
            <availableField name="ProjectOwned" isRedundance="false" isPrimaryAttribute="false" aliasName="ProjectOwned" entity="cl_Invoice" entityType="0" />
            <availableField name="ProjGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ProjGUID" entity="cl_Invoice" entityType="0" />
            <availableField name="ReceivedDate" isRedundance="false" isPrimaryAttribute="false" aliasName="ReceivedDate" entity="cl_Invoice" entityType="0" />
            <availableField name="Receiver" isRedundance="false" isPrimaryAttribute="false" aliasName="Receiver" entity="cl_Invoice" entityType="0" />
            <availableField name="ReceiverPhone" isRedundance="false" isPrimaryAttribute="false" aliasName="ReceiverPhone" entity="cl_Invoice" entityType="0" />
            <availableField name="ReceiveUnit" isRedundance="false" isPrimaryAttribute="false" aliasName="ReceiveUnit" entity="cl_Invoice" entityType="0" />
            <availableField name="Remark" isRedundance="false" isPrimaryAttribute="false" aliasName="Remark" entity="cl_Invoice" entityType="0" />
            <availableField name="Status" isRedundance="false" isPrimaryAttribute="false" aliasName="Status" entity="cl_Invoice" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_Invoice" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_Invoice" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_Invoice" entityType="0" />
            <availableField name="InvoiceGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="InvoiceGUID" entity="cl_Invoice" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_Invoice" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_Invoice" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_Invoice" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_Invoice" entityType="0" />
            <availableField name="InvoiceRemark" isRedundance="false" isPrimaryAttribute="false" aliasName="InvoiceRemark" entity="cl_Invoice" entityType="0" />
            <availableField name="ApplyGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ApplyGUID" entity="cl_Order" entityType="0" />
            <availableField name="ApplyName" isRedundance="false" isPrimaryAttribute="false" aliasName="ApplyName" entity="cl_Order" entityType="0" />
            <availableField name="Code" isRedundance="false" isPrimaryAttribute="false" aliasName="Code" entity="cl_Order" entityType="0" />
            <availableField name="Consignee" isRedundance="false" isPrimaryAttribute="false" aliasName="Consignee" entity="cl_Order" entityType="0" />
            <availableField name="ConsigneeAddress" isRedundance="false" isPrimaryAttribute="false" aliasName="ConsigneeAddress" entity="cl_Order" entityType="0" />
            <availableField name="ConsigneePhone" isRedundance="false" isPrimaryAttribute="false" aliasName="ConsigneePhone" entity="cl_Order" entityType="0" />
            <availableField name="Documents" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_Order_Documents" entity="cl_Order" entityType="0" />
            <availableField name="EnginContractGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="EnginContractGUID" entity="cl_Order" entityType="0" />
            <availableField name="EnginContractName" isRedundance="false" isPrimaryAttribute="false" aliasName="EnginContractName" entity="cl_Order" entityType="0" />
            <availableField name="Name" isRedundance="false" isPrimaryAttribute="false" aliasName="Name" entity="cl_Order" entityType="0" />
            <availableField name="OrderDate" isRedundance="false" isPrimaryAttribute="false" aliasName="OrderDate" entity="cl_Order" entityType="0" />
            <availableField name="OrderedDate" isRedundance="false" isPrimaryAttribute="false" aliasName="OrderedDate" entity="cl_Order" entityType="0" />
            <availableField name="ProjectOwned" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_Order_ProjectOwned" entity="cl_Order" entityType="0" />
            <availableField name="ProjGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_Order_ProjGUID" entity="cl_Order" entityType="0" />
            <availableField name="ReceiveUnitGuid" isRedundance="false" isPrimaryAttribute="false" aliasName="ReceiveUnitGuid" entity="cl_Order" entityType="0" />
            <availableField name="ReceiveUnitName" isRedundance="false" isPrimaryAttribute="false" aliasName="ReceiveUnitName" entity="cl_Order" entityType="0" />
            <availableField name="Remark" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_Order_Remark" entity="cl_Order" entityType="0" />
            <availableField name="Source" isRedundance="false" isPrimaryAttribute="false" aliasName="Source" entity="cl_Order" entityType="0" />
            <availableField name="Status" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_Order_Status" entity="cl_Order" entityType="0" />
            <availableField name="SupplyContractCode" isRedundance="false" isPrimaryAttribute="false" aliasName="SupplyContractCode" entity="cl_Order" entityType="0" />
            <availableField name="SupplyContractGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="SupplyContractGUID" entity="cl_Order" entityType="0" />
            <availableField name="SupplyContractName" isRedundance="false" isPrimaryAttribute="false" aliasName="SupplyContractName" entity="cl_Order" entityType="0" />
            <availableField name="SupplyGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="SupplyGUID" entity="cl_Order" entityType="0" />
            <availableField name="SupplyUnit" isRedundance="false" isPrimaryAttribute="false" aliasName="SupplyUnit" entity="cl_Order" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_Order_CreatedGUID" entity="cl_Order" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_Order_CreatedName" entity="cl_Order" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_Order_CreatedTime" entity="cl_Order" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_Order_ModifiedGUID" entity="cl_Order" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_Order_ModifiedName" entity="cl_Order" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_Order_ModifiedTime" entity="cl_Order" entityType="0" />
            <availableField name="OrderGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_Order_OrderGUID" entity="cl_Order" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_Order_VersionNumber" entity="cl_Order" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="8607d53c-63ce-e711-aa53-94c691050e22" name="cl_Invoice" primaryField="InvoiceGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0" metadataStatus="Product">
                <conditions />
            </diagram>
            <diagram id="a6bf1639-66ce-e711-aa53-94c691050e22" name="cl_Order" primaryField="OrderGUID" parentId="8607d53c-63ce-e711-aa53-94c691050e22" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="false" joinType="0" conditionType="0" metadataStatus="Product">
                <conditions />
                <diagramRelation primaryEntityName="cl_Invoice" primaryFieldName="OrderGUID" entityName="cl_Order" fieldName="OrderGUID" relation="cl_Invoice.OrderGUID = cl_Order.OrderGUID" />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" id="b6953e57-a4ce-e711-ab53-94c691050e22" title="基本信息" tabTitle="mainTabId" disableStyle="true" isHidden="false" metadataStatus="Product">
                <events />
                <groups>
                    <group id="b6953e57-a4ce-e711-ad53-94c691050e22" title="订单信息" disableStyle="false" isHidden="false" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="7d14532d-10ca-4b54-a411-b3869f8dee9e" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="订单" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="订单名称" field="Name" allowEdit="false" id="b6953e57-a4ce-e711-b053-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="ee36ab01-8507-4431-81b7-acf7abb951ea" field="Name" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                    <cell id="67314cdc-bce5-4238-a67f-85154603b5c7" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="订单日期" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="订单日期" field="OrderDate" allowEdit="false" id="b6953e57-a4ce-e711-b453-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="date" align="center" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <datePicker id="e68de9d8-c023-4497-85aa-b9544873ecce" field="OrderDate" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" format="yyyy-MM-dd" metadataStatus="Product">
                                                <customProps />
                                                <events />
                                            </datePicker>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="283092e3-9549-4ee2-b0d6-437fc235da6c" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="工程合同" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="工程合同" field="EnginContractName" allowEdit="false" id="b6953e57-a4ce-e711-b953-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="a289c5fa-7408-47f0-8e7b-d89ef4ebb688" field="EnginContractName" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                    <cell id="31010386-ffd3-4747-9e41-346f7c79aaa3" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="供货合同" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="供货合同GUID" field="SupplyContractGUID" allowEdit="false" id="b6953e57-a4ce-e711-bf53-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <comboBox field="SupplyContractGUID" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" optionsType="bizParam" redundancyField="SupplyContractName" allowEmpty="false" emptyIsDefault="false" valueFromSelect="false" showLongText="false" disableFolderSelect="false">
                                                <customProps />
                                                <events />
                                                <options />
                                            </comboBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="6803a34d-13a7-4231-9283-e108fcc2c3a0" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="收货单位" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="收货单位" field="ReceiveUnitName" allowEdit="false" id="b6953e57-a4ce-e711-c653-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="0bb59ca4-d477-4bb1-9d0d-222864853d1d" field="ReceiveUnitName" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                    <cell id="7897431c-b9ce-4029-a052-5735d2238cc4" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="供货单位" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="供货单位" field="SupplyUnit" allowEdit="false" id="b6953e57-a4ce-e711-ce53-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="e4c0ec5c-2e7f-4021-933e-e487ff191107" field="SupplyUnit" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="512">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="807d3b0a-0b86-419e-bced-e758ec3096b1" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="工程项目" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="工程项目" field="cl_Order_ProjectOwned" allowEdit="false" id="b6953e57-a4ce-e711-d753-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="98927361-73c1-4f88-b18a-1c2842d8a970" field="cl_Order_ProjectOwned" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="512">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                    <cell id="a81509a9-b72d-4975-861c-7a7bc9f9e19f" colSpan="1" rowSpan="1" metadataStatus="Product" />
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="22b43494-87b1-4998-832b-5fb9ed56a53a" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="收货人及电话" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="单行文本" field="ReceiverAndPhone" allowEdit="false" id="b6953e57-a4ce-e711-e153-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="CalculateColumn" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox field="ReceiverAndPhone" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="0">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <subControlFormula text="cl_Order.Consignee+cl_Order.ConsigneePhone" category="Simple" originalSqlExpression="((cl_Order.Consignee)+(cl_Order.ConsigneePhone))" fieldSqlExpression="((cl_Order.Consignee)+(cl_Order.ConsigneePhone))" fontExpression="f.add(Consignee,ConsigneePhone)" tableName="虚拟主表" fieldName="ReceiverAndPhone">
                                                <Id>9fb96352-eaea-e711-baaa-94c691050e22</Id>
                                                <RelationTables>
                                                    <RelationTable name="cl_Order" id="a6bf1639-66ce-e711-aa53-94c691050e22">
                                                        <RelationFields>
                                                            <RelationField name="Consignee" id="169a1189-66ce-e711-aa53-94c691050e22" entityId="169a1189-66ce-e711-aa53-94c691050e22" aliasName="Consignee" type="string" />
                                                            <RelationField name="ConsigneePhone" id="9671fb92-66ce-e711-aa53-94c691050e22" entityId="9671fb92-66ce-e711-aa53-94c691050e22" aliasName="ConsigneePhone" type="string" />
                                                        </RelationFields>
                                                    </RelationTable>
                                                </RelationTables>
                                            </subControlFormula>
                                            <behaviors />
                                        </column>
                                    </cell>
                                    <cell id="161e11d1-1b3e-4d0a-a33e-e45a7b4ee447" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="收货地址" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="收货地址" field="ConsigneeAddress" allowEdit="false" id="b6953e57-a4ce-e711-ec53-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="2fb42be8-b962-4384-8f2c-7a7ba8f316a8" field="ConsigneeAddress" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="512">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                    <group id="b6953e57-a4ce-e711-f853-94c691050e22" title="发货信息" disableStyle="false" isHidden="false" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="3bb38ad3-b0ee-4b52-a26f-c4d57f18faa1" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="供货单名称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="单据名称" field="InvoiceName" allowEdit="false" id="b6953e57-a4ce-e711-0554-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="2aa821f0-a175-49d3-b443-1a6fe73d7cf6" field="InvoiceName" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                    <cell id="ab267cec-d693-4967-b85c-b539dc544c23" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="供货单编号" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="单据编号" field="InvoiceNo" allowEdit="false" id="b6953e57-a4ce-e711-1354-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="ef19714e-563a-4644-9f89-03a7891d6496" field="InvoiceNo" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="4fd5e507-c5ad-484c-9cc2-415933f7c5e9" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="发货日期" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="发货日期" field="InvoiceDate" allowEdit="false" id="b6953e57-a4ce-e711-2254-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="date" align="center" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <datePicker field="InvoiceDate" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" format="yyyy-MM-dd" metadataStatus="Product">
                                                <customProps />
                                                <events />
                                            </datePicker>
                                            <behaviors />
                                        </column>
                                    </cell>
                                    <cell id="080e0203-900d-4fee-8fb7-82ffe47a188d" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="状态" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="状态" field="Status" allowEdit="false" id="b6953e57-a4ce-e711-3254-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <comboBox field="Status" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" optionsType="enum" redundancyField="" allowEmpty="false" emptyIsDefault="false" valueFromSelect="false" showLongText="false" disableFolderSelect="false">
                                                <customProps />
                                                <events />
                                                <options />
                                                <enum enumTypeName="Mysoft.Clgyl.OrderMng.Model.Enum.InvoiceStatusEnum" defaultValue="0" />
                                            </comboBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="9ac6f3c4-7700-45c5-a4d8-0bf618825b15" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="发货人" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="发货人" field="Consignor" allowEdit="false" id="b6953e57-a4ce-e711-4354-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="fe99e06f-1a6d-45f7-ae05-228a3ec50e23" field="Consignor" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                    <cell id="452f7f52-5f32-459e-bafa-403dc5bff72d" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="发货电话" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="发货人电话" field="ConsignorPhone" allowEdit="false" id="b6953e57-a4ce-e711-5554-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="0225e83d-1e7e-4af7-992e-56367ae3b6aa" field="ConsignorPhone" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="f730159a-b3b4-4d4d-9573-93d0320808b1" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="发货备注" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="备注" field="Remark" allowEdit="false" id="b6953e57-a4ce-e711-6854-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textArea field="Remark" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" height="60" maxLength="200">
                                                <customProps />
                                                <events />
                                            </textArea>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                    <group id="b6953e57-a4ce-e711-7c54-94c691050e22" title="材料信息" disableStyle="true" isHidden="false" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="0d5aedea-b1d0-4877-9af5-695e5fb8a8ca" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="相关列表" visible="false" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="相关列表" field="subGrid_cl_InvoiceDetail_InvoiceGUID" allowEdit="false" id="b6953e57-a4ce-e711-9154-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <subGrid field="subGrid_cl_InvoiceDetail_InvoiceGUID" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" fullField="InvoiceGUID" height="300">
                                                <customProps />
                                                <events />
                                                <grid field="cl_InvoiceDetail.InvoiceGUID" metadataId="68f8c89a-a5ce-e711-aa53-94c691050e22" />
                                            </subGrid>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
            <region regionId="region2" id="b6953e57-a4ce-e711-a754-94c691050e22" title="相关附件" tabTitle="mainTabId" disableStyle="true" isHidden="false" metadataStatus="Product">
                <events />
                <groups>
                    <group id="b6953e57-a4ce-e711-be54-94c691050e22" title="新分组" disableStyle="true" isHidden="false" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="f2a9d56e-dee0-431f-88f5-674e860b9f28" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="发货文档" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="发货文档" field="Documents" allowEdit="false" id="b6953e57-a4ce-e711-d654-94c691050e22" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <fileUpload id="ef4abc4d-770e-45dc-a4d2-a218e0400a81" field="Documents" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" limitSize="50">
                                                <customProps />
                                                <events />
                                                <rightsAddRule />
                                                <rightsDelRule />
                                            </fileUpload>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="b7953e57-a4ce-e711-aa53-94c691050e22" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="b5953e57-a4ce-e711-aa53-94c691050e22" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="true" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.Utility.back();" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events />
        <attributes />
        <hiddens />
        <langs />
        <rule>
            <configs />
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" metadataStatus="Product" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>