<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" metadataversion="6" createdBy="系+先生+" createdOn="2017-11-16T01:53:22Z" modifiedBy="系+先生+" modifiedOn="2017-11-16T10:41:09.7661769+08:00" metadataStatus="Product" formId="b8d37fec-70ca-e711-a708-5c514f31c666" name="工作流按钮表单控件" entityId="22889330-70ca-e711-a708-5c514f31c666" functionPageId="b5d37fec-70ca-e711-a708-5c514f31c666">
    <dataSource keyName="DemoWorkFlowButtonGUID" entity="cl_DemoWorkFlowButton" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select cl_DemoWorkFlowButton.CreatedGUID as CreatedGUID,
cl_DemoWorkFlowButton.CreatedName as CreatedName,
cl_DemoWorkFlowButton.CreatedTime as CreatedTime,
cl_DemoWorkFlowButton.DemoWorkFlowButtonGUID as DemoWorkFlowButtonGUID,
cl_DemoWorkFlowButton.ModifiedGUID as ModifiedGUID,
cl_DemoWorkFlowButton.ModifiedName as ModifiedName,
cl_DemoWorkFlowButton.ModifiedTime as ModifiedTime,
cl_DemoWorkFlowButton.ApprovalState as ApprovalState 
From cl_DemoWorkFlowButton As cl_DemoWorkFlowButton 
Where cl_DemoWorkFlowButton.DemoWorkFlowButtonGUID=@oid]]></command>
        <fields>
            <field name="DemoWorkFlowButtonGUID" allowPopulate="true" entity="cl_DemoWorkFlowButton" field="DemoWorkFlowButtonGUID" entityAlias="cl_DemoWorkFlowButton" />
        </fields>
        <availableFields>
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_DemoWorkFlowButton" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_DemoWorkFlowButton" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_DemoWorkFlowButton" entityType="0" />
            <availableField name="DemoWorkFlowButtonGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="DemoWorkFlowButtonGUID" entity="cl_DemoWorkFlowButton" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_DemoWorkFlowButton" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_DemoWorkFlowButton" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_DemoWorkFlowButton" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_DemoWorkFlowButton" entityType="0" />
            <availableField name="ApprovalState" isRedundance="false" isPrimaryAttribute="false" aliasName="ApprovalState" entity="cl_DemoWorkFlowButton" entityType="0" />
        </availableFields>
        <diagrams>
            <diagram id="22889330-70ca-e711-a708-5c514f31c666" name="cl_DemoWorkFlowButton" primaryField="DemoWorkFlowButtonGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0">
                <conditions />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" title="新分区" tabTitle="" disableStyle="false">
                <events />
                <groups>
                    <group title="新分组" disableStyle="false">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="0d5aedea-b1d0-4877-9af5-695e5fb8a8ca" colSpan="1" rowSpan="1" />
                                    <cell id="2a729571-cf05-4b83-aac8-f08d9dd7ebdf" colSpan="1" rowSpan="1" />
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="b9d37fec-70ca-e711-a708-5c514f31c666" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="保存" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.UI.Template.Form.defaultSave();" enabled="true" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="b7d37fec-70ca-e711-a708-5c514f31c666" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.Utility.back();" enabled="true" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="434223a5-47e3-49dc-a248-b5c50b4dd3c0" title="发起审批" isHighlight="false" type="button" iconClassUrl="" iconClass="" id="button_fq_approval" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                <items />
                                <events />
                                <customProps />
                            </item>
                            <item itemId="d030ebd7-69c7-47e6-a272-231fc73321c9" title="提交审批" isHighlight="false" type="button" iconClassUrl="" iconClass="" id="button_tj_approval" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                <items />
                                <events />
                            </item>
                            <item itemId="1a305fe8-c74a-47df-83da-163da0fe5b1c" title="审批过程" isHighlight="false" type="button" iconClassUrl="" iconClass="" id="button_gc_approval" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                <items />
                                <events />
                            </item>
                            <item itemId="1e7be4d1-d886-48e8-ac9e-ec60c0a192b3" title="审批通过" isHighlight="false" type="button" iconClassUrl="" iconClass="" id="button_tg_approval" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                <items />
                                <events />
                                <customProps>
                                    <props>isHidden</props>
                                </customProps>
                            </item>
                            <item itemId="a7147eba-9d74-4a28-bd10-733b333ab6b5" title="审批驳回" isHighlight="false" type="button" iconClassUrl="" iconClass="" id="button_bh_approval" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                <items />
                                <events />
                                <customProps>
                                    <props>isHidden</props>
                                </customProps>
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events />
        <attributes />
        <hiddens />
        <langs />
        <rule>
            <configs>
                <config id="192e9ae8-cc7d-4659-8b71-7fd7946dbdad" title="新规则" controlId="1e7be4d1-d886-48e8-ac9e-ec60c0a192b3" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="button_tg_approval">
                    <handles>
                        <handle ruleId="180651d9-4edf-4dcc-93bc-520b6d83ee29" action="hide" value="" />
                    </handles>
                </config>
                <config id="4c59257f-6e83-4c5c-975a-3dc0896e6e66" title="新规则" controlId="a7147eba-9d74-4a28-bd10-733b333ab6b5" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="button_bh_approval">
                    <handles>
                        <handle ruleId="180651d9-4edf-4dcc-93bc-520b6d83ee29" action="hide" value="" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="180651d9-4edf-4dcc-93bc-520b6d83ee29" title="线上审批" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;bizParam&quot;,&quot;field&quot;:&quot;cl_DemoApprovalModel&quot;,&quot;type&quot;:&quot;string&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;1&quot;}]}" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>