<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" metadataversion="6" createdBy="系+先生+" createdOn="2017-12-08T06:59:59Z" modifiedBy="系+先生+" modifiedOn="2017-12-08T15:39:51.2137646+08:00" metadataStatus="Product" formId="bf291167-e5db-e711-8148-94c69101ea32" name="用户表表单控件" entityId="1cf3abcf-02d2-4136-8692-e0246a223012" functionPageId="bc291167-e5db-e711-8148-94c69101ea32">
    <dataSource keyName="UserGUID" entity="myUser" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select myUser.PhotoUrl as PhotoUrl,
myUser.LastIpAdress as LastIpAdress,
myUser.IsMobileUser as IsMobileUser,
myUser.Email as Email,
myUser.UserProject as UserProject,
myUser.PSWModifyTime as PSWModifyTime,
myUser.IsAdmin as IsAdmin,
myUser.Password as Password,
myUser.DepartmentGUID as DepartmentGUID,
myUser.IsDisabeld as IsDisabeld,
myUser.UserGUID as UserGUID,
myUser.HomePhone as HomePhone,
myUser.IsSaler as IsSaler,
myUser.DisabledReason as DisabledReason,
myUser.DefaultStation as DefaultStation,
myUser.CreatedTime as CreatedTime,
myUser.MobilePhone as MobilePhone,
myUser.IsFormalEstablishment as IsFormalEstablishment,
myUser.ParentGUID as ParentGUID,
myUser.Position as Position,
myUser.IsUserChangePWD as IsUserChangePWD,
myUser.OfficePhone as OfficePhone,
myUser.UserKind as UserKind,
myUser.LockTime as LockTime,
myUser.CreatedGUID as CreatedGUID,
myUser.JobTitle as JobTitle,
myUser.SrcImageId as SrcImageId,
myUser.ImageId as ImageId,
myUser.UserName as UserName,
myUser.ModifiedGUID as ModifiedGUID,
myUser.BUGUID as BUGUID,
myUser.JobNumber as JobNumber,
myUser.ADAccount as ADAccount,
myUser.Comments as Comments,
myUser.UserCode as UserCode,
myUser.IsLocked as IsLocked,
myUser.IsAdvanceUser as IsAdvanceUser,
myUser.IsOperationUser as IsOperationUser,
myUser.ModifiedTime as ModifiedTime,
myUser.LoginErrorCount as LoginErrorCount,
myUser.LastLoginErrorTime as LastLoginErrorTime,
myUser.PasswordModifyTime as PasswordModifyTime,
myUser.LoginTime as LoginTime,
myUser.CreatedName as CreatedName,
myUser.ModifiedName as ModifiedName,
myUser.IsModelingUser as IsModelingUser 
From myUser As myUser 
Where myUser.UserGUID=@oid]]></command>
        <fields>
            <field name="UserName" allowPopulate="true" entity="myUser" field="UserName" entityAlias="myUser" metadataStatus="Product">
                <fields />
            </field>
            <field name="UserCode" allowPopulate="true" entity="myUser" field="UserCode" entityAlias="myUser" metadataStatus="Product">
                <fields />
            </field>
            <field name="UserGUID" allowPopulate="true" entity="myUser" field="UserGUID" entityAlias="myUser" metadataStatus="Product">
                <fields />
            </field>
            <field name="subTreeGrid_cl_ServiceProject_Code" allowPopulate="false" entity="myUser" field="PhotoUrl" entityAlias="myUser" metadataStatus="Product">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="PhotoUrl" isRedundance="false" isPrimaryAttribute="false" aliasName="PhotoUrl" entity="myUser" entityType="0" />
            <availableField name="LastIpAdress" isRedundance="false" isPrimaryAttribute="false" aliasName="LastIpAdress" entity="myUser" entityType="0" />
            <availableField name="IsMobileUser" isRedundance="false" isPrimaryAttribute="false" aliasName="IsMobileUser" entity="myUser" entityType="0" />
            <availableField name="Email" isRedundance="false" isPrimaryAttribute="false" aliasName="Email" entity="myUser" entityType="0" />
            <availableField name="UserProject" isRedundance="false" isPrimaryAttribute="false" aliasName="UserProject" entity="myUser" entityType="0" />
            <availableField name="PSWModifyTime" isRedundance="false" isPrimaryAttribute="false" aliasName="PSWModifyTime" entity="myUser" entityType="0" />
            <availableField name="IsAdmin" isRedundance="false" isPrimaryAttribute="false" aliasName="IsAdmin" entity="myUser" entityType="0" />
            <availableField name="Password" isRedundance="false" isPrimaryAttribute="false" aliasName="Password" entity="myUser" entityType="0" />
            <availableField name="DepartmentGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="DepartmentGUID" entity="myUser" entityType="0" />
            <availableField name="IsDisabeld" isRedundance="false" isPrimaryAttribute="false" aliasName="IsDisabeld" entity="myUser" entityType="0" />
            <availableField name="UserGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="UserGUID" entity="myUser" entityType="0" />
            <availableField name="HomePhone" isRedundance="false" isPrimaryAttribute="false" aliasName="HomePhone" entity="myUser" entityType="0" />
            <availableField name="IsSaler" isRedundance="false" isPrimaryAttribute="false" aliasName="IsSaler" entity="myUser" entityType="0" />
            <availableField name="DisabledReason" isRedundance="false" isPrimaryAttribute="false" aliasName="DisabledReason" entity="myUser" entityType="0" />
            <availableField name="DefaultStation" isRedundance="false" isPrimaryAttribute="false" aliasName="DefaultStation" entity="myUser" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="myUser" entityType="0" />
            <availableField name="MobilePhone" isRedundance="false" isPrimaryAttribute="false" aliasName="MobilePhone" entity="myUser" entityType="0" />
            <availableField name="IsFormalEstablishment" isRedundance="false" isPrimaryAttribute="false" aliasName="IsFormalEstablishment" entity="myUser" entityType="0" />
            <availableField name="ParentGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ParentGUID" entity="myUser" entityType="0" />
            <availableField name="Position" isRedundance="false" isPrimaryAttribute="false" aliasName="Position" entity="myUser" entityType="0" />
            <availableField name="IsUserChangePWD" isRedundance="false" isPrimaryAttribute="false" aliasName="IsUserChangePWD" entity="myUser" entityType="0" />
            <availableField name="OfficePhone" isRedundance="false" isPrimaryAttribute="false" aliasName="OfficePhone" entity="myUser" entityType="0" />
            <availableField name="UserKind" isRedundance="false" isPrimaryAttribute="false" aliasName="UserKind" entity="myUser" entityType="0" />
            <availableField name="LockTime" isRedundance="false" isPrimaryAttribute="false" aliasName="LockTime" entity="myUser" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="myUser" entityType="0" />
            <availableField name="JobTitle" isRedundance="false" isPrimaryAttribute="false" aliasName="JobTitle" entity="myUser" entityType="0" />
            <availableField name="SrcImageId" isRedundance="false" isPrimaryAttribute="false" aliasName="SrcImageId" entity="myUser" entityType="0" />
            <availableField name="ImageId" isRedundance="false" isPrimaryAttribute="false" aliasName="ImageId" entity="myUser" entityType="0" />
            <availableField name="UserName" isRedundance="false" isPrimaryAttribute="false" aliasName="UserName" entity="myUser" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="myUser" entityType="0" />
            <availableField name="BUGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="BUGUID" entity="myUser" entityType="0" />
            <availableField name="JobNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="JobNumber" entity="myUser" entityType="0" />
            <availableField name="ADAccount" isRedundance="false" isPrimaryAttribute="false" aliasName="ADAccount" entity="myUser" entityType="0" />
            <availableField name="Comments" isRedundance="false" isPrimaryAttribute="false" aliasName="Comments" entity="myUser" entityType="0" />
            <availableField name="UserCode" isRedundance="false" isPrimaryAttribute="false" aliasName="UserCode" entity="myUser" entityType="0" />
            <availableField name="IsLocked" isRedundance="false" isPrimaryAttribute="false" aliasName="IsLocked" entity="myUser" entityType="0" />
            <availableField name="IsAdvanceUser" isRedundance="false" isPrimaryAttribute="false" aliasName="IsAdvanceUser" entity="myUser" entityType="0" />
            <availableField name="IsOperationUser" isRedundance="false" isPrimaryAttribute="false" aliasName="IsOperationUser" entity="myUser" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="myUser" entityType="0" />
            <availableField name="LoginErrorCount" isRedundance="false" isPrimaryAttribute="false" aliasName="LoginErrorCount" entity="myUser" entityType="0" />
            <availableField name="LastLoginErrorTime" isRedundance="false" isPrimaryAttribute="false" aliasName="LastLoginErrorTime" entity="myUser" entityType="0" />
            <availableField name="PasswordModifyTime" isRedundance="false" isPrimaryAttribute="false" aliasName="PasswordModifyTime" entity="myUser" entityType="0" />
            <availableField name="LoginTime" isRedundance="false" isPrimaryAttribute="false" aliasName="LoginTime" entity="myUser" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="myUser" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="myUser" entityType="0" />
            <availableField name="IsModelingUser" isRedundance="false" isPrimaryAttribute="false" aliasName="IsModelingUser" entity="myUser" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="1cf3abcf-02d2-4136-8692-e0246a223012" name="myUser" primaryField="UserGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0" metadataStatus="Product">
                <conditions>
                    <condition field="myUser.UserGUID" operatorType="eq" id="93dfa6a7-ea05-446e-8558-4c2868ef66e2" dataType="string" valueType="1">
                        <Value xsi:type="xsd:string">[query:UserGUID]</Value>
                    </condition>
                </conditions>
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" title="新分区" tabTitle="" disableStyle="true" metadataStatus="Product" key="表单ID-bf291167-e5db-e711-8148-94c69101ea32|tab索引0|分区索引0|分区名称">
                <events />
                <groups>
                    <group title="新分组" disableStyle="true" key="表单ID-bf291167-e5db-e711-8148-94c69101ea32|tab索引0|分区索引0|分组索引0|分组名称" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="0d5aedea-b1d0-4877-9af5-695e5fb8a8ca" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="用户名称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="用户名称" field="UserName" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="1ba81f99-c22d-457e-be41-a5098daf8ed7" field="UserName" errorMode="default" readonlyMode="all" defaultValue="[query:userName]" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                    <cell id="2a729571-cf05-4b83-aac8-f08d9dd7ebdf" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="用户编码" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="用户编码" field="UserCode" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="63285575-32e8-45cd-8570-271f790e4586" field="UserCode" errorMode="default" readonlyMode="all" defaultValue="[query:userCode]" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                    <group title="新分组-2" disableStyle="true" key="表单ID-bf291167-e5db-e711-8148-94c69101ea32|tab索引0|分区索引0|分组索引1|分组名称" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="f7b1ae0a-1b2c-4877-a9de-7945831b0cf1" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="相关树列表" visible="false" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="相关树列表" field="subTreeGrid_cl_ServiceProject_Code" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <subTreeGrid id="36941939-6246-4895-8760-3c4f4d2ab4ba" field="subTreeGrid_cl_ServiceProject_Code" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" fullField="PhotoUrl" height="200">
                                                <customProps />
                                                <events />
                                                <treeGrid metadataId="62da555d-e6db-e711-8148-94c69101ea32" field="cl_ServiceProject.Code" />
                                            </subTreeGrid>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="c0291167-e5db-e711-8148-94c69101ea32" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="保存" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Clgyl.M02210105.ServiceProjectGrantToUser._appForm_mSave_click(e);" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="be291167-e5db-e711-8148-94c69101ea32" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.Utility.back();" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events />
        <attributes />
        <hiddens />
        <langs />
        <rule>
            <configs>
                <config id="e30a8577-769e-40af-ac76-59c418438902" title="默认规则" controlId="eded6431-c6a3-411d-8f94-188c0610b3b9" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSave" metadataStatus="Product">
                    <handles>
                        <handle handleId="1d62236f-c447-4f0b-8cf8-a399431c3b73" ruleId="df238172-aa64-4fe7-89c6-56e8cad9c5f9" action="hide" value="" metadataStatus="Product" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" metadataStatus="Product" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>