<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" metadataversion="6" createdBy="系+先生+" createdOn="2017-11-03T06:13:40Z" modifiedBy="周建荣" modifiedOn="2018-01-24T19:38:26.2875621+08:00" metadataStatus="Product" formId="c3cf9022-5ec0-e711-8dcc-54e1ad1cb095" name="材料表单" entityId="8de8819e-38be-e711-90a1-5c514f31c666" functionPageId="c0cf9022-5ec0-e711-8dcc-54e1ad1cb095" isRevisedId="1">
    <dataSource keyName="ProductGUID" entity="cl_Product" withNoLock="false" mode="1">
        <command type="sql" queryDb="true"><![CDATA[Select cl_Product.Attribute as Attribute,
cl_Product.Code as Code,
cl_Product.Documents as Documents,
cl_Product.Name as Name,
cl_Product.ProductCategoryGUID as ProductCategoryGUID,
cl_Product.ProductCategoryName as ProductCategoryName,
cl_Product.ProductPicture as ProductPicture,
cl_Product.Remark as Remark,
cl_Product.Unit as Unit,
cl_Product.CreatedGUID as CreatedGUID,
cl_Product.CreatedName as CreatedName,
cl_Product.CreatedTime as CreatedTime,
cl_Product.ModifiedGUID as ModifiedGUID,
cl_Product.ModifiedName as ModifiedName,
cl_Product.ModifiedTime as ModifiedTime,
cl_Product.ProductGUID as ProductGUID,
cl_Product.UniqueIdentification as UniqueIdentification 
From cl_Product As cl_Product 
Where cl_Product.ProductGUID=@oid]]></command>
        <fields>
            <field name="ProductCategoryGUID" allowPopulate="true" entity="cl_Product" field="ProductCategoryGUID" entityAlias="cl_Product" metadataStatus="Product">
                <fields />
            </field>
            <field name="ProductCategoryName" allowPopulate="true" entity="cl_Product" field="ProductCategoryName" entityAlias="cl_Product" metadataStatus="Product">
                <fields />
            </field>
            <field name="Unit" allowPopulate="true" entity="cl_Product" field="Unit" entityAlias="cl_Product" metadataStatus="Product">
                <fields>
                    <field allowPopulate="true" entity="cl_Product" storeType="value" sourceType="text" field="Unit" metadataStatus="Product">
                        <fields />
                    </field>
                </fields>
            </field>
            <field name="Name" allowPopulate="true" entity="cl_Product" field="Name" entityAlias="cl_Product" metadataStatus="Product">
                <fields />
            </field>
            <field name="Code" allowPopulate="true" entity="cl_Product" field="Code" entityAlias="cl_Product" metadataStatus="Product">
                <fields />
            </field>
            <field name="Remark" allowPopulate="true" entity="cl_Product" field="Remark" entityAlias="cl_Product" metadataStatus="Product">
                <fields />
            </field>
            <field name="Attribute" allowPopulate="true" entity="cl_Product" field="Attribute" entityAlias="cl_Product" metadataStatus="Product">
                <fields />
            </field>
            <field name="ProductPicture" allowPopulate="true" entity="cl_Product" field="ProductPicture" entityAlias="cl_Product" metadataStatus="Product">
                <fields />
            </field>
            <field name="Documents" allowPopulate="true" entity="cl_Product" field="Documents" entityAlias="cl_Product" metadataStatus="Product">
                <fields />
            </field>
            <field name="ProductGUID" allowPopulate="true" entity="cl_Product" field="ProductGUID" entityAlias="cl_Product" metadataStatus="Product">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="Attribute" isRedundance="false" isPrimaryAttribute="false" aliasName="Attribute" entity="cl_Product" entityType="0" />
            <availableField name="Code" isRedundance="false" isPrimaryAttribute="false" aliasName="Code" entity="cl_Product" entityType="0" />
            <availableField name="Documents" isRedundance="false" isPrimaryAttribute="false" aliasName="Documents" entity="cl_Product" entityType="0" />
            <availableField name="Name" isRedundance="false" isPrimaryAttribute="false" aliasName="Name" entity="cl_Product" entityType="0" />
            <availableField name="ProductCategoryGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ProductCategoryGUID" entity="cl_Product" entityType="0" />
            <availableField name="ProductCategoryName" isRedundance="false" isPrimaryAttribute="false" aliasName="ProductCategoryName" entity="cl_Product" entityType="0" />
            <availableField name="ProductPicture" isRedundance="false" isPrimaryAttribute="false" aliasName="ProductPicture" entity="cl_Product" entityType="0" />
            <availableField name="Remark" isRedundance="false" isPrimaryAttribute="false" aliasName="Remark" entity="cl_Product" entityType="0" />
            <availableField name="Unit" isRedundance="false" isPrimaryAttribute="false" aliasName="Unit" entity="cl_Product" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_Product" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_Product" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_Product" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_Product" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_Product" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_Product" entityType="0" />
            <availableField name="ProductGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ProductGUID" entity="cl_Product" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_Product" entityType="0" />
            <availableField name="UniqueIdentification" isRedundance="false" isPrimaryAttribute="false" aliasName="UniqueIdentification" entity="cl_Product" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="8de8819e-38be-e711-90a1-5c514f31c666" name="cl_Product" primaryField="ProductGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0" metadataStatus="Product">
                <conditions />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" id="c3cf9022-5ec0-e711-8ecc-54e1ad1cb095" title="基本信息" tabTitle="mainTabId" disableStyle="true" isHidden="false" metadataStatus="Product">
                <events />
                <groups>
                    <group id="c3cf9022-5ec0-e711-90cc-54e1ad1cb095" title="新分组" disableStyle="true" isHidden="false" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="0d5aedea-b1d0-4877-9af5-695e5fb8a8ca" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="材料分类" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="产品分类ID" field="ProductCategoryGUID" allowEdit="false" id="c3cf9022-5ec0-e711-93cc-54e1ad1cb095" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <lookPopup field="ProductCategoryGUID" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="required" isHidden="false" metadataStatus="Product" optionsType="bizParam" valueFromSelect="true" redundancyField="ProductCategoryName" multiSelect="false">
                                                <customProps />
                                                <events>
                                                    <event name="onvaluechanged" functionName="Mysoft.Clgyl.M02210602.ProductEdit._appForm_productCategoryGUID_valueChanged(e);" enabled="true" metadataStatus="Product" />
                                                </events>
                                                <behavior target="dialog" type="page" url="/std/02210102/51e0c67b-60c0-e711-8dcc-54e1ad1cb095.aspx" id="51e0c67b-60c0-e711-8dcc-54e1ad1cb095" metadataStatus="Product">
                                                    <options>
                                                        <option key="title" value="选择材料分类" />
                                                        <option key="autoTitle" value="" />
                                                        <option key="width" value="600" />
                                                        <option key="height" value="500" />
                                                    </options>
                                                    <params />
                                                    <events />
                                                </behavior>
                                            </lookPopup>
                                            <behaviors />
                                        </column>
                                    </cell>
                                    <cell id="2a729571-cf05-4b83-aac8-f08d9dd7ebdf" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="计量单位" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="计量单位" field="Unit" allowEdit="false" id="e0b602ef-61c8-4648-80a9-3c5b37891d68" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <autoComplete id="aa4801dc-4b51-46f5-9661-1477e9e1db6e" field="Unit" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" optionsType="bizParam" valueFromSelect="true" showLongText="false" disableFolderSelect="false" multiSelect="false" allowEmpty="false">
                                                <customProps />
                                                <events />
                                                <bizParam paramName="cl_Unit" optionsScope="group" optionsFilterType="context" />
                                            </autoComplete>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="520bf162-aacc-4d0b-8c73-24c41b0c3b2b" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="材料名称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="名称" field="Name" allowEdit="false" id="c3cf9022-5ec0-e711-9ccc-54e1ad1cb095" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox field="Name" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="required" isHidden="false" metadataStatus="Product" isBold="false" maxLength="100">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                    <cell id="4fecc3a4-fe6d-4eb7-afd7-ef9694cbcf83" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="材料编码" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="编码" field="Code" allowEdit="false" id="c3cf9022-5ec0-e711-a2cc-54e1ad1cb095" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox field="Code" errorMode="default" readonlyMode="all" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="0">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="3268eee1-495a-4b09-9c24-04c549a1c733" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="说明" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="说明" field="Remark" allowEdit="false" id="c3cf9022-5ec0-e711-a9cc-54e1ad1cb095" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textArea field="Remark" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" height="60" maxLength="5000">
                                                <customProps />
                                                <events />
                                            </textArea>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="07783dc4-22a1-4e15-82ef-a740b761ebe7" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="产品分类名称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="产品分类名称" field="ProductCategoryName" allowEdit="false" id="c3cf9022-5ec0-e711-b1cc-54e1ad1cb095" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="0b42c571-7f27-4793-9e42-f32aef429ca3" field="ProductCategoryName" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="true" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="1b664872-1e22-4d99-bf24-7c345a975305" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="指标属性" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="指标属性" field="Attribute" allowEdit="false" id="c3cf9022-5ec0-e711-bacc-54e1ad1cb095" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="a85daf39-49d2-4ec1-86cf-bbecde83fa36" field="Attribute" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="true" metadataStatus="Product" isBold="false" maxLength="1024">
                                                <customProps />
                                                <events />
                                            </textBox>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                    <group id="c3cf9022-5ec0-e711-c4cc-54e1ad1cb095" title="指标属性" disableStyle="false" isHidden="false" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="18926300-dfbe-495f-ac55-d5a5aa7f5972" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="HTML文本" visible="false" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="HTML文本" field="tmpllayout_bswr" allowEdit="false" id="c3cf9022-5ec0-e711-cfcc-54e1ad1cb095" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Normal" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <tmplLayout field="tmpllayout_bswr" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product">
                                                <customProps />
                                                <events />
                                                <html><![CDATA[<div class="miniux-form-section-border">
    <div class="miniux-form-section">
        <div class="miniux-form-section-content" id='dynamicControls'>
        
    </div>
</div>
</div>]]></html>
                                            </tmplLayout>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
            <region regionId="region2" id="c3cf9022-5ec0-e711-dbcc-54e1ad1cb095" title="材料图片" tabTitle="mainTabId" disableStyle="true" isHidden="false" metadataStatus="Product">
                <events />
                <groups>
                    <group id="c3cf9022-5ec0-e711-e8cc-54e1ad1cb095" title="新分组" disableStyle="true" isHidden="false" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="6ac8cfd8-1d73-47c4-af37-b5c80822c608" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="材料图片" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="产品图片" field="ProductPicture" allowEdit="false" id="c3cf9022-5ec0-e711-f6cc-54e1ad1cb095" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <fileUpload field="ProductPicture" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" limitFileCount="10" limitSize="50" limitType="*.jpg;*.jpeg;*.bmp;*.gif;*.png" buttonText="上传图片">
                                                <customProps />
                                                <events />
                                                <rightsAddRule />
                                                <rightsDelRule />
                                            </fileUpload>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
            <region regionId="region4" id="c3cf9022-5ec0-e711-05cd-54e1ad1cb095" title="相关附件" tabTitle="mainTabId" disableStyle="true" isHidden="false" metadataStatus="Product">
                <events />
                <groups>
                    <group id="c3cf9022-5ec0-e711-15cd-54e1ad1cb095" title="新分组" disableStyle="true" isHidden="false" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="4ad2ec1b-ffa9-44cf-8167-566275edfcc0" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="材料附件" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="材料附件" field="Documents" allowEdit="false" id="c3cf9022-5ec0-e711-26cd-54e1ad1cb095" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <fileUpload id="8a7b814e-55df-41a4-a59a-4ae0a1c08f25" field="Documents" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" limitSize="50">
                                                <customProps />
                                                <events />
                                                <rightsAddRule />
                                                <rightsDelRule />
                                            </fileUpload>
                                            <behaviors />
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="c4cf9022-5ec0-e711-8dcc-54e1ad1cb095" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="保存" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Clgyl.M02210602.ProductEdit._appForm_mSave_click(e);" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="c2cf9022-5ec0-e711-8dcc-54e1ad1cb095" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Clgyl.M02210602.ProductEdit._appForm_mCancel_click(e);" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events>
            <event name="onload" functionName="Mysoft.Clgyl.M02210602.ProductEdit._appForm_load(e);" enabled="true" metadataStatus="Product" />
        </events>
        <attributes />
        <hiddens />
        <langs />
        <rule>
            <configs>
                <config id="e30a8577-769e-40af-ac76-59c418438902" title="默认规则" controlId="eded6431-c6a3-411d-8f94-188c0610b3b9" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSave" metadataStatus="Product">
                    <handles>
                        <handle handleId="006bac9a-3eec-478d-a350-7d91e6667055" ruleId="df238172-aa64-4fe7-89c6-56e8cad9c5f9" action="hide" value="" metadataStatus="Product" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" metadataStatus="Product" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>