<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" metadataversion="6" createdBy="系+先生+" createdOn="2017-12-28T07:02:06Z" modifiedBy="cl" modifiedOn="2018-01-02T17:28:32.2062667+08:00" metadataStatus="Product" formId="d3d87f03-9deb-e711-baaa-94c691050e22" name="材料分类属性值表表单控件" entityId="b3add075-6fc3-e711-a7e0-5c514f31c666" functionPageId="d0d87f03-9deb-e711-baaa-94c691050e22">
    <dataSource keyName="ProductCategoryAttributeValueGUID" entity="cl_ProductCategoryAttributeValue" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select cl_ProductCategoryAttributeValue.IsEnable as IsEnable,
cl_ProductCategoryAttributeValue.ProductCategoryAttributeGuid as ProductCategoryAttributeGuid,
cl_ProductCategoryAttributeValue.Value as Value,
cl_ProductCategoryAttributeValue.CreatedGUID as CreatedGUID,
cl_ProductCategoryAttributeValue.CreatedName as CreatedName,
cl_ProductCategoryAttributeValue.CreatedTime as CreatedTime,
cl_ProductCategoryAttributeValue.ModifiedGUID as ModifiedGUID,
cl_ProductCategoryAttributeValue.ModifiedName as ModifiedName,
cl_ProductCategoryAttributeValue.ModifiedTime as ModifiedTime,
cl_ProductCategoryAttributeValue.ProductCategoryAttributeValueGUID as ProductCategoryAttributeValueGUID 
From cl_ProductCategoryAttributeValue As cl_ProductCategoryAttributeValue 
Where cl_ProductCategoryAttributeValue.ProductCategoryAttributeValueGUID=@oid]]></command>
        <fields>
            <field name="Value" allowPopulate="true" entity="cl_ProductCategoryAttributeValue" field="Value" entityAlias="cl_ProductCategoryAttributeValue" metadataStatus="Product">
                <fields />
            </field>
            <field name="ProductCategoryAttributeValueGUID" allowPopulate="true" entity="cl_ProductCategoryAttributeValue" field="ProductCategoryAttributeValueGUID" entityAlias="cl_ProductCategoryAttributeValue" metadataStatus="Product">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="IsEnable" isRedundance="false" isPrimaryAttribute="false" aliasName="IsEnable" entity="cl_ProductCategoryAttributeValue" entityType="0" />
            <availableField name="ProductCategoryAttributeGuid" isRedundance="false" isPrimaryAttribute="false" aliasName="ProductCategoryAttributeGuid" entity="cl_ProductCategoryAttributeValue" entityType="0" />
            <availableField name="Value" isRedundance="false" isPrimaryAttribute="false" aliasName="Value" entity="cl_ProductCategoryAttributeValue" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_ProductCategoryAttributeValue" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_ProductCategoryAttributeValue" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_ProductCategoryAttributeValue" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_ProductCategoryAttributeValue" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_ProductCategoryAttributeValue" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_ProductCategoryAttributeValue" entityType="0" />
            <availableField name="ProductCategoryAttributeValueGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ProductCategoryAttributeValueGUID" entity="cl_ProductCategoryAttributeValue" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_ProductCategoryAttributeValue" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="b3add075-6fc3-e711-a7e0-5c514f31c666" name="cl_ProductCategoryAttributeValue" primaryField="ProductCategoryAttributeValueGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0" metadataStatus="Product">
                <conditions />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" title="新分区" tabTitle="" disableStyle="true" metadataStatus="Product" key="表单ID-d3d87f03-9deb-e711-baaa-94c691050e22|tab索引0|分区索引0|分区名称">
                <events />
                <groups>
                    <group title="新分组" disableStyle="true" key="表单ID-d3d87f03-9deb-e711-baaa-94c691050e22|tab索引0|分区索引0|分组索引0|分组名称" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="0d5aedea-b1d0-4877-9af5-695e5fb8a8ca" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="属性值" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="材料分类属性值" field="Value" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textArea id="1d05893a-64ff-4c43-ab6e-4c6543345c40" field="Value" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="required" placeholder="录入多个属性值需用分号（;）拼接" isHidden="false" metadataStatus="Product" height="180" maxLength="1024">
                                                <customProps />
                                                <events />
                                            </textArea>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="d4d87f03-9deb-e711-baaa-94c691050e22" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="保存" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="YK.M02210601.AddList._appForm_mSave_click(e);" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="d2d87f03-9deb-e711-baaa-94c691050e22" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.Utility.closeOwnerDialog();" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events />
        <attributes />
        <hiddens />
        <langs />
        <rule>
            <configs>
                <config id="e30a8577-769e-40af-ac76-59c418438902" title="默认规则" controlId="eded6431-c6a3-411d-8f94-188c0610b3b9" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSave" metadataStatus="Product">
                    <handles>
                        <handle handleId="03d4ccda-e4a3-4524-b808-ad77e08f2ff2" ruleId="df238172-aa64-4fe7-89c6-56e8cad9c5f9" action="hide" value="" metadataStatus="Product" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" metadataStatus="Product" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>