<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" metadataversion="6" createdBy="系+先生+" createdOn="2017-11-23T06:47:50Z" modifiedBy="周建荣" modifiedOn="2018-01-11T09:52:02.752+08:00" metadataStatus="Product" formId="dd4a5e38-1ad0-e711-aad6-94c691050e22" name="订单日志表单控件" entityId="e60422a3-6bce-e711-aa53-94c691050e22" functionPageId="da4a5e38-1ad0-e711-aad6-94c691050e22">
    <dataSource keyName="OrderLogGUID" entity="cl_OrderLog" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select cl_OrderLog.Action as Action,
cl_OrderLog.Remark as Remark,
cl_OrderLog.Type as Type,
cl_OrderLog.UserGuid as UserGuid,
cl_OrderLog.UserName as UserName,
cl_OrderLog.CreatedGUID as CreatedGUID,
cl_OrderLog.CreatedName as CreatedName,
cl_OrderLog.CreatedTime as CreatedTime,
cl_OrderLog.ModifiedGUID as ModifiedGUID,
cl_OrderLog.ModifiedName as ModifiedName,
cl_OrderLog.ModifiedTime as ModifiedTime,
cl_OrderLog.OrderLogGUID as OrderLogGUID,
cl_OrderLog.SourceGUID as SourceGUID,
cl_OrderLog.ActionDate as ActionDate 
From cl_OrderLog As cl_OrderLog 
Where cl_OrderLog.OrderLogGUID=@oid]]></command>
        <fields>
            <field name="Remark" allowPopulate="true" entity="cl_OrderLog" field="Remark" entityAlias="cl_OrderLog" metadataStatus="Product">
                <fields />
            </field>
            <field name="SourceGUID" allowPopulate="true" entity="cl_OrderLog" field="SourceGUID" entityAlias="cl_OrderLog" metadataStatus="Product">
                <fields />
            </field>
            <field name="Type" allowPopulate="true" entity="cl_OrderLog" field="Type" entityAlias="cl_OrderLog" metadataStatus="Product">
                <fields />
            </field>
            <field name="UserName" allowPopulate="true" entity="cl_OrderLog" field="UserName" entityAlias="cl_OrderLog" metadataStatus="Product">
                <fields />
            </field>
            <field name="UserGuid" allowPopulate="true" entity="cl_OrderLog" field="UserGuid" entityAlias="cl_OrderLog" metadataStatus="Product">
                <fields />
            </field>
            <field name="OrderLogGUID" allowPopulate="true" entity="cl_OrderLog" field="OrderLogGUID" entityAlias="cl_OrderLog" metadataStatus="Product">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="Action" isRedundance="false" isPrimaryAttribute="false" aliasName="Action" entity="cl_OrderLog" entityType="0" />
            <availableField name="Remark" isRedundance="false" isPrimaryAttribute="false" aliasName="Remark" entity="cl_OrderLog" entityType="0" />
            <availableField name="Type" isRedundance="false" isPrimaryAttribute="false" aliasName="Type" entity="cl_OrderLog" entityType="0" />
            <availableField name="UserGuid" isRedundance="false" isPrimaryAttribute="false" aliasName="UserGuid" entity="cl_OrderLog" entityType="0" />
            <availableField name="UserName" isRedundance="false" isPrimaryAttribute="false" aliasName="UserName" entity="cl_OrderLog" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_OrderLog" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_OrderLog" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_OrderLog" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_OrderLog" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_OrderLog" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_OrderLog" entityType="0" />
            <availableField name="OrderLogGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="OrderLogGUID" entity="cl_OrderLog" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_OrderLog" entityType="0" />
            <availableField name="SourceGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="SourceGUID" entity="cl_OrderLog" entityType="0" />
            <availableField name="ActionDate" isRedundance="false" isPrimaryAttribute="false" aliasName="ActionDate" entity="cl_OrderLog" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="e60422a3-6bce-e711-aa53-94c691050e22" name="cl_OrderLog" primaryField="OrderLogGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0" metadataStatus="Product">
                <conditions />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" title="新分区" tabTitle="" disableStyle="true" metadataStatus="Product" key="表单ID-dd4a5e38-1ad0-e711-aad6-94c691050e22|tab索引0|分区索引0|分区名称">
                <events />
                <groups>
                    <group title="新分组" disableStyle="true" key="表单ID-dd4a5e38-1ad0-e711-aad6-94c691050e22|tab索引0|分区索引0|分组索引0|分组名称" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="0d5aedea-b1d0-4877-9af5-695e5fb8a8ca" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="关闭原因" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="备注" field="Remark" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textArea field="Remark" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="required" isHidden="false" metadataStatus="Product" height="60" maxLength="200">
                                                <customProps />
                                                <events />
                                            </textArea>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="47d4ea1f-5375-4acb-8cb2-49e9629e9f1c" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="源GUID" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="源GUID" field="SourceGUID" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox field="SourceGUID" errorMode="default" readonlyMode="none" defaultValue="[query:OrderGuid]" requirementLevel="none" isHidden="true" metadataStatus="Product" isBold="false" maxLength="0">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                    <cell id="167d4ab5-9aaa-49cb-bd6d-3db46115f808" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="类型" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="类型" field="Type" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="number" align="right" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <spinner field="Type" errorMode="default" readonlyMode="none" defaultValue="0.00" requirementLevel="none" templateStyle="" isHidden="true" metadataStatus="Product" precision="2" precisionType="0" rounding="2" roundingType="0" showThousandths="true" isBold="false" allowZero="true" allowEmpty="false" showPercentage="false" unitText="" unitTextType="0" unitTextBizParam="" minValue="-99999999999.99" maxValue="99999999999.99" minOperatorType="ge" maxOperatorType="le">
                                                <customProps />
                                                <events />
                                            </spinner>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="ae9e7b4c-ebc5-4d82-bc97-d6316b1b5b6e" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="操作人" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="操作人" field="UserName" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox field="UserName" errorMode="default" readonlyMode="none" defaultValue="[key:本人姓名]" requirementLevel="none" isHidden="true" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                    <cell id="ca0e7a90-4a67-475f-b734-a9636fe9719c" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="操作人GUID" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="操作人GUID" field="UserGuid" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox field="UserGuid" errorMode="default" readonlyMode="none" defaultValue="[key:本人]" requirementLevel="none" isHidden="true" metadataStatus="Product" isBold="false" maxLength="0">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="de4a5e38-1ad0-e711-aad6-94c691050e22" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="确定" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="YK.M02210304.OrderLogEdit._appForm_mSave_click(e);" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="dc4a5e38-1ad0-e711-aad6-94c691050e22" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.Utility.closeOwnerDialog()" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events />
        <attributes />
        <hiddens />
        <langs />
        <rule>
            <configs>
                <config id="e30a8577-769e-40af-ac76-59c418438902" title="默认规则" controlId="eded6431-c6a3-411d-8f94-188c0610b3b9" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSave" metadataStatus="Product">
                    <handles>
                        <handle handleId="6a9d4c4a-d810-4c90-bc49-97ae6a70ca5b" ruleId="df238172-aa64-4fe7-89c6-56e8cad9c5f9" action="hide" value="" metadataStatus="Product" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" metadataStatus="Product" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>