<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" metadataversion="6" createdBy="系+先生+" createdOn="2017-12-21T08:32:48Z" modifiedBy="系+先生+" modifiedOn="2017-12-28T12:35:26.1703354+08:00" metadataStatus="Product" formId="eccce785-29e6-e711-ab74-4ccc6aeee2e4" name="材料编码规则设置表单" entityId="72401262-4ee5-e711-9ef6-4ccc6aeee2e4" functionPageId="e9cce785-29e6-e711-ab74-4ccc6aeee2e4">
    <dataSource keyName="CodeFormatGUID" entity="cl_CodeFormat" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select cl_CodeFormat.BUGUID as BUGUID,
cl_CodeFormat.CodeFormatTempletGUID as CodeFormatTempletGUID,
cl_CodeFormat.CodeFormatTypeGUID as CodeFormatTypeGUID,
cl_CodeFormat.ExampleData as ExampleData,
cl_CodeFormat.IfIncluded as IfIncluded,
cl_CodeFormat.IfRestore as IfRestore,
cl_CodeFormat.LevelLimit as LevelLimit,
cl_CodeFormat.OrderId as OrderId,
cl_CodeFormat.Separator as Separator,
cl_CodeFormat.CodeFormatGUID as CodeFormatGUID,
cl_CodeFormat.CreatedGUID as CreatedGUID,
cl_CodeFormat.CreatedName as CreatedName,
cl_CodeFormat.CreatedTime as CreatedTime,
cl_CodeFormat.ModifiedGUID as ModifiedGUID,
cl_CodeFormat.ModifiedName as ModifiedName,
cl_CodeFormat.ModifiedTime as ModifiedTime 
From cl_CodeFormat As cl_CodeFormat 
Where cl_CodeFormat.CodeFormatGUID=@oid]]></command>
        <fields>
            <field name="CodeFormatTypeGUID" allowPopulate="true" entity="cl_CodeFormat" field="CodeFormatTypeGUID" entityAlias="cl_CodeFormat" metadataStatus="Product">
                <fields />
            </field>
            <field name="CodeFormatGUID" allowPopulate="true" entity="cl_CodeFormat" field="CodeFormatGUID" entityAlias="cl_CodeFormat" metadataStatus="Product">
                <fields />
            </field>
            <field name="subGrid_cl_CodeFormatTemplet_CodeFormatTypeGUID" allowPopulate="false" entity="cl_CodeFormat" field="CodeFormatTypeGUID" entityAlias="cl_CodeFormat" metadataStatus="Product">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="BUGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="BUGUID" entity="cl_CodeFormat" entityType="0" />
            <availableField name="CodeFormatTempletGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CodeFormatTempletGUID" entity="cl_CodeFormat" entityType="0" />
            <availableField name="CodeFormatTypeGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CodeFormatTypeGUID" entity="cl_CodeFormat" entityType="0" />
            <availableField name="ExampleData" isRedundance="false" isPrimaryAttribute="false" aliasName="ExampleData" entity="cl_CodeFormat" entityType="0" />
            <availableField name="IfIncluded" isRedundance="false" isPrimaryAttribute="false" aliasName="IfIncluded" entity="cl_CodeFormat" entityType="0" />
            <availableField name="IfRestore" isRedundance="false" isPrimaryAttribute="false" aliasName="IfRestore" entity="cl_CodeFormat" entityType="0" />
            <availableField name="LevelLimit" isRedundance="false" isPrimaryAttribute="false" aliasName="LevelLimit" entity="cl_CodeFormat" entityType="0" />
            <availableField name="OrderId" isRedundance="false" isPrimaryAttribute="false" aliasName="OrderId" entity="cl_CodeFormat" entityType="0" />
            <availableField name="Separator" isRedundance="false" isPrimaryAttribute="false" aliasName="Separator" entity="cl_CodeFormat" entityType="0" />
            <availableField name="CodeFormatGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CodeFormatGUID" entity="cl_CodeFormat" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_CodeFormat" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_CodeFormat" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_CodeFormat" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_CodeFormat" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_CodeFormat" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_CodeFormat" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_CodeFormat" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="72401262-4ee5-e711-9ef6-4ccc6aeee2e4" name="cl_CodeFormat" primaryField="CodeFormatGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0" metadataStatus="Product">
                <conditions />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" title="新分区" tabTitle="" disableStyle="true" metadataStatus="Product" key="表单ID-eccce785-29e6-e711-ab74-4ccc6aeee2e4|tab索引0|分区索引0|分区名称">
                <events />
                <groups>
                    <group title="新分组" disableStyle="true" key="表单ID-eccce785-29e6-e711-ab74-4ccc6aeee2e4|tab索引0|分区索引0|分组索引0|分组名称" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="0d5aedea-b1d0-4877-9af5-695e5fb8a8ca" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="编码类别" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="编码规则类型GUID" field="CodeFormatTypeGUID" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <comboBox id="5d896e2d-4e84-4db0-9493-af867302b68f" field="CodeFormatTypeGUID" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" optionsType="sql" redundancyField="" allowEmpty="false" emptyIsDefault="false" valueFromSelect="false" showLongText="false" disableFolderSelect="false">
                                                <customProps />
                                                <events>
                                                    <event name="onvaluechanged" functionName="Mysoft.Clgyl.M02210104.CodeFormatEdit._appForm_codeFormatTypeGUID_valueChanged(e);" enabled="true" metadataStatus="Product" />
                                                </events>
                                                <sql value="SELECT TypeName AS [text],&#xA;       CodeFormatTypeGUID AS [value],&#xA;       (CASE&#xA;         WHEN OrderId = 9 THEN&#xA;          'true'&#xA;         ELSE&#xA;          'false'&#xA;       END) AS isDefault,&#xA;&#x9;   OrderId AS OrderId&#xA;  FROM cl_CodeFormatType&#xA; WHERE AppId = '0221'&#xA;   AND IsEnable = 1" showNumber="10" orderBy="ORDER BY OrderId" searchField="text" />
                                            </comboBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="8d32192f-84cb-4a5e-9a59-3b7661b4e87f" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="示例" visible="false" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="HTML文本" field="tmpllayout_lsbu" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Normal" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <tmplLayout id="70a5f4b9-c9aa-4dfd-907b-bfef7639a99d" field="tmpllayout_lsbu" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product">
                                                <customProps />
                                                <events />
                                                <html><![CDATA[<div class="tmpl-layout" style="border: 1px solid #E7E7EB; background-color: #E0EAF7; padding: 8px 20px; margin:2px 0 12px 0;">
    <div class='row'>
        <div class='col-2' style="color: #666666;">
            参与编码字段：
        </div>
        <div class='col-10' id="codeShow">
            
        </div>
    </div>
    <div class='row'>
        <div class='col-2' style="color: #666666;">
            编码示例：
        </div>
        <div class='col-10' id="codeSerialNumberShow">
            
        </div>
    </div>
</div>]]></html>
                                            </tmplLayout>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="21e9ffe7-bd5a-4513-a918-dfa91dd7bde2" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="编码规则设置列表" visible="false" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="相关列表" field="subGrid_cl_CodeFormatTemplet_CodeFormatTypeGUID" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <subGrid id="1abf7a18-a103-4ef8-99e7-799ca2e4972d" field="subGrid_cl_CodeFormatTemplet_CodeFormatTypeGUID" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" fullField="CodeFormatTypeGUID" height="300">
                                                <customProps />
                                                <events />
                                                <grid field="cl_CodeFormatTemplet.CodeFormatTypeGUID" metadataId="5ecadf16-3de6-e711-ab74-4ccc6aeee2e4" />
                                            </subGrid>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="02461e71-0b5c-43a1-92b3-30726775a982" colSpan="1" rowSpan="1" metadataStatus="Product" />
                                    <cell id="a6366786-cd9e-42dc-9232-8031c7c889dc" colSpan="1" rowSpan="1" metadataStatus="Product" />
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="edcce785-29e6-e711-ab74-4ccc6aeee2e4" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="保存" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Clgyl.M02210104.CodeFormatEdit._appForm_mSave_click(e);" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events>
            <event name="oninit" functionName="Mysoft.Clgyl.M02210104.CodeFormatEdit._appForm_init(e);" enabled="true" metadataStatus="Product" />
        </events>
        <attributes />
        <hiddens />
        <langs />
        <rule>
            <configs>
                <config id="e30a8577-769e-40af-ac76-59c418438902" title="默认规则" controlId="eded6431-c6a3-411d-8f94-188c0610b3b9" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSave" metadataStatus="Product">
                    <handles>
                        <handle handleId="6f3009f7-ec8e-4ede-bfd2-a2c15d5581d1" ruleId="df238172-aa64-4fe7-89c6-56e8cad9c5f9" action="hide" value="" metadataStatus="Product" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" metadataStatus="Product" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>