<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" metadataversion="6" createdBy="周建荣" createdOn="2018-01-06T07:11:15Z" modifiedBy="周建荣" modifiedOn="2018-01-06T18:54:58.38+08:00" metadataStatus="Product" formId="f0166ec8-b0f2-e711-b241-94c691050e22" name="合同结算驳回记录表单" entityId="91e6bace-21de-e711-a96a-54e1ad1cb472" functionPageId="ed166ec8-b0f2-e711-b241-94c691050e22">
    <dataSource keyName="RejectGUID" entity="cl_Reject" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select cl_Reject.Remark as Remark,
cl_Reject.SourceID as SourceID,
cl_Reject.Type as Type,
cl_Reject.CreatedGUID as CreatedGUID,
cl_Reject.CreatedName as CreatedName,
cl_Reject.CreatedTime as CreatedTime,
cl_Reject.ModifiedGUID as ModifiedGUID,
cl_Reject.ModifiedName as ModifiedName,
cl_Reject.ModifiedTime as ModifiedTime,
cl_Reject.RejectGUID as RejectGUID 
From cl_Reject As cl_Reject 
Where cl_Reject.RejectGUID=@oid]]></command>
        <fields>
            <field name="Remark" allowPopulate="true" entity="cl_Reject" field="Remark" entityAlias="cl_Reject" metadataStatus="Product">
                <fields />
            </field>
            <field name="SourceID" allowPopulate="true" entity="cl_Reject" field="SourceID" entityAlias="cl_Reject" metadataStatus="Product">
                <fields />
            </field>
            <field name="Type" allowPopulate="true" entity="cl_Reject" field="Type" entityAlias="cl_Reject" metadataStatus="Product">
                <fields />
            </field>
            <field name="RejectGUID" allowPopulate="true" entity="cl_Reject" field="RejectGUID" entityAlias="cl_Reject" metadataStatus="Product">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="Remark" isRedundance="false" isPrimaryAttribute="false" aliasName="Remark" entity="cl_Reject" entityType="0" />
            <availableField name="SourceID" isRedundance="false" isPrimaryAttribute="false" aliasName="SourceID" entity="cl_Reject" entityType="0" />
            <availableField name="Type" isRedundance="false" isPrimaryAttribute="false" aliasName="Type" entity="cl_Reject" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_Reject" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_Reject" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_Reject" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_Reject" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_Reject" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_Reject" entityType="0" />
            <availableField name="RejectGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="RejectGUID" entity="cl_Reject" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_Reject" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="91e6bace-21de-e711-a96a-54e1ad1cb472" name="cl_Reject" primaryField="RejectGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0" metadataStatus="Product">
                <conditions />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" title="新分区" tabTitle="" disableStyle="true" metadataStatus="Product" key="表单ID-f0166ec8-b0f2-e711-b241-94c691050e22|tab索引0|分区索引0|分区名称">
                <events />
                <groups>
                    <group title="新分组" disableStyle="true" key="表单ID-f0166ec8-b0f2-e711-b241-94c691050e22|tab索引0|分区索引0|分组索引0|分组名称" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="0d5aedea-b1d0-4877-9af5-695e5fb8a8ca" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="驳回原因" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="备注" field="Remark" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textArea id="befe54fa-79c9-481e-a577-7f1a60637da5" field="Remark" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="required" isHidden="false" metadataStatus="Product" height="60" maxLength="1024">
                                                <customProps />
                                                <events />
                                            </textArea>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="f1166ec8-b0f2-e711-b241-94c691050e22" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="保存" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="_appForm_mSave_click(e)" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="ef166ec8-b0f2-e711-b241-94c691050e22" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.Utility.back()" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events />
        <attributes />
        <hiddens>
            <hidden id="625bbc37-22de-e711-a96a-54e1ad1cb472" field="SourceID" errorMode="default" readonlyMode="none" defaultValue="[query:SourceID]" requirementLevel="none" isHidden="true" metadataStatus="Product" allowPopulate="false" isCustomField="false" />
            <hidden id="c26c490e-22de-e711-a96a-54e1ad1cb472" field="Type" errorMode="default" readonlyMode="none" defaultValue="6" requirementLevel="none" isHidden="true" metadataStatus="Product" allowPopulate="false" isCustomField="false" />
        </hiddens>
        <langs />
        <rule>
            <configs>
                <config id="e30a8577-769e-40af-ac76-59c418438902" title="默认规则" controlId="eded6431-c6a3-411d-8f94-188c0610b3b9" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSave" metadataStatus="Product">
                    <handles>
                        <handle handleId="d4ab44d8-412f-454d-8932-75b47e98eeee" ruleId="df238172-aa64-4fe7-89c6-56e8cad9c5f9" action="hide" value="" metadataStatus="Product" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" metadataStatus="Product" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>