<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" metadataversion="6" createdBy="系+先生+" createdOn="2017-11-06T10:45:14Z" modifiedBy="系+先生+" modifiedOn="2017-11-06T19:20:04.9144306+08:00" metadataStatus="Product" formId="f102db91-dfc2-e711-9d40-5c514f31c666" name="项目表单控件" entityId="f7a91ec9-dec2-e711-9d40-5c514f31c666" functionPageId="e202db91-dfc2-e711-9d40-5c514f31c666">
    <dataSource keyName="DemoProjectGUID" entity="cl_DemoProject" withNoLock="true" mode="1">
        <command type="sql" queryDb="" fromSql="cl_DemoProject   where (1=1) "><![CDATA[SELECT cl_DemoProject.Name as [Name],cl_DemoProject.Code as [Code],cl_DemoProject.ParentGUID as [ParentGUID],cl_DemoProject.DemoProjectGUID as [DemoProjectGUID] FROM cl_DemoProject WITH ( NOLOCK )  WHERE  cl_DemoProject.DemoProjectGUID = @oid]]></command>
        <fields>
            <field name="Name" allowPopulate="true" entity="cl_DemoProject" field="Name" entityAlias="cl_DemoProject" />
            <field name="Code" allowPopulate="true" entity="cl_DemoProject" field="Code" entityAlias="cl_DemoProject">
                <fields />
            </field>
            <field name="ParentGUID" allowPopulate="true" entity="cl_DemoProject" field="ParentGUID" entityAlias="cl_DemoProject">
                <fields />
            </field>
            <field name="DemoProjectGUID" allowPopulate="true" entity="cl_DemoProject" field="DemoProjectGUID" entityAlias="cl_DemoProject" />
        </fields>
        <availableFields>
            <availableField name="CreatedGUID" id="e9a91ec9-dec2-e711-9d40-5c514f31c666" isRedundance="false" isPrimaryAttribute="false" clrType="System.Guid" clrTypeShortName="guid" length="0" aliasName="CreatedGUID" entity="cl_DemoProject" entityType="0" />
            <availableField name="CreatedName" id="eaa91ec9-dec2-e711-9d40-5c514f31c666" isRedundance="false" isPrimaryAttribute="false" clrType="System.String" clrTypeShortName="string" length="128" aliasName="CreatedName" entity="cl_DemoProject" entityType="0" />
            <availableField name="CreatedTime" id="e8a91ec9-dec2-e711-9d40-5c514f31c666" isRedundance="false" isPrimaryAttribute="false" clrType="System.DateTime" clrTypeShortName="datetime" length="0" aliasName="CreatedTime" entity="cl_DemoProject" entityType="0" />
            <availableField name="DemoProjectGUID" id="e7a91ec9-dec2-e711-9d40-5c514f31c666" isRedundance="false" isPrimaryAttribute="false" clrType="System.Guid" clrTypeShortName="guid" length="0" aliasName="DemoProjectGUID" entity="cl_DemoProject" entityType="0" />
            <availableField name="ModifiedGUID" id="eca91ec9-dec2-e711-9d40-5c514f31c666" isRedundance="false" isPrimaryAttribute="false" clrType="System.Guid" clrTypeShortName="guid" length="0" aliasName="ModifiedGUID" entity="cl_DemoProject" entityType="0" />
            <availableField name="ModifiedName" id="eda91ec9-dec2-e711-9d40-5c514f31c666" isRedundance="false" isPrimaryAttribute="false" clrType="System.String" clrTypeShortName="string" length="128" aliasName="ModifiedName" entity="cl_DemoProject" entityType="0" />
            <availableField name="ModifiedTime" id="eba91ec9-dec2-e711-9d40-5c514f31c666" isRedundance="false" isPrimaryAttribute="false" clrType="System.DateTime" clrTypeShortName="datetime" length="0" aliasName="ModifiedTime" entity="cl_DemoProject" entityType="0" />
            <availableField name="VersionNumber" id="eea91ec9-dec2-e711-9d40-5c514f31c666" isRedundance="false" isPrimaryAttribute="false" clrType="System.Byte[]" clrTypeShortName="byte[]" length="0" aliasName="VersionNumber" entity="cl_DemoProject" entityType="0" />
            <availableField name="Name" id="7d04e7d4-dec2-e711-9d40-5c514f31c666" isRedundance="false" isPrimaryAttribute="false" clrType="System.String" clrTypeShortName="string" length="128" aliasName="Name" entity="cl_DemoProject" entityType="0" />
            <availableField name="Code" id="8604e7d4-dec2-e711-9d40-5c514f31c666" isRedundance="false" isPrimaryAttribute="false" clrType="System.String" clrTypeShortName="string" length="128" aliasName="Code" entity="cl_DemoProject" entityType="0" />
            <availableField name="ParentGUID" id="4e40457c-dfc2-e711-9d40-5c514f31c666" isRedundance="false" isPrimaryAttribute="false" clrType="System.Guid" clrTypeShortName="guid" length="0" aliasName="ParentGUID" entity="cl_DemoProject" entityType="0" />
        </availableFields>
        <diagrams>
            <diagram id="f7a91ec9-dec2-e711-9d40-5c514f31c666" primaryField="DemoProjectGUID" projFilter="false" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0">
                <conditions />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" title="新分区" tabTitle="" disableStyle="true">
                <events />
                <groups>
                    <group title="新分组" disableStyle="true">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="100%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="1bc9b509-f86d-4135-bd66-f57f054bf008" colSpan="1" rowSpan="1">
                                        <label title="名称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="名称" field="Name" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false">
                                            <customProps />
                                            <textBox id="9022a0f1-208f-4f4d-b323-5c4d4c9b46f5" field="Name" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" isBold="false" maxLength="128">
                                                <customProps />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="c51851f4-dcaa-4f95-b644-a31d2917d052" colSpan="1" rowSpan="1">
                                        <label title="编码" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="编码" field="Code" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false">
                                            <customProps />
                                            <textBox id="d60763fd-0861-41f8-abd7-017db44a7a03" field="Code" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" isBold="false" maxLength="128">
                                                <customProps />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="297e2c52-1f50-4f8b-ac4d-b7cccb8c497f" colSpan="1" rowSpan="1">
                                        <label title="父级GUID" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="父级GUID" field="ParentGUID" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false">
                                            <customProps />
                                            <textBox id="1a872845-5fa8-4f66-be2f-4895f7c2b46f" field="ParentGUID" errorMode="default" readonlyMode="none" defaultValue="[query:parentGUID]" requirementLevel="none" isHidden="true" isBold="false" maxLength="0">
                                                <customProps />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="f202db91-dfc2-e711-9d40-5c514f31c666" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="保存" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.UI.Template.Form.defaultSave();" enabled="true" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="f002db91-dfc2-e711-9d40-5c514f31c666" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.Utility.back();" enabled="true" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events />
        <attributes />
        <hiddens>
            <hidden id="9d253044-f2ba-4cf4-9a19-c28520814746" field="" errorMode="default" readonlyMode="none" defaultValue="[query:]" requirementLevel="none" isHidden="false" allowPopulate="false" isCustomField="false">
                <customProps />
                <events />
            </hidden>
        </hiddens>
        <langs />
        <rule>
            <configs>
                <config id="2b554f34-4865-4765-b916-366845070c31" title="默认规则" controlId="eded6431-c6a3-411d-8f94-188c0610b3b9" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSave">
                    <handles>
                        <handle ruleId="df238172-aa64-4fe7-89c6-56e8cad9c5f9" action="hide" value="" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>