<?xml version="1.0" encoding="utf-8"?>
<form xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" metadataversion="6" createdBy="系+先生+" createdOn="2017-11-26T16:08:37Z" modifiedBy="系+先生+" modifiedOn="2017-11-27T17:32:35.3992122+08:00" metadataStatus="Product" formId="ffe8410f-c4d2-e711-be2e-4ccc6aeee2e4" name="材料供应商表表单控件" entityId="784bf9fb-36d0-e711-be2e-4ccc6aeee2e4" functionPageId="fce8410f-c4d2-e711-be2e-4ccc6aeee2e4">
    <dataSource keyName="ProviderGUID" entity="cl_Provider" withNoLock="true" mode="1">
        <command type="sql" queryDb=""><![CDATA[Select cl_Provider.BUGUIDs as BUGUIDs,
cl_Provider.BuNames as BuNames,
cl_Provider.Corporation as Corporation,
cl_Provider.Documents as Documents,
cl_Provider.Fax as Fax,
cl_Provider.IsJfProvider as IsJfProvider,
cl_Provider.Phone as Phone,
cl_Provider.PostalCode as PostalCode,
cl_Provider.ProjGUID as ProjGUID,
cl_Provider.ProviderCode as ProviderCode,
cl_Provider.ProviderName as ProviderName,
cl_Provider.ProviderShortName as ProviderShortName,
cl_Provider.ProviderType as ProviderType,
cl_Provider.ProviderTypeEnum as ProviderTypeEnum,
cl_Provider.ProviderTypeGUIDs as ProviderTypeGUIDs,
cl_Provider.ProviderTypeNames as ProviderTypeNames,
cl_Provider.TaxpayerIdentification as TaxpayerIdentification,
cl_Provider.TaxpayerQualification as TaxpayerQualification,
cl_Provider.TaxpayerQualificationEnum as TaxpayerQualificationEnum,
cl_Provider.WorkAddress as WorkAddress,
cl_Provider.CreatedGUID as CreatedGUID,
cl_Provider.CreatedName as CreatedName,
cl_Provider.CreatedTime as CreatedTime,
cl_Provider.ModifiedGUID as ModifiedGUID,
cl_Provider.ModifiedName as ModifiedName,
cl_Provider.ModifiedTime as ModifiedTime,
cl_Provider.ProviderGUID as ProviderGUID 
From cl_Provider As cl_Provider 
Where cl_Provider.ProviderGUID=@oid]]></command>
        <fields>
            <field name="ProviderType" allowPopulate="false" entity="cl_Provider" field="ProviderType" entityAlias="cl_Provider" metadataStatus="Product">
                <fields />
            </field>
            <field name="IsJfProvider" allowPopulate="false" entity="cl_Provider" field="IsJfProvider" entityAlias="cl_Provider" metadataStatus="Product">
                <fields />
            </field>
            <field name="ProviderCode" allowPopulate="false" entity="cl_Provider" field="ProviderCode" entityAlias="cl_Provider" metadataStatus="Product">
                <fields />
            </field>
            <field name="ProviderShortName" allowPopulate="false" entity="cl_Provider" field="ProviderShortName" entityAlias="cl_Provider" metadataStatus="Product">
                <fields />
            </field>
            <field name="ProviderName" allowPopulate="false" entity="cl_Provider" field="ProviderName" entityAlias="cl_Provider" metadataStatus="Product">
                <fields />
            </field>
            <field name="BUGUIDs" allowPopulate="false" entity="cl_Provider" field="BUGUIDs" entityAlias="cl_Provider" metadataStatus="Product">
                <fields />
            </field>
            <field name="ProviderTypeGUIDs" allowPopulate="false" entity="cl_Provider" field="ProviderTypeGUIDs" entityAlias="cl_Provider" metadataStatus="Product">
                <fields />
            </field>
            <field name="Corporation" allowPopulate="false" entity="cl_Provider" field="Corporation" entityAlias="cl_Provider" metadataStatus="Product">
                <fields />
            </field>
            <field name="Phone" allowPopulate="false" entity="cl_Provider" field="Phone" entityAlias="cl_Provider" metadataStatus="Product">
                <fields />
            </field>
            <field name="WorkAddress" allowPopulate="false" entity="cl_Provider" field="WorkAddress" entityAlias="cl_Provider" metadataStatus="Product">
                <fields />
            </field>
            <field name="Fax" allowPopulate="false" entity="cl_Provider" field="Fax" entityAlias="cl_Provider" metadataStatus="Product">
                <fields />
            </field>
            <field name="PostalCode" allowPopulate="false" entity="cl_Provider" field="PostalCode" entityAlias="cl_Provider" metadataStatus="Product">
                <fields />
            </field>
            <field name="TaxpayerQualification" allowPopulate="false" entity="cl_Provider" field="TaxpayerQualification" entityAlias="cl_Provider" metadataStatus="Product">
                <fields />
            </field>
            <field name="TaxpayerIdentification" allowPopulate="false" entity="cl_Provider" field="TaxpayerIdentification" entityAlias="cl_Provider" metadataStatus="Product">
                <fields />
            </field>
            <field name="ProviderGUID" allowPopulate="true" entity="cl_Provider" field="ProviderGUID" entityAlias="cl_Provider" metadataStatus="Product">
                <fields />
            </field>
            <field name="Provider2TaxItemGUID" allowPopulate="false" entity="cl_Provider2TaxItem" field="Provider2TaxItemGUID" entityAlias="cl_Provider2TaxItem" metadataStatus="Product">
                <fields />
            </field>
            <field name="subGrid_cl_Provider2TaxItem_ProviderGUID" allowPopulate="true" entity="cl_Provider" field="ProviderGUID" entityAlias="cl_Provider" metadataStatus="Product">
                <fields />
            </field>
        </fields>
        <availableFields>
            <availableField name="BUGUIDs" isRedundance="false" isPrimaryAttribute="false" aliasName="BUGUIDs" entity="cl_Provider" entityType="0" />
            <availableField name="BuNames" isRedundance="false" isPrimaryAttribute="false" aliasName="BuNames" entity="cl_Provider" entityType="0" />
            <availableField name="Corporation" isRedundance="false" isPrimaryAttribute="false" aliasName="Corporation" entity="cl_Provider" entityType="0" />
            <availableField name="Documents" isRedundance="false" isPrimaryAttribute="false" aliasName="Documents" entity="cl_Provider" entityType="0" />
            <availableField name="Fax" isRedundance="false" isPrimaryAttribute="false" aliasName="Fax" entity="cl_Provider" entityType="0" />
            <availableField name="IsJfProvider" isRedundance="false" isPrimaryAttribute="false" aliasName="IsJfProvider" entity="cl_Provider" entityType="0" />
            <availableField name="Phone" isRedundance="false" isPrimaryAttribute="false" aliasName="Phone" entity="cl_Provider" entityType="0" />
            <availableField name="PostalCode" isRedundance="false" isPrimaryAttribute="false" aliasName="PostalCode" entity="cl_Provider" entityType="0" />
            <availableField name="ProjGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ProjGUID" entity="cl_Provider" entityType="0" />
            <availableField name="ProviderCode" isRedundance="false" isPrimaryAttribute="false" aliasName="ProviderCode" entity="cl_Provider" entityType="0" />
            <availableField name="ProviderName" isRedundance="false" isPrimaryAttribute="false" aliasName="ProviderName" entity="cl_Provider" entityType="0" />
            <availableField name="ProviderShortName" isRedundance="false" isPrimaryAttribute="false" aliasName="ProviderShortName" entity="cl_Provider" entityType="0" />
            <availableField name="ProviderType" isRedundance="false" isPrimaryAttribute="false" aliasName="ProviderType" entity="cl_Provider" entityType="0" />
            <availableField name="ProviderTypeEnum" isRedundance="false" isPrimaryAttribute="false" aliasName="ProviderTypeEnum" entity="cl_Provider" entityType="0" />
            <availableField name="ProviderTypeGUIDs" isRedundance="false" isPrimaryAttribute="false" aliasName="ProviderTypeGUIDs" entity="cl_Provider" entityType="0" />
            <availableField name="ProviderTypeNames" isRedundance="false" isPrimaryAttribute="false" aliasName="ProviderTypeNames" entity="cl_Provider" entityType="0" />
            <availableField name="TaxpayerIdentification" isRedundance="false" isPrimaryAttribute="false" aliasName="TaxpayerIdentification" entity="cl_Provider" entityType="0" />
            <availableField name="TaxpayerQualification" isRedundance="false" isPrimaryAttribute="false" aliasName="TaxpayerQualification" entity="cl_Provider" entityType="0" />
            <availableField name="TaxpayerQualificationEnum" isRedundance="false" isPrimaryAttribute="false" aliasName="TaxpayerQualificationEnum" entity="cl_Provider" entityType="0" />
            <availableField name="WorkAddress" isRedundance="false" isPrimaryAttribute="false" aliasName="WorkAddress" entity="cl_Provider" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedGUID" entity="cl_Provider" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedName" entity="cl_Provider" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="CreatedTime" entity="cl_Provider" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedGUID" entity="cl_Provider" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedName" entity="cl_Provider" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="ModifiedTime" entity="cl_Provider" entityType="0" />
            <availableField name="ProviderGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="ProviderGUID" entity="cl_Provider" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="VersionNumber" entity="cl_Provider" entityType="0" />
            <availableField name="CreatedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_Provider2TaxItem_CreatedGUID" entity="cl_Provider2TaxItem" entityType="0" />
            <availableField name="CreatedName" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_Provider2TaxItem_CreatedName" entity="cl_Provider2TaxItem" entityType="0" />
            <availableField name="CreatedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_Provider2TaxItem_CreatedTime" entity="cl_Provider2TaxItem" entityType="0" />
            <availableField name="ModifiedGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_Provider2TaxItem_ModifiedGUID" entity="cl_Provider2TaxItem" entityType="0" />
            <availableField name="ModifiedName" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_Provider2TaxItem_ModifiedName" entity="cl_Provider2TaxItem" entityType="0" />
            <availableField name="ModifiedTime" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_Provider2TaxItem_ModifiedTime" entity="cl_Provider2TaxItem" entityType="0" />
            <availableField name="Provider2TaxItemGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="Provider2TaxItemGUID" entity="cl_Provider2TaxItem" entityType="0" />
            <availableField name="VersionNumber" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_Provider2TaxItem_VersionNumber" entity="cl_Provider2TaxItem" entityType="0" />
            <availableField name="ProviderGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="cl_Provider2TaxItem_ProviderGUID" entity="cl_Provider2TaxItem" entityType="0" />
            <availableField name="TaxRate" isRedundance="false" isPrimaryAttribute="false" aliasName="TaxRate" entity="cl_Provider2TaxItem" entityType="0" />
            <availableField name="TaxItem" isRedundance="false" isPrimaryAttribute="false" aliasName="TaxItem" entity="cl_Provider2TaxItem" entityType="0" />
            <availableField name="EndDate" isRedundance="false" isPrimaryAttribute="false" aliasName="EndDate" entity="cl_Provider2TaxItem" entityType="0" />
            <availableField name="StartDate" isRedundance="false" isPrimaryAttribute="false" aliasName="StartDate" entity="cl_Provider2TaxItem" entityType="0" />
            <availableField name="TaxItemGUID" isRedundance="false" isPrimaryAttribute="false" aliasName="TaxItemGUID" entity="cl_Provider2TaxItem" entityType="0" />
        </availableFields>
        <fixedSortings />
        <summaries />
        <diagrams>
            <diagram id="784bf9fb-36d0-e711-be2e-4ccc6aeee2e4" name="cl_Provider" primaryField="ProviderGUID" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="true" joinType="0" conditionType="0" metadataStatus="Product">
                <conditions />
            </diagram>
            <diagram id="e8103835-e3d0-e711-be2e-4ccc6aeee2e4" name="cl_Provider2TaxItem" primaryField="Provider2TaxItemGUID" parentId="784bf9fb-36d0-e711-be2e-4ccc6aeee2e4" projFilter="false" projectFilterType="0" resFilter="false" type="0" isMaster="false" joinType="1" conditionType="0" metadataStatus="Product">
                <conditions />
                <diagramRelation primaryEntityName="cl_Provider" primaryFieldName="ProviderGUID" entityName="cl_Provider2TaxItem" fieldName="ProviderGUID" relation="cl_Provider.ProviderGUID = cl_Provider2TaxItem.ProviderGUID" />
            </diagram>
        </diagrams>
    </dataSource>
    <layout concurrencyDetect="false" doubleToolBar="false" asyncRender="false" templateStyle="default" showNavigation="false">
        <regions>
            <region regionId="region1" title="基本信息" tabTitle="" disableStyle="true" metadataStatus="Product" key="表单ID-ffe8410f-c4d2-e711-be2e-4ccc6aeee2e4|tab索引0|分区索引0|分区名称">
                <events />
                <groups>
                    <group title="基本信息" disableStyle="false" key="表单ID-ffe8410f-c4d2-e711-be2e-4ccc6aeee2e4|tab索引0|分区索引0|分组索引0|分组名称" metadataStatus="Product">
                        <cellStyles>
                            <cellStyle labelWidth="130px" width="50%" />
                            <cellStyle labelWidth="130px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="0d5aedea-b1d0-4877-9af5-695e5fb8a8ca" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="注册类型" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="注册类型" field="ProviderType" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="e4954a24-b10a-4cd5-81fd-60dd2f48ee9b" field="ProviderType" errorMode="default" readonlyMode="all" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                    <cell id="2a729571-cf05-4b83-aac8-f08d9dd7ebdf" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="是否甲方单位" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="是否甲方" field="IsJfProvider" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <radioButtonList id="9a889cc8-43a8-48a9-b46c-84fc97ae9418" field="IsJfProvider" errorMode="default" readonlyMode="all" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" optionsType="options" redundancyField="" disableFolderSelect="false" showLongText="false" valueFromSelect="false" allowEmpty="false">
                                                <customProps />
                                                <events />
                                                <options>
                                                    <option value="1" text="是" isDefault="false" />
                                                    <option value="0" text="否" isDefault="true" />
                                                </options>
                                            </radioButtonList>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="a0d2d79f-2dbc-4e2a-825a-38a48f2c568f" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="供应商编号" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="供应商编号" field="ProviderCode" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="4a45b798-df3d-4462-a3c3-fe946003c7b3" field="ProviderCode" errorMode="default" readonlyMode="all" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                    <cell id="73379774-142f-43c4-93b1-3557d1ba4204" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="供应商简称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="供应商简称" field="ProviderShortName" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="28780a98-a563-4629-93ba-c142a9f8cb97" field="ProviderShortName" errorMode="default" readonlyMode="all" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="54bb26fa-741b-4233-93b8-da2fc78aa2ed" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="供应商名称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="供应商名称" field="ProviderName" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="7d13b3a9-8feb-4485-a26f-873f64cc9b04" field="ProviderName" errorMode="default" readonlyMode="all" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                    <cell id="71ad0d62-815a-49b3-8b1d-d385aa269154" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="所属公司" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="所属公司" field="BUGUIDs" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <treeSelect id="71f6d2b6-dc05-4b09-9f7d-2292a0fafc9b" field="BUGUIDs" errorMode="default" readonlyMode="all" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" optionsType="sql" redundancyField="" disableFolderSelect="false" showFolderCheckBox="false" multiSelect="false" popupHeight="200" showLongText="false" valueFromSelect="false" allowEmpty="false">
                                                <customProps />
                                                <events />
                                                <sql value="SELECT  BUGUID AS [value] ,&#xA;        BUName AS [text] ,&#xA;        ParentGUID AS [parent],&#xA;&#x9;&#x9;HierarchyCode AS [HierarchyCode]&#xA;FROM    myBusinessUnit&#xA;WHERE   BUType = 1" showNumber="10" orderBy="ORDER BY HierarchyCode ASC" searchField="text" />
                                                <options />
                                            </treeSelect>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="0880ec0f-2671-47f6-83a9-74d568919f54" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="供应商类别" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="供应商类别GUID" field="ProviderTypeGUIDs" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" dataSourceType="Field" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <treeSelect id="811f8dbc-14f5-4ebd-a366-6861d4e77ab5" field="ProviderTypeGUIDs" errorMode="default" readonlyMode="all" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" optionsType="sql" redundancyField="" disableFolderSelect="false" showFolderCheckBox="false" multiSelect="false" popupHeight="200" showLongText="false" valueFromSelect="false" allowEmpty="false">
                                                <customProps />
                                                <events />
                                                <sql value="SELECT  Name AS [text] ,&#xA;        ProviderTypeGUID AS [value] ,&#xA;        ParentProviderTypeGUID AS [parent],&#xA;&#x9;&#x9;Code AS [Code]&#xA;FROM    cl_ProviderType" showNumber="10" orderBy="ORDER BY Code" searchField="text" />
                                                <options />
                                            </treeSelect>
                                        </column>
                                    </cell>
                                    <cell id="6eb84ec8-2496-401a-a84c-8d6315424626" colSpan="1" rowSpan="1" metadataStatus="Product" />
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="8af9b8c7-8dc3-48cf-950b-75365cb193df" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="法人代表" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="法人代表" field="Corporation" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="da6a3e57-1496-4f86-becc-1cd754b9cb5a" field="Corporation" errorMode="default" readonlyMode="all" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                    <cell id="49a8242a-122d-44e7-ae25-df4e8a993c3b" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="电话号码" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="电话号码" field="Phone" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="b93b361a-448b-47a8-b898-2978c6069538" field="Phone" errorMode="default" readonlyMode="all" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="ee9e2522-962e-4ec8-b5b2-3bbb0701f1d4" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="公司注册地址" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="公司注册地址" field="WorkAddress" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="4a514a8a-348b-4e3d-9448-f8ff3c6df82f" field="WorkAddress" errorMode="default" readonlyMode="all" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="1024">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="12287106-07dc-4db6-bc3c-6f825e0274be" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="传真号码" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="传真号码" field="Fax" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="ed24c838-195c-494e-9484-b26e01a6de0a" field="Fax" errorMode="default" readonlyMode="all" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                    <cell id="94c57739-cd64-40f1-8a99-4ebf34ad1445" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="邮政编码" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="邮政编码" field="PostalCode" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="8e74beea-1b88-4292-93b0-433867e6b47c" field="PostalCode" errorMode="default" readonlyMode="all" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                            <row>
                                <cells>
                                    <cell id="b8f33c85-01c9-41a5-925f-73707d9de460" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="纳税资格名称" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="纳税资格名称" field="TaxpayerQualification" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="824ef614-f8b6-4066-84ab-aaa470e6c73c" field="TaxpayerQualification" errorMode="default" readonlyMode="all" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                    <cell id="0f28241d-a8c5-485a-991b-94db776e248d" colSpan="1" rowSpan="1" metadataStatus="Product">
                                        <label title="纳税人识别号" visible="true" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="纳税人识别号" field="TaxpayerIdentification" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <textBox id="d7ba9773-731d-4926-91f5-b472dc9bce68" field="TaxpayerIdentification" errorMode="default" readonlyMode="all" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" isBold="false" maxLength="128">
                                                <customProps />
                                                <events />
                                            </textBox>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                    <group title="增值税税目" disableStyle="false">
                        <cellStyles>
                            <cellStyle labelWidth="110px" width="50%" />
                            <cellStyle labelWidth="110px" width="50%" />
                        </cellStyles>
                        <rows>
                            <row>
                                <cells>
                                    <cell id="b68d24d6-c377-4f68-98b9-fd34d8b3df6a" colSpan="2" rowSpan="1" metadataStatus="Product">
                                        <label title="增值税税目" visible="false" isMoreCondition="false" align="left" tips="" requirementLevel="none" />
                                        <column title="相关列表" field="subGrid_cl_Provider2TaxItem_ProviderGUID" allowEdit="false" id="00000000-0000-0000-0000-000000000000" isHidden="false" fontColor="#222222" enableRollUp="false" exportIgnore="false" dataType="text" align="left" allowSort="false" isSummaryColumn="false" isBold="false" metadataStatus="Product">
                                            <customProps />
                                            <subGrid field="subGrid_cl_Provider2TaxItem_ProviderGUID" errorMode="default" readonlyMode="none" defaultValue="" requirementLevel="none" isHidden="false" metadataStatus="Product" fullField="ProviderGUID" height="300">
                                                <customProps />
                                                <events />
                                                <grid field="cl_Provider2TaxItem.ProviderGUID" metadataId="a1d54e1c-c8d2-e711-be2e-4ccc6aeee2e4" />
                                            </subGrid>
                                        </column>
                                    </cell>
                                </cells>
                            </row>
                        </rows>
                    </group>
                </groups>
            </region>
        </regions>
        <toolbars>
            <toolbar toolbarId="00e9410f-c4d2-e711-be2e-4ccc6aeee2e4" type="global" templateStyle="default">
                <groups>
                    <group align="left">
                        <items />
                    </group>
                    <group align="center">
                        <items>
                            <item itemId="eded6431-c6a3-411d-8f94-188c0610b3b9" title="保存" isHighlight="true" type="button" id="mSave" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Clgyl.M02210106.ProviderSetTax._appForm_mSave_click(e);" enabled="true" />
                                </events>
                                <customProps />
                            </item>
                            <item itemId="fee8410f-c4d2-e711-be2e-4ccc6aeee2e4" title="取消" isHighlight="false" type="button" id="mCancel" rowButtonStyle="2" isMenuButton="false" switchState="false" isHidden="false" isDisabled="false" metadataStatus="Product">
                                <items />
                                <events>
                                    <event name="onclick" functionName="Mysoft.Map6.Utility.back();" enabled="true" metadataStatus="Product" />
                                </events>
                                <customProps />
                            </item>
                        </items>
                    </group>
                    <group align="right">
                        <items />
                    </group>
                </groups>
                <events />
                <quickFinds />
            </toolbar>
        </toolbars>
        <events />
        <attributes />
        <hiddens />
        <langs />
        <rule>
            <configs>
                <config id="e30a8577-769e-40af-ac76-59c418438902" title="默认规则" controlId="eded6431-c6a3-411d-8f94-188c0610b3b9" controlType="toolbaritem" controlSubType="global" controlProp="isHidden" controlName="mSave" metadataStatus="Product">
                    <handles>
                        <handle ruleId="df238172-aa64-4fe7-89c6-56e8cad9c5f9" action="hide" value="" />
                    </handles>
                </config>
            </configs>
            <groups>
                <group id="df238172-aa64-4fe7-89c6-56e8cad9c5f9" title="默认规则" rule="{&quot;condition&quot;:&quot;AND&quot;,&quot;rules&quot;:[{&quot;action&quot;:&quot;editMode&quot;,&quot;field&quot;:&quot;_editMode&quot;,&quot;type&quot;:&quot;number&quot;,&quot;operator&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;3&quot;}]}" metadataStatus="Product" />
            </groups>
        </rule>
    </layout>
    <checkRules />
</form>