<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <configSections>
    <section name="rewriter" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
  </configSections>
  <appSettings>
    <!--工厂模式 -->
    <add key="FactoryName" value="BLL"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlConn" providerName="System.Data.SqlClient" connectionString="Server=.;database=YK_Config;uid=sa;pwd=_1qaz7410;"/>
    <!--95938-->
  </connectionStrings>
  <system.web>
    <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/Admin/Tishi.aspx"/>
    </authentication>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpRuntime maxRequestLength="1048576" executionTimeout="60"/>
    <customErrors mode="Off"/>
    <sessionState mode="InProc"/>
    <!--<identity impersonate="true" userName="test" password="test"/>-->
    <globalization requestEncoding="gb2312" responseEncoding="gb2312"/>
    <pages  validateRequest="false" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <!--后台系统用户控件-->
        <add tagPrefix="yk" tagName="CategoryList" src="~/Admin/Controls/CategoryList.ascx"/>
        <add tagPrefix="yk" tagName="CategoryView" src="~/Admin/Controls/CategoryView.ascx"/>
        <add tagPrefix="yk" tagName="DocUpload" src="~/Admin/Controls/DocUpload.ascx"/>
        <add tagPrefix="yk" tagName="FileUpload" src="~/Admin/Controls/FileUpload.ascx"/>
        <add tagPrefix="yk" tagName="UploadWebImg" src="~/Admin/Controls/UploadWebImg.ascx"/>
        <add tagPrefix="yk" tagName="CategoryMenu" src="~/Admin/Controls/CategoryMenu.ascx"/>
        <add tagPrefix="yk" tagName="AdminHeader" src="~/Admin/Controls/AdminHeader.ascx"/>
        <add tagPrefix="yk" tagName="ReportChart" src="~/Admin/Controls/ReportChart.ascx"/>
        <add tagPrefix="yk" tagName="ProductCategory" src="~/Admin/Controls/ProductCategory.ascx"/>
        <add tagPrefix="yk" tagName="ShowMenu" src="~/Admin/Controls/ShowMenu.ascx"/>
        <!--前台用户控件-->
        <add tagPrefix="yk" tagName="Address" src="~/Controls/Address.ascx"/>
        <add tagPrefix="yk" tagName="Bottom" src="~/Controls/Bottom.ascx"/>
        <add tagPrefix="yk" tagName="Help" src="~/Controls/Help.ascx"/>
        <add tagPrefix="yk" tagName="MemberMenu" src="~/Controls/MemberMenu.ascx"/>
        <add tagPrefix="yk" tagName="ProBrand" src="~/Controls/ProBrand.ascx"/>
        <add tagPrefix="yk" tagName="ProBrowse" src="~/Controls/ProBrowse.ascx"/>
        <add tagPrefix="yk" tagName="Adver" src="~/Controls/Adver.ascx"/>
        <add tagPrefix="yk" tagName="CategoryAdver" src="~/Controls/CategoryAdver.ascx"/>
        <!--商品公告-->
        <add tagPrefix="yk" tagName="ProBulletin" src="~/Controls/ProBulletin.ascx"/>
        <add tagPrefix="yk" tagName="ProCategory" src="~/Controls/ProCategory.ascx"/>
        <!--商品评论-->
        <add tagPrefix="yk" tagName="ProComment" src="~/Controls/ProComment.ascx"/>
        <add tagPrefix="yk" tagName="ProGroupBuy" src="~/Controls/ProGroupBuy.ascx"/>
        <add tagPrefix="yk" tagName="ProHotNew" src="~/Controls/ProHotNew.ascx"/>
        <add tagPrefix="yk" tagName="ProNew" src="~/Controls/ProNew.ascx"/>
        <add tagPrefix="yk" tagName="ProSecKill" src="~/Controls/ProSecKill.ascx"/>
        <add tagPrefix="yk" tagName="ProSpecials" src="~/Controls/ProSpecials.ascx"/>
        <add tagPrefix="yk" tagName="ProVote" src="~/Controls/ProVote.ascx"/>
        <add tagPrefix="yk" tagName="Top" src="~/Controls/Top.ascx"/>
        <!--信息模块-->
        <add tagPrefix="yk" tagName="HelpMenu" src="~/Controls/HelpMenu.ascx"/>
        <add tagPrefix="yk" tagName="NewsMenu" src="~/Controls/NewsMenu.ascx"/>
        <!--自定义服务控件-->
        <add tagPrefix="yk" assembly="AspNetPager" namespace="Wuqi.Webdiyer"/>
        <add tagPrefix="yk" assembly="YK.Controls" namespace="YK.Controls"/>
      </controls>
    </pages>
  </system.web>
  <location path="Admin/System">
    <system.web>
      <authorization>
        <allow roles="1"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <!--<bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceBehavior1">
          <callbackDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>-->
    <client>
      <endpoint address="http://localhost:8733/AdminUser.svc"
        binding="basicHttpBinding" contract="YK.ServiceContract.IAdmin_User" name="IService2" />
      <endpoint address="net.tcp://localhost:8732/AdminUser.svc" bindingConfiguration="Binding1"
        binding="netTcpBinding" contract="YK.ServiceContract.IAdmin_User" name="IService1" />

      <!--endpoint中设置下面两个属性，必须保证bindings、behaviors节点存在-->
      <!-- behaviorConfiguration="ServiceBehavior1" bindingConfiguration="BasicHttpBinding_IService1"-->
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="Binding1" closeTimeout="00:10:10" openTimeout="00:10:10"
         receiveTimeout="00:10:00" sendTimeout="00:11:00" transactionFlow="false"
         transferMode="Buffered" transactionProtocol="OleTransactions"
         hostNameComparisonMode="StrongWildcard" listenBacklog="1000"
         maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="4098"
         maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="4098" maxStringContentLength="2147483647"
           maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
           enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IService1">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>