
@{
    ViewBag.Title = "Modules";
}


<table class="fromTable">
    <tr>
        <th>租户名称：</th>
        <td>
            <yk:TextBox ID="TbName" runat="server" Width="300px" GroupName="Validator" CssClass="inputCss"
                        title="名称" LabelID="LbName"></yk:TextBox>
            <span id="LbName">*</span>
        </td>
    </tr>
    <tr>
        <th>租户编码：</th>
        <td>
            <yk:TextBox ID="TbCode" runat="server" Width="300px" GroupName="Validator" CssClass="inputCss"
                        title="租户编码" LabelID="LbCode"></yk:TextBox>
            <span id="LbCode">*</span>
        </td>
    </tr>
    <tr>
        <th>数据库类型：</th>
        <td>
            <yk:DropDownList runat="server" ID="DDLDbType" title="数据库类型" LabelID="LbDbType" GroupName="Validator">
            </yk:DropDownList>
            <span id="LbDbType">*</span>
        </td>
    </tr>
    <tr>
        <th>数据库地址：</th>
        <td>
            <yk:TextBox ID="TbServer" runat="server" Width="300px" GroupName="Validator" CssClass="inputCss"
                        title="数据库地址" LabelID="LbServer"></yk:TextBox>
            <span id="LbServer">*</span>
        </td>
    </tr>
    <tr>
        <th>数据库名称：</th>
        <td>
            <yk:TextBox ID="TbDatabaseName" runat="server" Width="300px" GroupName="Validator" CssClass="inputCss"
                        title="数据库名称" LabelID="LbDatabaseName"></yk:TextBox>
            <span id="LbDatabaseName">*</span>
        </td>
    </tr>
    <tr>
        <th>用户名：</th>
        <td>
            <yk:TextBox ID="TbUserName" runat="server" Width="300px" GroupName="Validator" CssClass="inputCss"
                        title="用户名" LabelID="LbUserName"></yk:TextBox>
            <span id="LbUserName">*</span>
        </td>
    </tr>
    <tr>
        <th>密码：</th>
        <td>
            <yk:TextBox ID="TbPassword" runat="server" Width="300px" GroupName="Validator" CssClass="inputCss"
                        title="密码" LabelID="LbPassword"></yk:TextBox>
            <span id="LbPassword">*</span>
        </td>
    </tr>
    <tr>
        <th>端口：</th>
        <td>
            <yk:TextBox ID="TbPort" runat="server" Width="300px" GroupName="Validator" CssClass="inputCss"
                        title="端口" LabelID="LbPort"></yk:TextBox>
            <span id="LbPort">*</span>
        </td>
    </tr>
    <tr>
        <th>是否禁用：</th>
        <td>
            <asp:CheckBox ID="CheckBoxState" runat="server" Checked="true" />
        </td>
    </tr>
</table>